@model Connect4m_Web.Models.AttendanceModel
@{
    ViewData["Title"] = "ApplyStudentLeave";
}



<!DOCTYPE html>
<html>
<head>
    @*<link href="~/Themes/assets/css/StyleSheets/ApplyStudentLeave.css" rel="stylesheet" />*@
    @*<link href="~/Themes/assets/css/StyleSheets/LoadingSpinner.css" rel="stylesheet" />*@

</head>
<body>

    <div class="flex-grow-1 container-p-y container-fluid">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Student Module /</span>STUDENT LEAVE DETAILS</h4>
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">
                <ul class="nav nav-pills" id="myTab" role="tablist">
                    <li class="nav-item" id="refreshButton"><a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Apply Leave</a></li>
                    <li class="nav-item" id="ViewStudentLeaves_BTN"><a class="nav-link" style="display:none" id="profile-tabs" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">View Student Leaves</a></li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    @*--------------Tab 1 --------------- start----------*@
                    <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <div class="card mb-4" id="StudentAttendanceDetails_Card" style="display:none">
                            <div class="card-header flex-column flex-md-row">
                                <div class="head-label text-center">
                                    <h5 class="card-title mb-0">
                                        <span>ATTENDANCE DETAILS</span>
                                        @*<span>YOUR SEARCH RESULTED &nbsp;<span id="Counts" class="badge badge-center rounded-pill bg-primary bg-glow">@Model.Count()</span>  RECORD(S).</span>*@
                                    </h5>
                                </div>
                            </div>
                            <div class="table-responsive text-nowrap">
                                <table id="StudentAttendanceDetails_Table" class="table table-hover table-bordered no-footer dataTable">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Total Present Days</th>
                                            <th>Total Absent Days</th>
                                            <th>	Present Percentage</th>
                                            <th>Absent Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        @*---------------------form code------------------------*@

                        <p id="your-p-id">
                            <span class="ErrorMessageSpan" id="followingfieldsErrorSPAN"></span>
                            <span class="ErrorMessageSpan" id="Classid1"></span>
                            <span class="ErrorMessageSpan" id="Studentid1"></span>
                            <span class="ErrorMessageSpan" id="Leavetypeid1"></span>
                            <span class="ErrorMessageSpan" id="Daystype1"></span>
                            <span class="ErrorMessageSpan" id="mySpan"></span>
                            <span class="ErrorMessageSpan" id="ErrorrmessageSPAN"></span>
                            <span class="ErrorMessageSpan" id="Datechecking"></span>
                        </p>
                        <span class="ErrorMessageSpan" id="successMessage"></span>

                        <div class="card mb-4">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">
                                    <span>
                                        Apply Student Leave
                                    </span>
                                </h5><small class="required">INDICATES REQUIRED FEILDS</small>
                            </div>
                            <div class="card-body">
                                <form id="myForm">
                                    <div asp-validation-summary="ModelOnly" id="validationSummery" class="text-danger"></div>
                                    <div class="row ">
                                        <div class="col">

                                            @*----------------------*@
                                            <div class="mb-1 row ClsStaffEnables" id="ClassNAme_div">
                                                <label class="col-sm-4 col-form-label  text-end required" asp-for="ClassidString" for="basic-default-name">Class</label>
                                                <div class="col-sm-4">
                                                    <div class="position-relative">
                                                        @Html.DropDownListFor(model => model.ClassidString, new SelectList(ViewBag.Classnames, "Value", "Text"), "     -------select------- ", new { @id = "classid", @class = "select2 form-select select2-hidden-accessible" })
                                                        <span asp-validation-for="ClassidString" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="mb-1 row ClsStaffEnables" id="StudentName_div">
                                                <label class="col-sm-4 col-form-label  text-end required" asp-for="Studentid" for="basic-default-name">Student</label>
                                                <div class="col-sm-4">
                                                    <div class="position-relative">
                                                        @Html.DropDownListFor(model => model.Studentid, new SelectList(string.Empty, "Value", "Text"), "  ", new { @id = "studentid", @class = "select2 form-select select2-hidden-accessible" })
                                                        <span asp-validation-for="Studentid" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="mb-1 row ClsStaffEnables" id="AdmissionNo_Div">
                                                <label class="col-sm-4 col-form-label  text-end" for="basic-default-name">Admission Number</label>
                                                <div class="col-sm-4">
                                                    <label id="AdmissionNum" class="form-control-plaintext"></label>
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="mb-1 row ClsStaffEnables" id="Attendence_Div">
                                                <label class="col-sm-4 col-form-label  text-end" for="basic-default-name">Attendance Percentage </label>
                                                <div class="col-sm-4">
                                                    <label id="AttendancePercentage" class="form-control-plaintext"></label>
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="mb-1 row ">
                                                <label class="col-sm-4 col-form-label  text-end required" asp-for="Leavetypeid" for="basic-default-name">Leave Type</label>
                                                <div class="col-sm-4">
                                                    <div class="position-relative">
                                                        @Html.DropDownListFor(model => model.Leavetypeid, new SelectList(ViewBag.LeaveType, "Value", "Text"), "-------select-------  ", new { @id = "leavetype", @class = "select2 form-select select2-hidden-accessible" })
                                                        <span asp-validation-for="Leavetypeid" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="mb-2 row ">
                                                <label class="col-sm-4 col-form-label  text-end required" asp-for="Daystype" for="basic-default-name">Day Type</label>
                                                <div class="col-sm-4">
                                                    <div class="col mt-2">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input check" asp-for="Daystype" id="radioinline1" type="radio" name="Daystype" value="0" required />
                                                            <label class="form-check-label" for="radioinline1">Full Day</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input check" asp-for="Daystype" id="radioinline2" type="radio" name="Daystype" value="1" required />
                                                            <label class="form-check-label" for="radioinline2"> Half Day</label>
                                                        </div>
                                                        <span asp-validation-for="Daystype" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            @*----------------------*@

                                            @*<div id="Fullday">*@
                                            <div class="mb-2 row">
                                                <label class="col-sm-4 col-form-label  text-end required" style="display:none" id="HAlfdayLB" for="basic-default-name">Date</label>
                                                <label class="col-sm-4 col-form-label  text-end required" id="fromdateLB" for="basic-default-name">From Date</label>
                                                <div class="col-sm-4">
                                                    <input type="date" asp-for="Fromdate" class="form-control" id="fromdate" />
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="mb-2 row">
                                                <label class="col-sm-4 col-form-label  text-end required" id="todateLB" for="basic-default-name">To Date</label>
                                                <div class="col-sm-4">
                                                    <input type="date" asp-for="Todate" class="form-control" id="todate" />
                                                </div>
                                            </div>
                                            @*</div>*@
                                            @*----------------------*@
                                            <div class="mb-2 row">
                                                <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Leave Comments<br />&nbsp; <i>(Max of 500 Characters)</i></label>
                                                <div class="col-sm-4">
                                                    <textarea asp-for="Leavecomments" id="Textarea" maxlength="500" class="form-control" rows="3"></textarea>
                                                    <label class="form-control-plaintext"><span id="TextareacountSPAN">500</span> Character(s) remaining.</label>
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="mb-2 row">
                                                <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Attach Document</label>
                                                <div class="col-sm-4">
                                                    <input asp-for="file" type="file" name="file" id="Attachfile1" class="form-control" />
                                                    <a class="image-link" id="AttachDocumentTB_FileName_LABEL"></a> &nbsp;
                                                    <a style="display:none" class="btn rounded-pill btn-label-danger waves-effect deleteFileClass" id="AttachDocumentTB_FileName_LABEL_DELETE"></a>
                                                    <input type="hidden" asp-for="attachdocument" name="attachdocument" id="AttachDocumentTB_FileName_TEXTBOX" />
                                                    <input type="hidden" asp-for="Text" id="AttachDocumentTB_FileName_ForDelete" />
                                                </div>
                                            </div>
                                            @*----------------------*@

                                            <input type="hidden" name="InstanceID" id="instanceid" value="@ViewBag.instanceid" />
                                            <input type="hidden" asp-for="StudentLeaveDetailsID" id="submitBStudentLeaveDetailsIDutton" />
                                            <input type="hidden" asp-for="Studentid" value="@ViewBag.StudentId_ByParent" id="Studentid" />
                                            @*----------------------*@
                                            <div class="row justify-content-end">
                                                <div class="col-sm-8">
                                                    <button type="reset" class="btn btn-warning waves-effect waves-light" id="clearbutton" onclick="FN_ClearValues()" value="Clear">Clear</button>
                                                    <button type="submit" class="btn btn-success waves-effect waves-light" id="savebutton" value="Apply Leave">Apply Leave</button>
                                                </div>
                                            </div>
                                            @*--------------------------*@
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        @*=========================== searched table---------------------------------------*@
                        <div class="card mb-4">
                            <div class="card-header flex-column flex-md-row">
                                <div class="head-label text-center">
                                    <h5 class="card-title mb-0">
                                        @*<span id="CountOfRecords_StudentLeaves"></span>*@
                                        <span>YOUR SEARCH RESULTED &nbsp;<span id="CountOfRecords_StudentLeaves" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="table-responsive text-nowrap">
                                <form id="StudentDataGetting_ID_FORM">
                                    <table id="StudentDataGetting_ID" class="table table-hover table-bordered no-footer dataTable " style="display:none">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>S No</th>
                                                <th>Name</th>
                                                <th>Leave Applied Date</th>
                                                <th>From Date</th>
                                                <th>To Date</th>
                                                <th>No. of Days</th>
                                                <th>	Leave Status</th>
                                                <th>Approved / Rejected Date</th>
                                                <th>View File</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        @*<tfoot>
                                                <tr><td style="padding:0px" colspan="10"><p style="text-align: center; font-size: 11px; margin-top: 9px; margin-bottom: 9px;" id="StudentDataGetting_ID_Table_pagination"></p></td></tr>
                                            </tfoot>*@
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                    @*--------------Tab 1 --------------- end----------*@

                    @*--------------Tab 2 --------------- start----------*@
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        <p id="ViewStudentDetails_P_Span">
                            <span class="ErrorMessageSpan" id="followingfieldsErrorSPAN_OF_ViewstudentLeaves"></span>
                            <span class="ErrorMessageSpan" id="Monthid_Span"></span>
                            <span class="ErrorMessageSpan" id="AcadamicYearID_Span"></span>
                        </p>

                        <div class="card mb-4">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">
                                    <span>
                                        LEAVE LEVEL SEARCH
                                    </span>
                                </h5>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col">

                                            @*--------------------------*@
                                            <div class="row mb-3 ">
                                                <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Month</label>
                                                <div class="col-sm-4 ">
                                                    <div class="position-relative">
                                                        <select id='Monthid' class="select2 form-select select2-hidden-accessible">
                                                            <option value=''>-----select-----</option>
                                                            <option value='1'>Janaury</option>
                                                            <option value='2'>February</option>
                                                            <option value='3'>March</option>
                                                            <option value='4'>April</option>
                                                            <option value='5'>May</option>
                                                            <option value='6'>June</option>
                                                            <option value='7'>July</option>
                                                            <option value='8'>August</option>
                                                            <option value='9'>September</option>
                                                            <option value='10'>October</option>
                                                            <option value='11'>November</option>
                                                            <option value='12'>December</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            @*--------------------------*@
                                            <div class="row mb-3 ">
                                                <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Academic Year</label>
                                                <div class="col-sm-4 ">
                                                    <div class="position-relative">
                                                        <select id='AcadamicYearID' class="select2 form-select select2-hidden-accessible" asp-items="@(new SelectList(""))">
                                                            <option value="">-----select-----</option>
                                                            @foreach (var item in ViewBag.AcademicYearID_OF_Student)
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                                @*if (item.Value == "1737")
                                                                    {
                                                                        <option selected="selected" value="@item.Value">@item.Text</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@item.Value">@item.Text</option>
                                                                    }*@
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            @*--------------------------*@
                                            <div class="row justify-content-end">
                                                <div class="col-sm-8">
                                                    <button type="reset" class="btn btn-warning waves-effect waves-light" id="clearbutton1" value="Clear">Clear</button>
                                                    <button type="submit" class="btn btn-success waves-effect waves-light" id="SearchBTN_ViewStudentLeaves" onclick="Search_stp_ViewStudentLeaves(event)" value="Search">Search</button>
                                                </div>
                                            </div>
                                            @*--------------------------*@

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        @*=======================searched table values=============*@
                        <div class="card mb-4">
                            <div class="card-header flex-column flex-md-row">
                                <div class="head-label text-center">
                                    <h5 class="card-title mb-0">
                                        @*<span id="CountOfRecords_View_Student_Leaves"></span>*@
                                        <span>YOUR SEARCH RESULTED &nbsp;<span id="CountOfRecords_View_Student_Leaves" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="table-responsive text-nowrap">
                                <table id="ViewStudentLeaves_Table" class="table table-hover table-bordered no-footer dataTable" style="display:none">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Leave Type</th>
                                            <th>	Total</th>
                                            <th>Pending</th>
                                            <th>Approved</th>
                                            <th>	Rejected</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>



                    </div>
                    @*--------------Tab 2 --------------- end----------*@
                </div>
            </div>
        </div>
    </div>

    @*<input type="hidden" id="Roleid" value="@ViewBag.roleid" />*@
    <input type="hidden" id="RoleName" value="@ViewBag.RoleName" />
    <input type="hidden" id="StudentId_ByParent" value="@ViewBag.StudentId_ByParent" />
</body>
</html>

@*<span id="TextareacountSPAN122"></span>*@


@*<input type="text" id="ReadyFunction_Count" value="1" hidden/>*@


@*<input type="text" id="TEXTBOXtoStop_ReadyFunction" />*@



@*<h2>Uploaded File:</h2>
    <img src="/StudentLeavesimagefiles/45D.jpg" width="50" alt="Uploaded File" id="img" />*@
@*<button id="refreshButton">Refresh</button>*@


<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.2.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>

<!-- jQuery Cookie Plugin -->
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>*@

@*This is for getting student names dropdown*@
@*@{var roleName = Context.Request.Cookies["RoleName"];}*@

<link href="~/Datatable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Datatable/datatable.min.js"></script>
<script>  var js = jQuery.noConflict(true);</script>
<script src="~/js/ApplyStudentLeave.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

