@model Connect4m_Web.Models.AttendanceModel
@{//var marginbtn="";
    ViewData["Title"] = "ApplyStaffLeave";

    var margin = "";

    if (@ViewBag.ScreenName == "ManageStaffLeave")
    {
        Layout = null;
        margin = "868px";//for print btn
                         //marginbtn="723px"; //for save as draft btns
    }
    else
    {
        //marginbtn="770px";
        margin = "920px";
    }
}
@if (@ViewBag.ScreenName == "ManageStaffLeave")
{
    <div class="demo-inline-spacing">
        <button class="btn rounded-pill btn-outline-info waves-effect" id="BtnAddNewLevels" onclick="BackTOSearhUserLeaves(event)">
            Back to Search
        </button>
    </div>
}
<html>
<head>
    @*<link href="~/Themes/assets/css/StyleSheets/ApplyStaffLeave.css" rel="stylesheet" />*@
    @*<link href="~/Themes/assets/css/StyleSheets/LoadingSpinner.css" rel="stylesheet" />*@
</head>
<body>

    <!-- Loading Spinner -->
    <!--<div class="loading-overlay" id="loadingOverlay">
        <div class="loader"></div>
        <div class="loading-spinner"></div>
        <div class="loading-text">Loading...</div>
    </div>-->
    @*<link href="~/datatable/jquery.dataTables.css" rel="stylesheet" />*@
    @*<link href="~/datatable/jquery.dataTables.min.css" rel="stylesheet" />*@

    @*<link rel="stylesheet" type="text/css" href="https://code.jquery.com/jquery-3.3.1.js">*@


    <div class="flex-grow-1 container-p-y container-fluid">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Staff Module /</span>STAFF LEAVE DETAILS</h4>
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">

                <ul class="nav nav-pills" id="myTab" role="tablist">
                    <li class="nav-item" id="GetMyLeaveDetails_BTN"><a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" onclick="GetMyLeaveDetails_CallingMethod()" aria-selected="false">My Leaves</a></li>
                    <li class="nav-item" id="refreshButton"><a class="nav-link" id="profile-tabs" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" onclick="ApplyLeave_refreshpage()" aria-selected="false">Apply Leave</a></li>
                    <li class="nav-item" id="GetMyAppliedLeaves_BTN"><a class="nav-link " id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" onclick="LeaveStatusTabCalingFunction_Btn()" aria-selected="true">Leave Status</a></li>
                </ul>

                @if (@ViewBag.ScreenName == "ManageStaffLeave")
                {
                    <div class="card mb-4">
                        <div class="row">
                            <div class="col">
                                <div class="row ">
                                    <label class="col-sm-5 col-form-label  text-end " for="basic-default-name">Employee Name</label>
                                    <div class="col-sm-4 ">
                                        <label class="form-control-plaintext" id="SpanEmpName"> </label>
                                    </div>
                                </div>
                                <div class="row ">
                                    <label class="col-sm-5 col-form-label  text-end " for="basic-default-name">Department </label>
                                    <div class="col-sm-4 ">
                                        <label class="form-control-plaintext" id="SpanEmpDept"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


                <div class="tab-content" id="myTabContent">
                    @*------------------------Tab 1 Start-------------------*@
                    <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="card mb-4">
                            <div class="card-header flex-column flex-md-row">
                                <div class="head-label text-center">
                                    <h5 class="card-title mb-0">
                                        <span id="TableHeadingId">MY LEAVES DETAILS</span>
                                        @*<span>YOUR SEARCH RESULTED &nbsp;<span id="Counts" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>*@
                                    </h5>
                                </div>
                            </div>
                            <div class="table-responsive text-nowrap">
                                <table id="MyLeaveDetails_Table" style="display:none" class="table table-hover table-bordered no-footer dataTable">
                                    @*<table id="tableid" class="table table-responsive">*@
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Leave Type</th>
                                            <th>Total</th>
                                            <th>Used</th>
                                            <th>Approved Not Used</th>
                                            <th>Leaves Awaiting Approval</th>
                                            <th>Available</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*@foreach (var item in ViewBag.GetMyLeaveDetails)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.Leavetype1
                                                    </td>
                                                    <td>
                                                        @item.TotalLeaves
                                                    </td>
                                                    <td>
                                                        @item.DaysUsed
                                                    </td>

                                                    <td>
                                                        @item.ApprovedNotUsedLeaves
                                                    </td>
                                                    <td>
                                                        @item.LeavesAwaitingApprovalLeaves
                                                    </td>
                                                    <td>
                                                        @item.AvailableLeaves
                                                    </td>
                                                </tr>
                                            }*@
                                    </tbody>

                                    @*<tfoot id="MyLeaveDetails_Footer">
                                            <tr><td colspan="6"><div style="text-align:center" id="MyLeaveDetails_Table_pagination"></div></td></tr>



                                        </tfoot>*@
                                </table>
                                @*<div id="pagination"></div>*@
                                <label class="form-label" style="color: red;display:none" id="LossOfPayMessageId">Note:- Loss Of Pay is applicable when there is no leave balance in your account.</label>


                            </div>

                        </div>
                    </div>

                    @*------------------------Tab 1 End-------------------*@



                    @*------------------------Tab 2 Start-------------------*@
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        @*=====================MY SAVED LEAVES Table=====================*@
                        <div class="card mb-4" id="accordionoc_myFormCart" style="display:none">
                            <div class="card-header flex-column flex-md-row">
                                <div class="head-label text-center">
                                    <h5 class="card-title mb-0">
                                        <span>MY SAVED LEAVES</span>
                                        @*<span>YOUR SEARCH RESULTED &nbsp;<span id="Counts" class="badge badge-center rounded-pill bg-primary bg-glow">@Model.Count()</span>  RECORD(S).</span>*@
                                    </h5>
                                </div>
                            </div>
                            <div class="table-responsive text-nowrap">
                                @*<form id="myFormCartREFRESH">*@
                                <table id="myFormCartREFRESHTable" class="table table-hover table-bordered no-footer dataTable link">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>S No</th>
                                            <th>Reason</th>
                                            <th>From Date</th>
                                            <th>To Date</th>
                                            <th>No Of  Days</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    </tbody>
                                    <!--<tfoot>
                                    <tr><td style="padding:2px" colspan="10"><p style="text-align: center; font-size:10px;" id="MySavedLeaves_Table_pagination"></p></td></tr>-->
                                    @*<tr><td colspan="10"><div style="text-align:center" id="MySavedLeaves_Table_pagination"></div></td></tr>*@

                                    <!--</tfoot>-->
                                </table>
                                @*<div id="pagination"></div>*@
                                @*</form>*@
                            </div>

                        </div>
                        <p id="your-p-id">
                            <span class="ErrorMessageSpan" id="successMessage"></span>
                            <span class="ErrorMessageSpan" id="followingfieldsErrorSPAN"></span>
                            @*<span id="roleerror" class="text-danger"></span>*@

                            <span class="ErrorMessageSpan" id="DescriptionidERROR"></span>
                            <span class="ErrorMessageSpan" id="DaystypeERROR"></span>
                            <span class="ErrorMessageSpan" id="FromdateERROR"></span>
                            <span class="ErrorMessageSpan" id="LeavetypeERROR"></span>
                            <span class="ErrorMessageSpan" id="TodateERROR"></span>
                            <span class="ErrorMessageSpan" id="DaysessionERROR"></span>
                            <span class="ErrorMessageSpan" id="ErrorrmessageSPAN"></span>
                            <span class="ErrorMessageSpan" id="Datechecking"></span>
                        </p>


                        @*=====================APPLY LEAVE CARD=====================*@
                        <div class="card mb-4">
                            <div class="card-header flex-column flex-md-row">
                                <div class="head-label text-center">
                                    <h5 class="card-title mb-0">
                                        <span>APPLY LEAVE DETAILS</span>
                                        @*<span>YOUR SEARCH RESULTED &nbsp;<span id="Counts" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>*@
                                    </h5>
                                </div>
                            </div>
                            @*=====================APPLY LEAVE DETAILS TABLE=====================*@
                            @*<form asp-for="ApplyStudentLeave" id="myFormCart" style="display:none" class="myFormCart_Class" enctype="multipart/form-data" method="post">*@
                            <form asp-for="ApplyStudentLeave" id="myFormCart" style="display:none" enctype="multipart/form-data" method="post">

                                <div class="table-responsive text-nowrap">
                                    <table id="tableid" class="table table-hover table-bordered no-footer dataTable">
                                        @*id="myFormCartTable">*@
                                        <thead class="table-dark">
                                            <tr>
                                                <th>Edit</th>
                                                <th>Leave Type</th>
                                                <th>Reason</th>
                                                <th>From Date</th>
                                                <th>To Date</th>
                                                <th>Days</th>
                                                <th>Day Session</th>
                                                <th>Comments</th>
                                                <th>Total Days</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*<tbody id="myTbody">*@
                                        </tbody>
                                    </table>
                                </div>
                                @*--------------------------*@
                                <div class="row justify-content-end">
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-success waves-effect waves-light" id="Submit_Request_BTN" name="submitButton" value="Submit Request">Submit Request</button>
                                        @if (@ViewBag.ScreenName != "ManageStaffLeave")
                                        {
                                            <button type="submit" class="btn btn-primary waves-effect waves-light" id="Save_as_Draft_BTN" name="submitButton" value="Save as Draft">Save as Draft</button>
                                        }
                                    </div>
                                </div>
                                @*--------------------------*@
                            </form>

                            @*=====================APPLY LEAVE DETAILS Form=====================*@

                            <div class="card-body">
                                <form id="myForm">
                                    <div class="row">
                                        <div class="col">
                                            @*----------------------*@
                                            <div class="mb-1 row ClsStaffEnables" id="ClassNAme_div">
                                                <label class="col-sm-4 col-form-label  text-end required" asp-for="Leavetypeid" for="basic-default-name">Leave Type</label>
                                                <div class="col-sm-4">
                                                    <div class="position-relative">
                                                        <select class="select2 form-select select2-hidden-accessible" id="leavetype" name="InputValue[0].Leavetypeid" onchange="GetLeaveDaysAvailable_CallingFuction()" asp-items="@(new SelectList(""))">
                                                            <option value="">     -------select------- </option>
                                                        </select>
                                                        <input type="hidden" id="LeavetypeTB" @*asp-for="Leavetype"*@ name="InputValue[0].Leavetype" />
                                                        @*<span asp-validation-for="Leavetypeid" class="text-danger"></span>*@
                                                    </div>
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="mb-1 row ">
                                                <label class="col-sm-4 col-form-label  text-end" for="basic-default-name">Leave Days Available </label>
                                                <div class="col-sm-4">
                                                    <label id="GetLeaveDaysAvailableid" class="form-control-plaintext"></label>
                                                    <input type="hidden" id="GetLeaveDaysAvailableidtTotal" />
                                                    <input type="hidden" id="HdnLeavetypeidForGetcurrectLeavedays">
                                                    <input type="hidden" id="HdnGetLeaveDaysAvailabletoLeavetype">
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="mb-1 row">
                                                <label class="col-sm-4 col-form-label  text-end required" asp-for="ShortDescriptionforLeave_Reason" for="basic-default-name">Short Description for Leave Reason</label>
                                                <div class="col-sm-4">
                                                    <div class="position-relative">
                                                        <select class="select2 form-select select2-hidden-accessible" id="Descriptionid1" asp-items="@(new SelectList(""))">
                                                            <option value="">     -------select------- </option>
                                                        </select>
                                                        <input type="hidden" name="InputValue[0].ShortDescriptionforLeave_Reason" id="DescriptionidTB1" />

                                                        <span id="marriagechecking_Span">
                                                            <input type="checkbox" class="form-check-input" name="InputValue[0].marriagechecking" asp-for="marriagechecking" id="marriagechecking" onclick="marriagecheckingCallingFunction()" />
                                                            <label class="form-check-label" for="marriagechecking">Applying for Marriage(self)</label>
                                                        </span>
                                                        <label class="form-label" id="labelLB"></label>

                                                        @*<span asp-validation-for="ShortDescriptionforLeave_Reason" class="text-danger"></span>*@
                                                    </div>
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="mb-2 row ">
                                                <label class="col-sm-4 col-form-label  text-end required" asp-for="Daystype" for="basic-default-name">Day Type</label>
                                                <div class="col-sm-4">
                                                    <div class="col mt-2">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input check" @*asp-for="Daystype"*@ name="InputValue[0].Daystype" id="radioinline1" type="radio" value="0" required />
                                                            <label class="form-check-label" for="radioinline1">Full Day</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input check" @*asp-for="Daystype"*@ name="InputValue[0].Daystype" id="radioinline2" type="radio" value="1" required />
                                                            <label class="form-check-label" for="radioinline2"> Half Day</label>
                                                        </div>
                                                        @*<span asp-validation-for="Daystype" class="text-danger"></span>*@
                                                    </div>
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div id="Dates_Div" style="display:none">
                                                <div class="mb-2 row">
                                                    <label class="col-sm-4 col-form-label  text-end required" style="display:none" id="HAlfdayLB" for="basic-default-name">Date</label>
                                                    <label class="col-sm-4 col-form-label  text-end required" id="fromdateLB" for="basic-default-name">From Date</label>
                                                    <div class="col-sm-4">
                                                        <input type="date" class="form-control" id="fromdate" @*asp-for="Fromdate"*@ name="InputValue[0].Fromdate" />
                                                    </div>
                                                </div>
                                                @*----------------------*@
                                                <div class="mb-2 row">
                                                    <label class="col-sm-4 col-form-label  text-end required" id="todateLB" for="basic-default-name">To Date</label>
                                                    <div class="col-sm-4">
                                                        <input type="date" @*asp-for="Todate"*@ class="form-control" id="todate" name="InputValue[0].Todate" />
                                                    </div>
                                                </div>
                                            </div>
                                            @*----------------------*@

                                            <div class="mb-2 row " id="DaySession" style="display:none">
                                                <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Day Session</label>
                                                <div class="col-sm-4">
                                                    <div class="col mt-2">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input check1" @*asp-for="Daysession"*@ name="InputValue[0].Daysession" id="radioinline11" type="radio" value="1" />
                                                            <label class="form-check-label" for="radioinline11">Morning</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input check1" @*asp-for="Daysession"*@ name="InputValue[0].Daysession" id="radioinline21" type="radio" value="2" />
                                                            <label class="form-check-label" for="radioinline21"> Afternoon</label>
                                                        </div>
                                                        @*<span asp-validation-for="Daysession" class="text-danger"></span>*@
                                                    </div>
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="mb-2 row">
                                                <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Leave Comments<br />&nbsp; <i>(Max of 500 Characters)</i></label>
                                                <div class="col-sm-4">
                                                    <textarea asp-for="Leavecomments" name="InputValue[0].Leavecomments" id="Textarea" maxlength="500" class="form-control" rows="3"></textarea>
                                                    <label id="LblTextareacount" class="form-control-plaintext" style="display:none"><span id="TextareacountSPAN">500</span> Character(s) remaining.</label>
                                                    @*<span asp-validation-for="Leavecomments" class="text-danger"></span>*@
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="mb-2 row" id="MedicalLeaveDocument" style="display:none">
                                                <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Upload Medical Certfificate</label>
                                                <div class="col-sm-4">
                                                    <input type="file" asp-for="file" name="InputValue[0].file" id="attachdocument" class="form-control" />
                                                    <a class="image-link" style="cursor:pointer" id="AttachDocumentTB_FileName_LABEL"></a> &nbsp;
                                                    <a style="display:none" class="btn rounded-pill btn-label-danger waves-effect deleteFileClass" id="AttachDocumentTB_FileName_LABEL_DELETE"></a>

                                                    @*<span asp-validation-for="file" class="text-danger"></span>*@
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="form-label">(Note: Only .doc;.docx;.txt;.jpeg;.jpg;.pjpeg;.gif;.png;.pdf are supported. And upload file limit is 500KB.)</label>
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <input type="hidden" name="InputValue[0].Batchid" id="BatchidTextbox" />
                                            <input type="hidden" name="InputValue[0].LeaveApplicationId" id="LeaveApplicationId" />
                                            <input type="hidden" name="InputValue[0].attachdocument" id="attachdocument_String" />
                                            @*----------------------*@
                                            <div class="row justify-content-end">
                                                <div class="col-sm-8">
                                                    <button type="reset" class="btn btn-warning waves-effect waves-light" id="myForm_ClearBtn" onclick="FN_ClearValues1('myForm')" value="Clear">Clear</button>
                                                    <button type="submit" class="btn btn-success waves-effect waves-light" id="savebutton" value="Add Leaves To Cart">Add Leaves To Cart</button>
                                                </div>
                                            </div>
                                            @*--------------------------*@
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                        @*<a id="A1" href="#" onclick="javascript:CallPrint('PrintBTN')">PRINT</a>*@


                        @*<a id="PrintBTN_IN_ApplyLeave" style="color: blue; font-weight: 800; cursor: pointer; margin-left: @margin; text-decoration: underline;" onclick="javascript:CallPrint('printDetails_Form_IN_ApplyLeave')"></a>*@
                        <button class="btn rounded-pill btn-label-primary waves-effect" style="display:none" id="PrintBTN_IN_ApplyLeave" onclick="javascript:CallPrint('printDetails_Form_IN_ApplyLeave')">
                        </button>
                        <div class="card mb-4" id="accordionoc_Print">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">
                                    <span id="ctl00_ContentPlaceHolder1_lblMyLeavesStatusHistory_IN_ApplyLeave"></span>
                                </h5>
                            </div>
                            <div class="card-body">

                                <form id="printDetails_Form_IN_ApplyLeave">
                                    <table class="table table-bordered no-footer dataTable">
                                        <tr>
                                            <td style="height: 24px;">
                                                <link href="~/css/PrintLeavesDetailsTableStyle.css" rel="stylesheet" />
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top">
                                                                <table width="100%" cellspacing="0" cellpadding="3" align="center" class="BCcolor">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <table width="100%" cellspacing="0" cellpadding="2" align="center" class="BCcolor2">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table width="100%" cellspacing="0" align="center">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                <table id="SchoolnameTable" width="100%" cellspacing="0">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td width="95px" align="center" rowspan="2" valign="top">
                                                                                                                                <img src="https://www.connect4m.com/R3Images/FeeHeaderPhotos/545/Jnanadeeplogo.png" style=" margin-left: 30%;" alt="">
                                                                                                                            </td>
                                                                                                                            <td class="Leavetitle">
                                                                                                                                <b class="schooltitle"><span style=" font-family: Times New Roman;font-weight:600" id="SchoolnameTable_instancename_IN_ApplyLeave"></span></b><br>
                                                                                                                                <span style=" font-family: Times New Roman;font-weight:600" id="SchoolnameTable_ADDRESS_IN_ApplyLeave"></span><br>
                                                                                                                                <br>
                                                                                                                                <b class="subLeavetitle">Applied Leave Details</b>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <table width="100%" cellspacing="0" align="center">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td style="height: 5px;">
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <table width="100%" cellspacing="0" cellpadding="2" align="center" class="BCcolor2">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                <table width="100%" cellspacing="0" align="center">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td style="height: 15px;">
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <td>
                                                                                                                                <table id="GetMyAppliedLeaves_Table_Print_IN_ApplyLeave" class="table table-hover table-bordered no-footer dataTable">
                                                                                                                                    <thead>
                                                                                                                                        <tr style='border: 1px solid;' class="subLeavetitle"> <th>S.No </th><th>Submitted By </th><th> Department </th>  <th>Date of Joining </th><th> Submitted To </th> <th>Leave Type </th><th>From Date</th><th>To Date</th>  <th>NO of Days</th><th> Available</th> <th> Status</th></tr>

                                                                                                                                    </thead>
                                                                                                                                    <tbody>
                                                                                                                                        @*<tr> <td class="bonafidetxt" nowrap="" align="center"> &nbsp; 1</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; Admin</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp;Administration</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; 10 Mar 2004</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; Admin</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; CL</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; 30 May 2023</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; 30 May 2023</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; 0.5</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; 0</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; Self-Approved</td> </tr>*@

                                                                                                                                    </tbody>
                                                                                                                                </table>
                                                                                                                                <table width="100%" cellspacing="0" cellpadding="0">
                                                                                                                                    <tbody>
                                                                                                                                        <tr>
                                                                                                                                            <td style="height: 15px;">
                                                                                                                                            </td>
                                                                                                                                        </tr>
                                                                                                                                        <tr>
                                                                                                                                            <td style="height: 50px; width : 170px">
                                                                                                                                            </td>
                                                                                                                                            <td style="height: 50px; width : 170px">
                                                                                                                                            </td>
                                                                                                                                            <td nowrap="" style="height: 50px; width : 50px">
                                                                                                                                                <table id="TotalNoofDays_TABLE_IN_ApplyLeave" border="1" style="height: 50px; width : 50px">
                                                                                                                                                    <thead>
                                                                                                                                                        <tr>
                                                                                                                                                            <td nowrap="" class="subLeavetitle" align="center" style="height: 20px; width : 128px">
                                                                                                                                                                Total No of Days:

                                                                                                                                                            </td>
                                                                                                                                                        </tr>
                                                                                                                                                    </thead>
                                                                                                                                                    <tbody>
                                                                                                                                                        <tr>

                                                                                                                                                            <td id="TotalNoofDays_TABLE_TD_IN_ApplyLeave" nowrap="" style=" border: 1px solid;" align="center" class="bonafidetxt">
                                                                                                                                                                @*0.5*@
                                                                                                                                                            </td>
                                                                                                                                                        </tr>
                                                                                                                                                    </tbody>
                                                                                                                                                </table>

                                                                                                                                            </td>
                                                                                                                                        </tr>

                                                                                                                                    </tbody>
                                                                                                                                </table>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>

                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>



                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>

                        </div>

                    </div>

                    @*------------------------Tab 2 End-------------------*@


                    @*------------------------Tab 3 Start-------------------*@
                    @*===========================this is Leave Status Page====================*@
                    <div class="tab-pane fade  " id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <p id="your-p-id1">
                            <span class="ErrorMessageSpan" id="successMessage1"></span>
                            <span class="ErrorMessageSpan" id="followingfieldsErrorSPAN1"></span>
                        </p>

                        <div class="card mb-4">
                            <div class="card-header flex-column flex-md-row">
                                <div class="head-label text-center">
                                    <h5 class="card-title mb-0">
                                        <span>MY APPLIED LEAVES</span>
                                        @*<span>YOUR SEARCH RESULTED &nbsp;<span id="Counts" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>*@
                                    </h5>
                                </div>
                            </div>
                            <div class="table-responsive text-nowrap">
                                @*<form id="GetMyAppliedLeaves_Form">*@

                                <table id="GetMyAppliedLeaves_Table" style="display:none" class="table table-hover table-bordered no-footer dataTable">
                                    @*<table id="tableid" class="table table-responsive">*@
                                    <thead class="table-dark">
                                        <tr>
                                            <th style="text-align:center">View Status</th>
                                            <th>Reason</th>
                                            <th>Leave Type</th>
                                            <th>From Date</th>
                                            <th>To Date</th>
                                            <th>No Of  Days</th>
                                            <th>Status</th>
                                            <th>Applied Date</th>
                                            <th style="text-align:center">Cancel Leave</th>
                                            <th style="text-align:center">Print Leave</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    @*<tfoot>
                                            <tr><td style="padding:2px" colspan="10"><div style="text-align:center" id="GetMyAppliedLeaves_Table_pagination"></div></td></tr>

                                        </tfoot>*@
                                </table>

                                @*</form>*@

                            </div>
                        </div>

                        @*<a id="PrintBTN" style="color: blue; font-weight: 800; cursor: pointer ; margin-left: @margin;  text-decoration: underline;" onclick="javascript:CallPrint('printDetails_Form')"></a>*@
                        <button class="btn rounded-pill btn-label-primary waves-effect" style="display:none" id="PrintBTN" onclick="javascript:CallPrint('printDetails_Form')">
                        </button>

                        <div class="card mb-4" id="accordionoc_VIEW" style="display:none">
                            <div class="card-header flex-column flex-md-row">
                                <div class="head-label text-center">
                                    <h5 class="card-title mb-0">
                                        <span id="ctl00_ContentPlaceHolder1_lblMyLeavesStatusHistory"></span>
                                        @*<span>YOUR SEARCH RESULTED &nbsp;<span id="Counts" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>*@
                                    </h5>
                                </div>
                            </div>
                            <div class="table-responsive text-nowrap">
                                @*<form id="GetMyAppliedLeaves_Form_VIEW">*@
                                <table id="GetMyAppliedLeaves_Table_VIEW" class="table table-hover table-bordered no-footer dataTable">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Submitted By</th>
                                            <th>Assigned To</th>
                                            <th>Comments</th>
                                            <th>Approval Status</th>
                                            <th>Overall Status</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    @*<tfoot>
                                            <tr><td colspan="10"><div style="text-align:center" id="GetMyAppliedLeaves_Table_VIEW_pagination"></div></td></tr>



                                        </tfoot>*@
                                </table>

                                @*</form>*@


                                <form id="printDetails_Form">
                                    <table class="table  table-bordered no-footer dataTable">
                                        <tr>
                                            <td style="height: 24px; ">
                                                <link href="~/css/PrintLeavesDetailsTableStyle.css" rel="stylesheet" />
                                                @*<link href="~/Themes/assets/css/StyleSheets/ApplyStaffLeave.css" rel="stylesheet" />*@
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top">
                                                                <table width="100%" cellspacing="0" cellpadding="3" align="center" class="BCcolor">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <table width="100%" cellspacing="0" cellpadding="2" align="center" class="BCcolor2">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table width="100%" cellspacing="0" align="center">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                <table id="SchoolnameTable" width="100%" cellspacing="0">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td width="95px" align="center" rowspan="2" valign="top">
                                                                                                                                <img src="https://www.connect4m.com/R3Images/FeeHeaderPhotos/545/Jnanadeeplogo.png" style=" margin-left: 20%;" alt="">
                                                                                                                            </td>
                                                                                                                            <td class="Leavetitle">
                                                                                                                                <b class="schooltitle"><span style=" font-family: Times New Roman;font-weight:600" id="SchoolnameTable_instancename"></span></b><br>
                                                                                                                                <span style=" font-family: Times New Roman;font-weight:600" id="SchoolnameTable_ADDRESS"></span><br>
                                                                                                                                <br>
                                                                                                                                <b class="subLeavetitle">Applied Leave Details</b>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <table width="100%" cellspacing="0" align="center">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td style="height: 5px;">
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <table width="100%" cellspacing="0" cellpadding="2" align="center" class="BCcolor2">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                <table width="100%" cellspacing="0" align="center">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td style="height: 15px;">
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <td>
                                                                                                                                <table id="GetMyAppliedLeaves_Table_Print" class="table  table-bordered no-footer dataTable" border="1" cellspacing="0">
                                                                                                                                    <thead>
                                                                                                                                        <tr style='border: 1px solid;' class="subLeavetitle"> <th>S.No </th><th>Submitted By </th><th> Department </th>  <th>Date of Joining </th><th> Submitted To </th> <th>Leave Type </th><th>From Date</th><th>To Date</th>  <th>NO of Days</th><th> Available</th> <th> Status</th></tr>

                                                                                                                                    </thead>
                                                                                                                                    <tbody>
                                                                                                                                        @*<tr> <td class="bonafidetxt" nowrap="" align="center"> &nbsp; 1</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; Admin</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp;Administration</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; 10 Mar 2004</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; Admin</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; CL</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; 30 May 2023</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; 30 May 2023</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; 0.5</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; 0</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; Self-Approved</td> </tr>*@

                                                                                                                                    </tbody>
                                                                                                                                </table>
                                                                                                                                <table width="100%" cellspacing="0" cellpadding="0">
                                                                                                                                    <tbody>
                                                                                                                                        <tr>
                                                                                                                                            <td style="height: 15px;">
                                                                                                                                            </td>
                                                                                                                                        </tr>
                                                                                                                                        <tr>
                                                                                                                                            <td style="height: 50px; width : 170px">
                                                                                                                                            </td>
                                                                                                                                            <td style="height: 50px; width : 170px">
                                                                                                                                            </td>
                                                                                                                                            <td nowrap="" style="height: 50px; width : 50px">
                                                                                                                                                <table id="TotalNoofDays_TABLE" border="1" style="height: 50px; width : 50px">
                                                                                                                                                    <thead>
                                                                                                                                                        <tr>
                                                                                                                                                            <td nowrap="" class="subLeavetitle" align="center" style="height: 20px; width : 128px">
                                                                                                                                                                Total No of Days:

                                                                                                                                                            </td>
                                                                                                                                                        </tr>
                                                                                                                                                    </thead>
                                                                                                                                                    <tbody>
                                                                                                                                                        <tr>

                                                                                                                                                            <td id="TotalNoofDays_TABLE_TD" nowrap="" style=" border: 1px solid;" align="center" class="bonafidetxt">
                                                                                                                                                                @*0.5*@
                                                                                                                                                            </td>
                                                                                                                                                        </tr>
                                                                                                                                                    </tbody>
                                                                                                                                                </table>

                                                                                                                                            </td>
                                                                                                                                        </tr>

                                                                                                                                    </tbody>
                                                                                                                                </table>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>

                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>




                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>

                        </div>


                    </div>

                    @*------------------------Tab 3 End-------------------*@


                </div>
            </div>

        </div>
    </div>

    <input type="hidden" id="EditBTid" />
    <input type="hidden" id="TotaldaysInTable" />
    <input type="hidden" value="@ViewBag.Userid" id="Userid" />
    <input type="hidden" value="@ViewBag.Instanceid" id="Instanceid" />
    <input type="hidden" value="@ViewBag.Returnmsg" id="backval" />
    <input type="hidden" value="@ViewBag.ScreenName" id="ScreenName" />
</body>
</html>





<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

@*<script src="~/js/StaffLeaveScripts.js"></script>*@


<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>

<link href="~/Datatable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Datatable/datatable.min.js"></script>
@if (@ViewBag.ScreenName != "ManageStaffLeave")
{<script>var js = jQuery.noConflict(true);</script>}
<script src="~/js/ApplyStaffLeave.js"></script>
@*<script src="~/js/PaginationToTables.js"></script>*@
<script>
    //$(document).ready(fun32READYFUNCTION);

    $(document).ready(function () {

        //$("#MyLeaveDetails_Footer").hide();
        GetMyLeaveDetails_CallingMethod();

        //This is for hide Date Label
        // $("#HAlfdayLB").hide();
        // $("#DaySession").hide();
        // $("#MedicalLeaveDocument").hide();
        // $("#Dates_Div").hide();
        // $("#myFormCart").hide();
    });

</script>







