@model Connect4m_Web.Models.Attendenceproperites.Attendance_Details


@{
    ViewData["Title"] = "Attendance_Details";
}


<!DOCTYPE html>
<html>
<head>
    <link href="~/css/maps/Summary.css" rel="stylesheet" />
</head>
<body>

    <div class="card">
        <div class="card-header pb-0">
            <h6><span>ATTENDANCE DETAILS</span></h6>
                      

            <div id="Admin_View_ID">
                <div style="font-size: 12px;">
                    <label id="validation2" style="color:red"></label><br />
                    <label id="validation1" style="color:red"></label>
                    <span class="validation" asp-validation-for="StartDate"></span>
                    <span class="validation" asp-validation-for="EndDate"></span>
                    <input type="hidden" value="@ViewBag.studentuserid" readonly id="S_Userid_Value" />
                    <input type="hidden" value="@ViewBag.AdminLogin" readonly id="InstanceId_Value" />                    
                    <input type="hidden" value="@ViewBag.InstanceId" id="InstanceTxt_Id" />                    
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="default-according style-1" id="accordionoc">
                            <div class="card">
                                <div class="card-header bg-primary">
                                    <h5 class="mb-0">
                                        <button class="collapsed btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#collapseicon1" aria-expanded="true" aria-controls="collapse11" style="width: 99%;">ATTENDANCE DETAILS</button>
                                    </h5>
                                </div>
                                <div class="collapse show" id="collapseicon1" aria-labelledby="collapseicon1" data-bs-parent="#accordionoc1" style="">
                                    <div class="card-body">
                                        <form class="form" id="myForm">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-group row">
                                                <div class="row">
                                                    <div class="col-3"></div>
                                                    <div class="form-group col-2">
                                                        <label class="form-label required space">StartDate </label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <input type="date" asp-for="StartDate" id="StartDateid" class="form-control">
                                                    </div>
                                                    <div class="col-3"></div>


                                                    <div class="col-3"></div>
                                                    <div class="form-group col-2">
                                                        <label class="form-label required space">EndDate </label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <input type="date" class="form-control" asp-for="EndDate" id="EndDateid">
                                                    </div>
                                                    <div class="col-3"></div>

                                                    <div class="col-3"></div>
                                                    <div class="form-group col-2">
                                                        <label asp-for="ClassificationName" class="form-label required space">Department </label>
                                                    </div>

                                                    @if (ViewBag.TClassification != null)
                                                    {
                                                        <div class="form-group col-4" id="DCFN10">
                                                            @Html.DropDownListFor(Model => Model.ClassificationName, new SelectList(ViewBag.TClassification, "Value", "Text"), "--Select--", new { @id = "CFNID1", @class = "form-select" })
                                                        </div>
                                                    }

                                                    <div class="col-3"></div>
                                                    <div class="col-3"></div>
                                                    <div class="form-group col-2">
                                                        <label asp-for="SubClassificationName" class="form-label required space">Class </label>
                                                    </div>
                                                    <div class="form-group col-4" id="SCFNID2">
                                                        @Html.DropDownListFor(Model => Model.SubClassificationName, new SelectList(string.Empty, "Value", "Text"), "--Select--", new { @id = "SCFNID1", @class = "form-select" })
                                                    </div>
                                                    <div class="col-3"></div>

                                                    <div class="col-3"></div>
                                                    <div class="form-group col-2">
                                                        <label class="form-label required space">Student Name </label>
                                                    </div>
                                                    <div class="form-group col-4" id="StudentNames">
                                                        @Html.DropDownListFor(Model => Model.FirstName, new SelectList(string.Empty, "Value", "Text"), "--Select--", new { @id = "SN1", @class = "@*DropTxtbox*@ form-select" })
                                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-3"></div>
                                                    <div class="col-3"></div>

                                                    <div class="form-group col-2">
                                                        <label asp-for="SubjectName" class="form-label required space">Slot </label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        @Html.ListBoxFor(Model => Model.SubjectName, new SelectList(string.Empty, "Value", "Text"), new { @id = "Subjects", @class = "Lstbox" })
                                                    </div>
                                                    <div class="col-3"></div>
                                                    <div class="col-3"></div>
                                                    <div class="form-group col-2">
                                                        <label class="form-label  space">Display only for :</label>
                                                    </div>
                                                    @*<div class="">
                                                        <input id="radioinline1" type="radio" name="radio1" value="option1">
                                                        <label class="mb-0" for="radioinline1">Option<span class="digits"> 1</span></label>
                                                    </div>*@


                                                    <div class="form-group col-4 radio radio-primary">
                                                        <input type="radio" asp-for="bFlagForDisplay" value="1" class="ATD" id="radioinline1" name="radio1" style=" margin: 0px 0px 0px 8px;">
                                                        <label class="mb-0" for="radioinline1">Present</label>
                                                        <input type="radio" asp-for="bFlagForDisplay" value="0" class="ATD" id="radioinline2" name="radio1" style=" margin: 0px 0px 0px 8px;">
                                                        <label class="mb-0" for="radioinline2">Absent</label>
                                                        <input type="radio" asp-for="bFlagForDisplay" value="2" class="ATD" id="radioinline3" name="radio1" style=" margin: 0px 0px 0px 8px;">
                                                        <label class="mb-0" for="radioinline3">Both</label>
                                                    </div>
                                                    <div class="col-3"></div>
                                                    <div class="col-3"></div>
                                                    <div class="form-group col-2"></div>
                                                    <div class="form-group col-4">
                                                        <button class="btn btn-pill btn-outline-warning btn-air-warning" type="reset">Clear</button>
                                                        <input type="button" id="Get_atd_btn" class="btn btn-pill btn-outline-success btn-air-success" value="Search">
                                                    </div>
                                                    <div class="col-3"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="User_Attendance_Tbl">

                    </div>



                </div>
            </div>



            <div id="Student_View_ID">
                <div>
                    <label id="validation3" style="color:red"></label><br />
                    <label id="validation4" style="color:red"></label>
                    <label id="validation5" style="color:red"></label>
                    <span class="validation" asp-validation-for="StartDate"></span>
                    <span class="validation" asp-validation-for="EndDate"></span>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="default-according style-1" id="accordionoc">
                            <div class="card">
                                <span>
                                    Search Attendance By :
                                    <input type="radio" name="2" value="0" id="radioButton1" onclick="ShowFields()" />
                                    <label for="radioButton1">Dates</label>
                                    <input type="radio" name="2" value="1" id="radioButton2" onclick="ShowFields()" />
                                    <label for="radioButton2">Months</label>
                                </span>
                                <div class="card-header bg-primary">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link text-white collapsed" data-bs-toggle="collapse" data-bs-target="#collapseicon" aria-expanded="true" aria-controls="collapse11"><i class="icofont icofont-student-alt"></i> ATTENDANCE DETAILS</button>
                                    </h5>
                                </div>
                                <div class="collapse show" id="collapseicon" aria-labelledby="collapseicon" data-bs-parent="#accordionoc" style="">
                                    <div class="card-body">
                                        <div id="dataDisplay"></div>
                                        <form id="date_Wise_Attendance_Details">
                                            <div id="DateWise_Id_fields">
                                                <span>
                                                    <label>
                                                        Start Date <input asp-for="StartDate" type="date" id="St_details_Stdt" style="line-height: normal;" />
                                                    </label>
                                                    @*<label></label>*@
                                                    <label style="margin-left: 30%;">
                                                        End Date <input asp-for="EndDate" type="date" id="St_details_Etdt" style="line-height: normal;" />
                                                    </label>
                                                </span>
                                            </div>
                                            <div id="MonthWise_Id_fields" style="margin-left: 6%;">
                                                <label>
                                                    Month
                                                </label>
                                                <select class="Dropdown" style="width:200px;">
                                                    <option value="0">----------Select----------</option>
                                                    <option value="01">January</option>
                                                    <option value="02">February</option>
                                                    <option value="03">March</option>
                                                    <option value="04">April</option>
                                                    <option value="05">May</option>
                                                    <option value="06">June</option>
                                                    <option value="07">July</option>
                                                    <option value="08">August</option>
                                                    <option value="09">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>

                                                </select>
                                            </div>
                                            <span style=" margin-left: 7%;">
                                                <label>
                                                    Slots
                                                </label>
                                                @if (ViewBag.Names != null)
                                                {
                                                    @Html.DropDownListFor(Model => Model.InstanceSubjectId, new SelectList(ViewBag.Names, "Value", "Text"), new { id = "Student_SlotID", size = 5, multiple = "multiple", @style = "width: 60%;" })
                                                }
                                            </span>
                                            <br />
                                            <input type="button" value="Search" id="Student_Details_Btn" style="margin-left: 38%;" />
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="Student_Attendance_Details_Tbl">

                </div>

            </div>

        </div>
    </div>

</body>
</html>






<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

<!--Student Javascript code start-->
<script>
    window.onload = function () {
        showDivBasedOnValue();
    };

    function showDivBasedOnValue() {
        debugger;
        var studentUserId = document.getElementById("S_Userid_Value").value;
        var instanceId = document.getElementById("InstanceId_Value").value;
        var Admin_View = document.getElementById("Admin_View_ID");
        var Student_View = document.getElementById("Student_View_ID");

        if (studentUserId && studentUserId.trim() !== "" && instanceId && instanceId.trim() !== "") {
            // Both studentUserId and instanceId have values
            Admin_View.style.display = "none";
            Student_View.style.display = "block";
        } else {
            // Either studentUserId or instanceId is missing
            Admin_View.style.display = "block";
            Student_View.style.display = "none";
        }
    }

    //window.onload = function () {
    //    showDivBasedOnValue
    //};
    //debugger;
    //function showDivBasedOnValue() {
    //    debugger;
    //    var studentUserId = document.getElementById("S_Userid_Value").value;
    //    var instanceId = document.getElementById("InstanceId_Value").value;
    //    var Admin_View = document.getElementById("Admin_View_ID");
    //    var Student_View = document.getElementById("Student_View_ID");


    //    if (studentUserId && studentUserId.trim() !== "" && instanceId && instanceId.trim() !== "") {
    //        // Both studentUserId and instanceId have values
    //        Admin_View.style.display = "none";
    //        Student_View.style.display = "block";
    //    } else if (instanceId && instanceId.trim() !== "") {
    //        // Only instanceId has a value
    //        Admin_View.style.display = "block";
    //        Student_View.style.display = "none";
    //    } else {
    //        // Neither value is provided
    //        Admin_View.style.display = "none";
    //        Student_View.style.display = "none";
    //    }
    //}

    document.addEventListener("DOMContentLoaded", function () {
        ShowFields(); // Call showData() function on page load
    });
    function ShowFields() {
        var dateWiseDiv = document.getElementById("DateWise_Id_fields");
        var monthWiseDiv = document.getElementById("MonthWise_Id_fields");
        var dateRadioButton = document.getElementById("radioButton1");

        if (dateRadioButton.checked) {
            dateWiseDiv.style.display = "block";
            monthWiseDiv.style.display = "none";
        } else {
            dateWiseDiv.style.display = "none";
            monthWiseDiv.style.display = "block";
        }
    }




</script>
<script>
    $("#Student_Details_Btn").click(fun2501);
    /* $("#Student_Details_Btn").click(fun2501);*/
    function fun2501() {
        debugger;

        var St_Date = $("#St_details_Stdt").val();
        var En_Date = $("#St_details_Etdt").val();
        var InstanceSubjectId = $("#Student_SlotID").val();
        var today = new Date();
        if (St_Date > today) {
            $("#validation5").text("End Date can not be greater than today.");
        }
        else if (St_Date > En_Date) {

            $("#validation5").text("Start date cannot be greater than end date.");

        } else if (St_Date === '' && En_Date === '') {

            $("#validation3").text("Following fields have invalid data :");
            $("#validation5").text("Please Select Startdate and Enddate");

        } else if (St_Date == '') {

            $("#validation3").text("Following fields have invalid data :");
            $("#validation5").text("Please Select Startdate");

        } else if (En_Date == '') {

            $("#validation3").text("Following fields have invalid data :");
            $("#validation5").text("Please Select Enddate");

        } else if (InstanceSubjectId == '') {

            $("#validation3").text("Following fields have invalid data :");
            $("#validation4").text("Slot");

        } else {

            $("#validation3,#validation4,#validation5").text('');
            $(this).removeClass('validation3', 'validation4', 'validation5')

            debugger;


            var St_details_formdata = $("#date_Wise_Attendance_Details").serialize();
            $.ajax({

                url: "/Attendance/Attd_det_by_St_Lg",
                type: "GET",
                data: St_details_formdata,
                success: fun2150
            });
            function fun2150(resptbl) {
                debugger;
                /* alert("Sreee");*/
                $("#Student_Attendance_Details_Tbl").html(resptbl);
            }
        }
    }
</script>

<!--Student Javascript code End-->
<!--Admin Javascript Code start-->
<script>
    $("#DCFN10").change(fun101);
    function fun101() {
        /*debugger;*/
        var value = $('#CFNID1').val();

        $.ajax({
            url: "/Attendance/Get_SubClassificationNames_ByInstanceClassifications?InstanceClassificationId=" + value,
            type: "GET",
            success: fun1011
        });
        function fun1011(response) {
            /*debugger;*/
            $("#SCFNID1").html(response);
        }

    }

    $("#SCFNID2").change(fun1021);
    function fun1021() {
        debugger;

        var InstanceClassificationId = $('#CFNID1').val();
        var InstanceSubClassificationId = $('#SCFNID1').val();
        //alert(InstanceClassificationId);
        //alert(InstanceSubClassificationId);
        $.ajax({
            url: "/Attendance/SlotidBy_Student_Names?InstanceClassificationId=" + InstanceClassificationId + "&InstanceSubClassificationId=" + InstanceSubClassificationId,
            type: "GET",
            success: fun10121
        });
        function fun10121(response) {
            debugger;
            $("#SN1").html(response);
        }
    }
    $("#StudentNames").change(fun1013);
    function fun1013() {
        debugger;
        var UserID = $('#SN1').val();

        /*alert(value);*/
        $.ajax({
            url: "/Attendance/Slot_by_UserName?UserID=" + UserID,
            type: "GET",
            success: fun10113
        });
        function fun10113(response) {
            debugger;
            $("#Subjects").html(response);
        }

    }
</script>

<script>
    //Date Function Javascript Code start
    var date = new Date();
    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month + "-" + day;

    document.getElementById("StartDateid").value = today;
    document.getElementById("EndDateid").value = today;


</script>

<script>

    $("#Get_atd_btn").click(fun013);
    function fun013() {
        debugger;

        var validation1 = $("#validation1");
        var validation2 = $("#validation2");

        var InstClassificationId = $("#CFNID1").val();
        var InstSubClassificationId = $("#SCFNID1").val();
        var UserID = $('#SN1').val();
        var SubSlotID = $("#Subjects").val();

        var SDate = $('#StartDateid').val();
        var parts = SDate.split('-');
        var formattedDate = parts[0] + '-' + parts[1] + '-' + parts[2] + ' 00:00:00';
        console.log(formattedDate); // Output: '29-09-2023 00:00:00'
        var StartDate = formattedDate;


        var EDate = $("#EndDateid").val();       
        var ENparts = EDate.split('-');
        var FormteENDate = ENparts[0] + '-' + ENparts[1] + '-' + ENparts[2] + ' 00:00:00';
        console.log(FormteENDate); // Output: '29-09-2023 00:00:00'
        var EndDate = FormteENDate;

        var Instanceid = $("#InstanceTxt_Id").val();       
        var bFlagForDisplay = $("input[class='ATD']:checked").val();

        validation1.text("");
        validation2.text("");


        function displayInvalidDataMessage(fieldName) {
            validation2.text("Following fields have invalid data:");
            validation1.text(fieldName);
        }

        debugger;

        if (StartDate > EndDate) {
            validation2.text("Following fields have invalid data:");
            validation1.text("Start date can not be greater than end date.");

        } else if (InstClassificationId === "") {
            validation2.text("Following fields have invalid data:");
            displayInvalidDataMessage("Department");

        } else if (InstSubClassificationId === "") {
            validation2.text("Following fields have invalid data:");
            displayInvalidDataMessage("Class");

        } else if (UserID === "") {
            validation2.text("Following fields have invalid data:");
            displayInvalidDataMessage("Student Name");

        } else if (SubSlotID == '') {
            validation2.text("Following fields have invalid data:");
            displayInvalidDataMessage("Slot");

        } else if (typeof bFlagForDisplay === "undefined") {
            validation2.text("Following fields have invalid data:");
            displayInvalidDataMessage("Display only for");

        } else {

            $("#validation1,#validation2").text('');
            $(this).removeClass('validation1', 'validation2')



            var FormData = {
                StartDate: StartDate,
                EndDate: EndDate,
                FirstName: UserID,
                SlotSubjectsNames: SubSlotID,
                bFlagForDisplay: bFlagForDisplay

            }
            var serializedData = $.param(FormData);         

              $.ajax({
                //url: "/Attendance/Get_Attendance_Details_Tbl",
                url: "/Attendance/Get_Attendance_Details_Tbl?StartDate=" + StartDate + "&EndDate=" + EndDate + "&UserID=" + UserID + "&SlotSubjectsNames=" + SubSlotID + "&bFlagForDisplay=" + bFlagForDisplay + "&instanceid=" + Instanceid,
                  type: "GET",
                  success: function (response) {
                      $('#User_Attendance_Tbl').html(response);
                  }

                //success: fun0125
            });



            //function fun0125(resp) {
            //    debugger;
             
            //    $("#User_Attendance_Tbl").html(resp);
            //}
        }
    }


    $("button[type='reset']").click(function () {

        $("#CFNID1").val("");
        $("#SCFNID1").val("");
        $('#SN1').val("");
        $("#Subjects").val("");
        $("#User_Attendance_Tbl").html("");
    });

</script>
<!--Admin Javascript Code End-->
