@model IEnumerable<Connect4m_Web.Models.Attendenceproperites.detailsattendance>
@{
    Layout = null;
}

<style>
    .rowvalue {
        width: 70%;
        color: black;
        font-size: 14px;
        font-family: none;
    }

    .labelvalue {
        width: 40%;
        text-align: right;
        color: #424286;
        font-size: 14px;
        font-weight: bolder;
        font-family: none;
    }

    .separator {
        height: 1px;
        background-color: lightgray;
        margin: 5px 0;
    }

    .percentage {
        font-size: 14px;
        font-family: none;
    }

        .percentage.red {
            color: red;
            font-size: 11px;
        }

        .percentage.green {
            color: green;
        }
</style>

@*@if (@ViewBag.NoRecordsFound == "0")
{
    <span class="text-danger"> Your Search Resulted:@ViewBag.NoRecordsFound records.</span>
}
else
{*@
    <div class="col-md-12 col-lg-12 mb-3">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">BRIEF DETAILS</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="attendance-container">
                            <div class="row mb-3">
                                <div class="labelvalue">Attendance Last Posted</div>
                                <div class="col-sm-4">
                                    <div class="rowvalue">@ViewBag.AttendanceDate</div>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="row mb-3">
                                <div class="labelvalue">Total Present:</div>
                                <div class="col-sm-4">
                                    <div class="rowvalue">
                                        @{
                                            int Presentcount = 0;
                                            int AbsentCounts = 0;
                                        }

                                        @foreach (var present in ViewBag.UserAttendance)
                                        {
                                            if (present.Present == "1")
                                            {
                                                Presentcount++;
                                            }
                                            else
                                            {
                                                AbsentCounts++;
                                            }
                                        }
                                        @Presentcount
                                    </div>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="row mb-3">
                                <div class="labelvalue">Conducted Classes:</div>
                                <div class="col-sm-4">
                                    <div class="rowvalue">@ViewBag.Records</div>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="row mb-3">
                                <div class="labelvalue">Attendance Percentage:</div>
                                <div class="col-sm-4">
                                    <div class="rowvalue">
                                        @{
                                            double percentage = 0.0;
                                            int totalRecords = (int)ViewBag.Records; // Replace with your actual total records value
                                            percentage = (double)Presentcount / totalRecords * 100;
                                        }
                                        @if (percentage < 70)
                                        {
                                            <span class="percentage red">@percentage.ToString("0.00")% (Required attendance is 70%)</span>
                                        }
                                        else
                                        {
                                            <span class="percentage green">@percentage.ToString("0.00")% (Required attendance is 70%)</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="table-responsive">
                            @*<table cellpadding="0" width="100%" cellspacing="0">
                    <tbody>
                        <tr>
                            <td width="40%" style="height: 24px; text-align: right;">
                                <span style="color: #424286; font-family: none; font-size: 14px; font-weight: bolder; font-style: normal;">Attendance Last Posted :</span>&nbsp;
                            </td>
                            <td width="70%">
                                <span style="color: black; font-size: 14px; font-weight: normal; font-style: normal; font-family: none;">@ViewBag.AttendanceDate</span>
                            </td>
                        </tr>
                        <tr class="LightSeperator">
                            <td colspan="2" height="1">
                            </td>
                        </tr>

                        <tr class="LightSeperator">
                            <td colspan="2" height="1">
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 24px; text-align: right;">
                                <span style="color: #424286; font-family: none; font-size: 14px; font-weight: bolder; font-style: normal;">Total Present :</span>&nbsp;
                            </td>
                            <td style="height: 24px;">
                                <span style="color: black; font-size: 14px; font-weight: normal; font-style: normal; font-family: none;">
                                    @{
                                        int Presentcount = 0;
                                        int AbsentCounts = 0;
                                    }

                                    @foreach (var present in ViewBag.UserAttendance)
                                    {
                                        @if (present.Present == "1")
                                        {
                                            Presentcount++;
                                        }
                                        else
                                        {
                                            AbsentCounts++;
                                        }
                                    }
                                    @Presentcount
                                </span>
                            </td>
                        </tr>
                        <tr class="LightSeperator">
                            <td colspan="2" height="1">
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 24px; text-align: right;">
                                <span style="color: #424286; font-family: none; font-size: 14px; font-weight: bolder; font-style: normal;">Conducted Classes :</span>&nbsp;
                            </td>
                            <td style="height: 24px;">
                                <span style="color: black; font-size: 14px; font-weight: normal; font-style: normal; font-family: none;">@ViewBag.Records</span>
                            </td>
                        </tr>
                        <tr class="LightSeperator">
                            <td colspan="2" height="1">
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 24px; text-align: right;">
                                <span style="color: #424286; font-family: none; font-size: 14px; font-weight: bolder; font-style: normal;">Attendance Percentage :</span>&nbsp;
                            </td>
                            <td style="height: 24px;">
                                @{
                                    double percentage = 0.0;
                                    int totalRecords = (int)ViewBag.Records; // Replace with your actual total records value
                                    percentage = (double)Presentcount / totalRecords * 100;
                                }
                                @if (percentage < 70)
                                {
                                    <span style="font-size: 11px; font-weight: normal; font-style: normal; font-family: none; color: red; ">

                                        @percentage.ToString("0.00")% (Required attendance is 70%)
                                    </span>

                                }
                                else
                                {
                                    <span style="font-size: 14px; font-weight: normal; font-style: normal; font-family: none; color: green;">
                                        @percentage.ToString("0.00")%
                                        (Required attendance is 70%)
                                    </span>
                                }


                            </td>
                        </tr>
                    </tbody>
                </table>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 mb-3">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">TOTAL NUMBER OF RECORDS: <span class="badge badge-center rounded-pill bg-primary bg-glows" value="@ViewBag.Records"> @ViewBag.Records</span> .</h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered" id="DetailTbl">
                    <thead class="table-dark">
                        <tr>
                            <th>Date</th>
                            <th>IsPresent</th>
                        </tr>
                    </thead>
                    <tbody id="DetailTblbody">
                        @foreach (var item in ViewBag.UserAttendance)
                        {
                            <tr>
                                <td align="left">@item.CreatedDate</td>
                                <td align="left">@item.IsPresent</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id="pagination" style="text-align: center;">

                </div>
            </div>
        </div>
    </div>
   
@*}*@


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>



<script>
    var tableBody = document.getElementById('DetailTblbody');
    var paginationContainer = document.getElementById('pagination');
    var rows = Array.from(tableBody.getElementsByTagName('tr'));
    var numRows = rows.length;
    var rowsPerPage = 10;
    var totalPages = Math.ceil(numRows / rowsPerPage);

    if (numRows >= 10) {
        function showPage(page) {
            var startIndex = (page - 1) * rowsPerPage;
            var endIndex = Math.min(startIndex + rowsPerPage, numRows);

            // Hide all rows
            rows.forEach(function (row) {
                row.style.display = 'none';
            });

            // Show rows for the specified page
            for (var i = startIndex; i < endIndex; i++) {
                rows[i].style.display = 'table-row';
            }
        }

        for (var i = 1; i <= totalPages; i++) {
            var link = document.createElement('a');
            link.href = '#';
            link.textContent = i;
            link.classList.add('pagination-link');
            paginationContainer.appendChild(link);
        }

        showPage(1);

        paginationContainer.addEventListener('click', function (e) {
            e.preventDefault();

            if (e.target.tagName === 'A') {
                var page = parseInt(e.target.textContent);
                showPage(page);
            }
        });
    }
</script>

