@*@model IEnumerable<Connect4m_Web.Models.AttendanceModel>*@
@model List<AttendanceModel>
@{
    ViewData["Title"] = "LeaveTypesCAllingTableView";
    Layout = null;
}

<div class="default-according style-1" id="accordionoc123456">
    <div class="card" id="DivTBLSearchedLeavesType">
        <div class="card-header " style="background-color:black ;">
            <h5 class="mb-0">
                <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#collapseicon1" aria-expanded="true" aria-controls="collapse11">@*<i class="icofont icofont-briefcase-alt-2"></i>*@  <span id="CountOfRecords_LeavesTypes">YOUR SEARCH RESULTED <span id="counts" class="number-circle">@Model.Count</span> RECORDS.</span></button>
            </h5>
        </div>
        <div class="collapse show" id="collapseicon1" aria-labelledby="collapseicon" data-bs-parent="#accordionoc123456" style="">
            <div class="card">
                <form id="Fm_TblLeavesTypes_SearchRecords" class="table-responsive">
                    <table id="TblLeavesTypes_SearchRecords" class="display  cell-border tableid" >
                        <thead>
                            <tr>
                                <th>Leave Type</th>
                                <th style="text-align: center;">Short Name</th>
                                <th style="text-align: center;">Carry Forward</th>
                                <th style="text-align: center;">Past Days Leave Apply</th>
                                <th style="text-align: center;">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var i = 0; }
                                @foreach (var item in Model)
                                {
                                    i++;
                                <tr id="Row@(i)">
                                    <td>
                                        <a id="TBLLeavetype" onclick="EditValuesGettingFunction.call(this)" style="cursor: pointer;font-weight: bold;">@item.Leavetype</a>
                                        <input type="text" id="TBLLeavetypeid" value="@item.Leavetypeid" hidden>
                                    </td>
                                    <td style="text-align:center;">
                                        @item.ShortName
                                    </td>
                                    <td style="text-align:center;">
                                        @if (@item.Carryforward == 1)
                                        {
                                            @:Yes
                                        }
                                        else
                                        {@:No

                                        }
                                    </td>
                                    <td style="text-align:center;">
                                        @if (@item.AllowPastDates == 1)
                                        {
                                            @:Yes
                                        }
                                        else
                                        {@:No

                                        }
                                    </td>
                                    <td style="text-align:center;">
                                        @if (@item.Leavetypeid != 122 && @item.Leavetypeid != 123)
                                        {
                                        <p class='fa fa-trash -o' id="TblDeleteBtn" onclick="DeleteLeaveTypesCallingFunction.call(this)" title='Click to delete this record' style='font-size:18px; color:red; cursor:pointer;text-align:center; '></p>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        @*<tfoot>
                            <tr>
                                <td style="padding:2px" colspan="5"><div style="text-align:center" id="TblLeavesTypes_SearchRecords_pagination">
                                     </div></td>
                            </tr>
                        </tfoot>*@
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>


