@model Connect4m_Web.Models.LeaveLevelModel
@{
    ViewData["Title"] = "LeaveLevels";
}

<!DOCTYPE html>
<html>
<head>

    @*<link href="~/Datatable/jquery.dataTables.min.css" rel="stylesheet" />
        <link href="~/Datatable/jquery.dataTables.css" rel="stylesheet" />*@

    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" />*@



    <!--<link href="~/Themes/assets/css/StyleSheets/LeaveLevels.css" rel="stylesheet" />-->
    @*<link href="~/Themes/assets/css/StyleSheets/LoadingSpinner.css" rel="stylesheet" />*@
    <!--<link href="~/Themes/assets/css/StyleSheets/GeneralStyleSheet.css" rel="stylesheet" />-->
</head>
<body>

    <div class="flex-grow-1 container-p-y container-fluid">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Admin Module /</span>LEAVE LEVELS</h4>
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">
                <div class="demo-inline-spacing">
                    <button id="BtnAddNewLevels" class="btn rounded-pill btn-label-primary waves-effect" onclick="AddNewLevels()">Add new level</button>
                </div>
                <span class="ErrorMessageSpan" id="Main_Span_Error"></span>
                <span class="ErrorMessageSpan" id="Levels_Id_CreatePage_Span_Error"></span>
                <span class="ErrorMessageSpan" id="Department_Id_CreatePage_Span_Error"></span>
                <span class="ErrorMessageSpan" id="Roles_Id_CreatePage_Span_Error"></span>
                <span class="ErrorMessageSpan" id="User_Id_CreatePage_Span_Error"></span>

                @*==========================search LEVEL Card====================*@
                <div class="card mb-4" id="SearchPage">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span>
                                LEAVE LEVEL SEARCH
                            </span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <form id="myForm">
                            <div class="row">
                                <div class="col">

                                    @*--------------------------*@
                                    <div class="row mb-3 ">
                                        <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Level</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select id='Levels_Id' class="select2 form-select select2-hidden-accessible" asp-items="@(new SelectList(""))">
                                                    <option value=''>---------Select--------</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    @*--------------------------*@
                                    <div class="row mb-3 ">
                                        <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Department</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select id='Department_Id' class="select2 form-select select2-hidden-accessible" onchange="AppliedEmployeeNames_Caliingfunction(this.id,'AppliedEmployeesNames_Id')" asp-items="@(new SelectList(""))">
                                                    <option value=''>---------Select--------</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    @*--------------------------*@
                                    <div class="row mb-3 ">
                                        <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Applied Employee</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select id='AppliedEmployeesNames_Id' class="select2 form-select select2-hidden-accessible" size="4" multiple="multiple" asp-items="@(new SelectList(""))">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    @*--------------------------*@
                                    <div class="row justify-content-end">
                                        <div class="col-sm-8">
                                            <button type="reset" class="btn btn-warning waves-effect waves-light" id="clearbutton1" onclick="FN_ClearValues(this.id,'myForm','AppliedEmployeesNames_Id')" value="Clear">Clear</button>
                                            <button type="submit" class="btn btn-success waves-effect waves-light" id="SearchBTN_LeaveLevels_In_Table" onclick="LeaveLevels_In_Table_Caliingfunction(event)" value="Search">Search</button>
                                        </div>
                                    </div>
                                    @*--------------------------*@
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                @*========================== Searched result table Card====================*@
                @*<a id="ExportExcelLink" style="font-weight: bold; cursor: pointer; letter-spacing: 0px; font-size: 11px; ">Export to Excel</a>*@
                <div id="LeaveLevels_SearchRecords_Table_Div" style="display:block">
                    <div class="card" id="SearchedTablePage">
                        <div class="card-header flex-column flex-md-row">
                            <div class="head-label text-center">
                                <h5 class="card-title mb-0">
                                    <span>YOUR SEARCH RESULTED &nbsp;<span id="Counts" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>
                                </h5>
                            </div>
                        </div>

                        <div class="table-responsive text-nowrap">
                            <table id="LeaveLevels_SearchRecords_Table" class="table table-hover table-bordered no-footer dataTable link">
                                <thead class="table-dark">
                                    <tr>
                                        <th>S No</th>
                                        <th>Leave Level</th>
                                        <th>Department</th>
                                        <th>Role Name</th>
                                        <th>Applied User Name</th>
                                        <th>Approver User Name</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>


                @*================================ create page Card==============================*@

                <div class="card mb-4" id="CreateNewPage">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span id="AddNewText_Span_CreatePage">  CREATE LEAVE LEVEL</span>
                        </h5><small class="required">  INDICATES REQUIRED FIELDS</small>
                    </div>
                    <div class="card-body">
                        <form id="Form_CreatePage">
                            <div class="row">
                                <div class="col">

                                    <input type="hidden" name="LeaveLevelId" id="TBLeaveLevelId" />
                                    @*--------------------------*@
                                    <div class="row mb-3 ">
                                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Level</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select id='Levels_Id_CreatePage' name="LevelID" class="select2 form-select select2-hidden-accessible" onchange="LeaveTypeChange()" asp-items="@(new SelectList(""))">
                                                    <option value=''>---------Select--------</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    @*--------------------------*@
                                    <div class="row mb-3 ">
                                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Department</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select id='Department_Id_CreatePage' name="InstanceClassificationId" class="select2 form-select select2-hidden-accessible" onchange="AppliedEmployeeNames_Caliingfunction(this.id,'AppliedEmployeesNames_Id_CreatePage')" asp-items="@(new SelectList(""))">
                                                    <option value=''>---------Select--------</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    @*--------------------------*@
                                    @*--------------------------*@
                                    <div class="row mb-3 " id="AppliedEmployeesNames_Id_CreatePage_Div">
                                        <label class="col-sm-4 col-form-label  text-end " for="basic-default-name"> Employee</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select id='AppliedEmployeesNames_Id_CreatePage' name="AppliedUserId" class="select2 form-select select2-hidden-accessible" size="4" multiple="multiple" asp-items="@(new SelectList(""))">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    @*--------------------------*@

                                    <div class="row mb-3 ">
                                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Role</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select id='Roles_Id_CreatePage' name="InstanceDesignationId" class="select2 form-select select2-hidden-accessible" onchange="GetUserName_BY_SelectRoleId()" asp-items="@(new SelectList(""))">
                                                    <option value=''>---------Select--------</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    @*--------------------------*@
                                    <div class="row mb-3 ">
                                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">User</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select id='User_Id_CreatePage' name="ApproverUserId" class="select2 form-select select2-hidden-accessible" asp-items="@(new SelectList(""))">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    @*--------------------------*@
                                    <div class="row justify-content-end">
                                        <div class="col-sm-8">
                                            <button type="button" class="btn btn-info waves-effect waves-light" id="clearbutton1_CreatePage" onclick="BackTOSearhLevels(event,12)" value="Back">Back</button>
                                            <button type="reset" class="btn btn-warning waves-effect waves-light" id="clearbutton1_CreatePage" onclick="FN_ClearValues(this.id,'Form_CreatePage','AppliedEmployeesNames_Id_CreatePage')" value="Clear">Clear</button>
                                            <button type="submit" class="btn btn-success waves-effect waves-light" id="SaveLeaveLevels_CreatePage_BTN" onclick="FN_LeaveLevels_Save(event)" value="Save">Save</button>
                                        </div>
                                    </div>
                                    @*--------------------------*@

                                </div>
                            </div>
                        </form>
                    </div>


                </div>

            </div>
        </div>
    </div>
</body>
</html>


@*<button id="exportExcelButton">Export Excel</button>*@

<!--<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>-->
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>*@

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/LeaveLevels.js"></script>

@*<script src="~/js/PaginationToTables.js"></script>*@

<link href="~/Datatable/jquery.dataTables.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.colVis.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>

@*<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>*@


@*<script src="~/Datatable/jquery.dataTables.js"></script>
<script src="~/Datatable/jquery.dataTables.min.js"></script>*@
<script>
    $(document).ready(function () {
        $("#CreateNewPage").hide();
        LeaveLevels_In_Table_Caliingfunction(event, 12);
        LeaveLevelsDropdown_Caliingfunction();
        DepartmentsDropdown_Caliingfunction();
        Roles_InstanceRole_SELByInstanceId_CallingFunction();
    });
    var js = jQuery.noConflict(true);
</script>

@*this for export to excel*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
    <script>

        $('#ExportExcelLink').click(function () {
            var sheet = XLSX.utils.table_to_sheet(document.getElementById('LeaveLevels_SearchRecords_Table'));
            var wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, sheet, 'Sheet JS');

            var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

            function s2ab(s) {
                var buf = new ArrayBuffer(s.length);
                var view = new Uint8Array(buf);
                for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                return buf;
            }

            saveAs(new Blob([s2ab(wbout)], { type: 'application/octet-stream' }), 'LeaveLevels.xls');
        });

    </script>*@

