
@model Connect4m_Web.Models.ManageUsersModel

@{
    ViewData["Title"] = "GeneralInfoTab";
    Layout = null;
    var UpdateIdentification = ViewBag.UpdateIdentification;
}


<input type="hidden" value="@UpdateIdentification" id="BtnUpdateIdentification" />
@if (UpdateIdentification == "UpdateDetails")
{
        <button class="btn rounded-pill btn-outline-dark waves-effect float-end" style="display:none;" id="BtnPreview" onclick="Preview_CalingFunction('@Model.UserId', this)">
            Preview
        </button>
    
        }
        <div id="DivGeneralInfoTab">
            <form id="FmGeneralInfoTab" class="needs-validation was-validated" novalidate>

                @*<div class="form-group col-12 passwordfor"><span class="ErrorMessageSpan text-danger" id="Main_Span_Error"></span></div>*@
                <div class=" passwordfor"><span class="ErrorMessageSpan text-danger" id="Main_Span_Error"></span></div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" id="HdnUserId" />
                @*<input type="hidden" asp-for="InstanceID" id="HdnInstanceID" />*@
                @*=============================Save Users Card=================================*@
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span id="SpnCardHeaderName">
                                SAVE USERS
                            </span>
                        </h5><small class="required float-end"> INDICATES REQUIRED FIELDS</small>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col">
                                @*----------------------*@

                                <div class="mb-3 row">
                                    <label asp-for="RoleId" class="col-sm-2 col-form-label  text-end required" for="basic-default-name"></label>
                                    <div class="col-sm-4">
                                        <div class="position-relative">
                                            @Html.DropDownListFor(x => x.RoleId,
                new SelectList(ViewBag.DdlInstanceRole, "Value", "Text"), "-------select-------",
                new { @class = "select2 form-select select2-hidden-accessible", @id = "DdlRoleIdInGeneralTab", @onchange = "RoleOnChangeFunctionInGeneralTab(this.id)", @required = "required" })

                                            <span asp-validation-for="RoleId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    @*<label class="col-sm-2 col-form-label  text-end" for="basic-default-name"></label>*@

                                    <div class="col-sm-6 ">
                                        @*<img src="@ViewBag.PhotoNameFullName" style=" display: none; height: 100px; width: 100px; border-width: 0px;" />*@
                                        @*@if (ViewBag.PhotoName != "" && UpdateIdentification == "UpdateDetails")*@
                                        @if (UpdateIdentification == "UpdateDetails")
                                        {
                                            <img src="@ViewBag.PhotoNameFullName" alt="" id="ImgPhotoDisplay" />
                                            @*<img src="~/Images/No imageAvailable.gif" alt="" id="ImgNophotoAvailable" style="height: 100px; width: 100px; border-width: 0px; margin-left: 120%;display:none" />*@
                                            @*<img src="~/Images/No imageAvailable.gif" alt="" id="ImgNophotoAvailable" style="height: 100px; width: 100px; border-width: 0px; margin-left: 120%;display:none" />*@
                                        }
                                        @*else if (UpdateIdentification == "UpdateDetails")
                                            {
                                                <img src="@ViewBag.PhotoNameFullName" id="ImgPhotoDisplay" alt="" style="height: 100px; width: 100px; border-width: 0px; margin-left: 120%; display: none" />
                                                <img src="~/Images/No imageAvailable.gif" id="ImgNophotoAvailable" alt="" style="height: 100px; width: 100px; border-width: 0px; margin-left: 120%;" />

                                            }*@
                                        @if (ViewBag.FatherName != "" && ViewBag.FatherName != null && UpdateIdentification == "UpdateDetails")
                                        {
                                            <label asp-for="ParentName" class="control-label space">Father Name </label><span class="text-danger">@ViewBag.FatherName</span>
                                        }<br />
                                        @if (ViewBag.MotherFirstName != "" && ViewBag.MotherFirstName != null && UpdateIdentification == "UpdateDetails")
                                        {
                                            <label asp-for="MotherFirstName" class="control-label space ">Mother Name </label><span>@ViewBag.MotherFirstName</span>
                                        }
                                    </div>
                                </div>
                                @*----------------------*@

                                <div class="mb-3 row">
                                    <label asp-for="DesignationId" class="col-sm-2 col-form-label  text-end  ClsDivTeachers" for="basic-default-name"></label>
                                    <div class="col-sm-4 ClsDivTeachers">
                                        <div class="position-relative">
                                            @Html.DropDownListFor(x => x.DesignationId, new SelectList(ViewBag.DdlDesignation, "Value", "Text"), "-------select-------", new { @class = "select2 form-select select2-hidden-accessible ClsClear" })
                                            @*<span asp-validation-for="DesignationId" class="text-danger"></span>*@
                                        </div>
                                    </div>

                                </div>
                                @*----------------------*@

                                <div class="mb-3 row">
                                    <label asp-for="Qualification" class="col-sm-2 col-form-label  text-end ClsDivTeachers" for="basic-default-name"></label>
                                    <div class="col-sm-4 ClsDivTeachers">
                                        <input type="text" asp-for="Qualification" class="form-control ClsClear" placeholder="Qualification">
                                        <span asp-validation-for="Qualification" class="text-danger"></span>
                                    </div>
                                </div>

                                @*----------------------*@
                                <div class="mb-3 row">
                                    <label asp-for="Batch" class="col-sm-2 col-form-label  text-end ClsSessionStudent" for="basic-default-name"></label>
                                    <div class="col-sm-4 ClsSessionStudent">
                                        <div class="position-relative">
                                            @Html.DropDownListFor(x => x.Batch, new SelectList(ViewBag.DdlSessionList, "Value", "Text"), "-------select-------", new { @class = "select2 form-select select2-hidden-accessible  ClsClear" })
                                        </div>
                                    </div>
                                    <label asp-for="Photo" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        @if (ViewBag.PhotoName != "" && ViewBag.PhotoName != null && UpdateIdentification == "UpdateDetails")
                                        {
                                            <span id="SpnPhotoName" class="ClsFileName">@ViewBag.PhotoName</span><a class=" btn rounded-pill btn-outline-danger waves-effect ClsFileName" onclick="DeletePhoto_CallingFunction()">Delete</a>
                                            <input type="file" asp-for="Photo" id="FlPhoto" class="form-control" style="display:none" />
                                        }
                                        else if (UpdateIdentification == "UpdateDetails")
                                        {
                                            <span style="display:none" class="ClsFileName" id="SpnPhotoName">@ViewBag.PhotoName</span><a style="display: none !important" class="btn rounded-pill btn-outline-danger waves-effect ClsFileName " onclick="DeletePhoto_CallingFunction()">Delete</a>
                                            <input type="file" asp-for="Photo" id="FlPhoto" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="file" asp-for="Photo" id="FlPhoto" class="form-control" />
                                        }
                                        <input type="hidden" asp-for="PhotoSize" readonly />
                                        <input type="hidden" asp-for="PhotoName" readonly />
                                    </div>
                                </div>
                                @*----------------------*@


                                <div class="mb-3 row">
                                    <label asp-for="InstanceUserCode" id="LblInstanceUserCodeGeneralTab" class="col-sm-2 col-form-label  text-end ClsDivTeachers" for="basic-default-name">Reg. No./Emp ID</label>
                                    <div class="col-sm-4 ClsDivTeachers">
                                        <input type="text" asp-for="InstanceUserCode" class="form-control ClsClear" placeholder="Reg. No./Emp ID">
                                        <span asp-validation-for="InstanceUserCode" class="text-danger"></span>
                                    </div>
                                </div>
                                @*----------------------*@
                                <div class="mb-3 row">

                                    @*<label asp-for="FirstName"  class="col-sm-2 col-form-label  text-end required" for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" asp-for="FirstName" class="form-control" placeholder="Reg. No./Emp ID">
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>*@
                                    <label asp-for="FirstNameInGeneral" class="col-sm-2 col-form-label  text-end required" for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <input type="text" asp-for="FirstNameInGeneral" class="form-control" placeholder="First Name" required>
                                        <span asp-validation-for="FirstNameInGeneral" class="text-danger"></span>
                                    </div>

                                    <label asp-for="MiddleName" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <input type="text" asp-for="MiddleName" class="form-control " placeholder="Middle Name">
                                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                                    </div>
                                </div>

                                @*----------------------*@
                                <div class="mb-3 row">

                                    <label asp-for="LastName" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <input type="text" asp-for="LastName" class="form-control" placeholder="Last Name">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>

                                    <label asp-for="DateOfJoining" class="col-sm-2 col-form-label  text-end required" for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <input type="date" id="DtDateOfJoining" asp-for="DateOfJoining" class="form-control" oninput="compareDatesNotGreaterThanTodayById(this.getAttribute('id'), 'Date Of Joining')" placeholder="Date Of Joining" required />
                                        <span asp-validation-for="DateOfJoining" class=" text-danger"></span>
                                        <span class="compare text-danger"></span>
                                    </div>
                                </div>

                                @*----------------------*@

                                <div class="mb-3 row">
                                    <label asp-for="Nationality" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <input type="text" asp-for="Nationality" class="form-control " placeholder="Nationality">
                                    </div>
                                    <label asp-for="AdmissionNumberNew" class="col-sm-2 col-form-label  text-end required ClsSessionStudent" for="basic-default-name"></label>
                                    <div class="col-sm-4 ClsSessionStudent">
                                        <input asp-for="AdmissionNumberNew" class="form-control ClsClear" placeholder="Admission Number" required />
                                        <span asp-validation-for="AdmissionNumberNew" class="text-danger"></span>
                                    </div>
                                </div>

                                @*----------------------*@
                                <div class="mb-3 row">
                                    <label asp-for="IsUserJoined" class="col-sm-2 col-form-label  text-end ClsSessionStudent" for="basic-default-name"></label>
                                    <div class="col-sm-4 ClsSessionStudent">
                                        <input type="checkbox" asp-for="IsUserJoined" id="ChkIsUserJoined" class="form-check-input ClsClear" disabled />
                                    </div>
                                    <label asp-for="BloodGroup" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <div class="position-relative">
                                            <select id='DdlPickUpRoute' asp-for="BloodGroup" class="select2 form-select select2-hidden-accessible" asp-items="@(new SelectList(ViewBag.DdlBloodGroupList, "Value", "Text"))">
                                                <option value=''>---------Select---------</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                @*----------------------*@
                                <div class="mb-3 row">
                                    <label asp-for="PlaceOfBirth" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <input type="text" asp-for="PlaceOfBirth" class="form-control " placeholder="Place Of Birth">
                                        <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
                                    </div>
                                    <label asp-for="CollegeCode" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <input type="text" asp-for="CollegeCode" class="form-control " placeholder="School Code">
                                        <span asp-validation-for="CollegeCode" class="text-danger"></span>
                                    </div>
                                </div>

                                @*----------------------*@
                                <div class="mb-3 row">
                                    <label asp-for="Gender" class="col-sm-2 col-form-label  text-end required" for="basic-default-name"></label>
                                    <div class="col-sm-4">
                                        <div class="col mt-2">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input " asp-for="Gender" id="Male" type="radio" name="Gender" value="1" required />
                                                <label class="form-check-label" for="Male">Male</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input " asp-for="Gender" id="Female" type="radio" name="Gender" value="0" required />
                                                <label class="form-check-label" for="Female"> Female</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input " asp-for="Gender" id="Others" type="radio" name="Gender" value="" required />
                                                <label class="form-check-label" for="Others"> Others</label>
                                            </div>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <label asp-for="FeeConcedingTypeId" class="col-sm-2 col-form-label  text-end ClsDivTeachers" for="basic-default-name"></label>
                                    <div class="col-sm-4 ClsDivTeachers">
                                        <div class="position-relative">
                                            <select id='DdlPickUpStop' asp-for="FeeConcedingTypeId" class="select2 form-select select2-hidden-accessible ClsClear" asp-items="@(new SelectList(ViewBag.DdlFeeConcedingTypesList , "Value", "Text"))">
                                                <option value=''>---------Select---------</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                @*----------------------*@
                                <div class="mb-3 row">
                                    <label asp-for="ADMISSIONCATEGORY" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <div class="position-relative">
                                            <select asp-for="ADMISSIONCATEGORY" multiple="multiple" class="select2 form-select select2-hidden-accessible" asp-items="@(new SelectList(""))">
                                                <option value="1" title="General">General</option>
                                                <option value="2" title="EWS">EWS</option>
                                                <option value="3" title="Sibling">Sibling</option>
                                                <option value="4" title="Transfer">Transfer</option>
                                                <option value="5" title="Staff">Staff</option>
                                                <option value="6" title="Management">Management</option>
                                                <option value="7" title="Under Privileged">Under Privileged</option>
                                                <option value="8" title="Special Education Needs">Special Education Needs</option>
                                                <option value="9" title="Disadvantage Group">Disadvantage Group</option>
                                            </select>
                                        </div>
                                    </div>
                                    <label asp-for="ICNumber" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <input asp-for="ICNumber" class="form-control" placeholder="Aadhaar Number" />
                                        <span asp-validation-for="ICNumber" class="text-danger"></span>
                                    </div>
                                </div>

                                @*----------------------*@


                            </div>

                        </div>
                    </div>
                </div>

                @*--- PAY ROLE INFORMATION Card----*@
                <div class="card mb-4 ClsDivTeachers">

                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span>
                                PAY ROLE INFORMATION
                            </span>
                        </h5><small class="required float-end"> INDICATES REQUIRED FIELDS</small>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col">
                                @*----------------------*@
                                <div class="mb-3 row">
                                    <label asp-for="Category" class="col-sm-2 col-form-label  text-end required ClsDivTeachers" for="basic-default-name"></label>
                                    <div class="col-sm-4 ClsDivTeachers">
                                        <div class="position-relative">
                                            <select id='DdlCategory' asp-for="Category" class="select2 form-select select2-hidden-accessible  ClsClear" onchange="CommonDropdownFunction('GET', '/Users/DdlPayRoleCategory_Calingfunction?Id=' + this.value, 'DdlSubCategory', '------Select------', true)" asp-items="@(new SelectList(ViewBag.DdlPayRoleCategoryList , "Value", "Text"))" required>
                                                <option value=''>------Select------</option>
                                            </select>
                                            <span asp-validation-for="Category" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <label asp-for="SubCategory" class="col-sm-2 col-form-label  text-end required ClsDivTeachers" for="basic-default-name"></label>
                                    <div class="col-sm-4 ClsDivTeachers">
                                        <div class="position-relative">
                                            <select id='DdlSubCategory' asp-for="SubCategory" class="select2 form-select select2-hidden-accessible  ClsClear DdlCascadDropdowns" asp-items="@(new SelectList(ViewBag.DdlPayRoleCategoryIdList,"Value","Text"))" disabled required>
                                                <option value=''>------Select------</option>
                                            </select>
                                            <span asp-validation-for="SubCategory" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                @*----------------------*@

                                <div class="mb-3 row">
                                    <label asp-for="LMSCategory" class="col-sm-2 col-form-label  text-end required ClsDivTeachers" for="basic-default-name"></label>
                                    <div class="col-sm-4 ClsDivTeachers">
                                        <div class="position-relative">
                                            <select id='DdlLMSCategory' asp-for="LMSCategory" class="select2 form-select select2-hidden-accessible  ClsClear" onchange="CommonDropdownFunction('GET', '/Users/DdlLMSCategory_Calingfunction?Id=' + this.value, 'DdlLMSSubCategory', '------Select------', true)" asp-items="@(new SelectList(ViewBag.DdlLMSCategoryList, "Value", "Text"))" required>
                                                <option value=''>------Select------</option>
                                            </select>
                                            <span asp-validation-for="LMSCategory" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <label asp-for="LMSSubCategory" class="col-sm-2 col-form-label  text-end required ClsDivTeachers" for="basic-default-name"></label>
                                    <div class="col-sm-4 ClsDivTeachers">
                                        <div class="position-relative">
                                            <select id='DdlLMSSubCategory' asp-for="LMSSubCategory" class="select2 form-select select2-hidden-accessible  ClsClear DdlCascadDropdowns" asp-items="@(new SelectList(ViewBag.DdlLMSSubCategoryIdList,"Value","Text"))" disabled required>
                                                <option value=''>------Select------</option>
                                            </select>
                                            <span asp-validation-for="LMSSubCategory" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                                @*----------------------*@
                            </div>
                        </div>
                    </div>

                </div>


                @*--- PERSONAL INFORMATION Card----*@
                <div class="card mb-4">

                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span id="SpnCardHeaderName">
                                PERSONAL INFORMATION
                            </span>
                        </h5><small class="required float-end"> INDICATES REQUIRED FIELDS</small>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                @*----------------------*@
                                <div class="mb-3 row">
                                    <label asp-for="DOB" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <input type="date" Id="DOB" asp-for="DOB" class="form-control" oninput="compareDatesNotGreaterThanTodayById(this.getAttribute('id'), 'Date Of Birth')" />
                                        <span asp-validation-for="DOB" class="text-danger"></span>
                                        <span class="compare text-danger"></span>
                                    </div>
                                    <label asp-for="ReligionId" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <div class="position-relative">
                                            <select id='DdlClass' asp-for="ReligionId" class="select2 form-select select2-hidden-accessible" asp-items="@(new SelectList(ViewBag.DdlReligionList, "Value", "Text"))">
                                                <option value=''>------Select------</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                @*----------------------*@
                                <div class="mb-3 row">
                                    <label asp-for="CommunityId" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <div class="position-relative">
                                            <select id='DdlClass' asp-for="CommunityId" class="select2 form-select select2-hidden-accessible" asp-items="@(new SelectList(ViewBag.DdlCommunityList, "Value", "Text"))">
                                                <option value=''>------Select------</option>
                                            </select>
                                        </div>
                                    </div>
                                    <label asp-for="MotherTongueId" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <div class="position-relative">
                                            <select id='DdlClass' asp-for="MotherTongueId" class="select2 form-select select2-hidden-accessible" asp-items="@(new SelectList(ViewBag.DdlMotherTongueList, "Value", "Text"))">
                                                <option value=''>------Select------</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                @*----------------------*@

                                <div class="mb-3 row">
                                    <label asp-for="MobilePhone" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <input type="text" asp-for="MobilePhone" class="form-control " placeholder="Mobile Number">
                                        <span asp-validation-for="MobilePhone" class="text-danger"></span>
                                    </div>
                                </div>

                                @*----------------------*@
                                <div class="mb-3 row">
                                    <label asp-for="PortalEmail" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <input type="email" asp-for="PortalEmail" class="form-control " placeholder="Email Address">
                                        <span asp-validation-for="PortalEmail" class="text-danger"></span>
                                    </div>
                                    <label asp-for="AlternateEmail" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <input type="email" asp-for="AlternateEmail" class="form-control " placeholder="Alternate Email Address">
                                        <span asp-validation-for="AlternateEmail" class="text-danger"></span>
                                    </div>
                                </div>

                                @*----------------------*@
                                <div class="mb-3 row">
                                    <label asp-for="PermanentAddress1" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <textarea asp-for="PermanentAddress1" class="form-control" rows="3" placeholder="Address"></textarea>
                                    </div>
                                    <label asp-for="PermanentAddress2" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <textarea asp-for="PermanentAddress2" class="form-control" rows="3" placeholder="Address"></textarea>
                                    </div>

                                </div>
                                @*----------------------*@
                                <div class="mb-3 row">
                                    <label asp-for="PCity" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <input asp-for="PCity" class="form-control" placeholder="City" />
                                    </div>
                                    <label asp-for="PCountryId" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <div class="position-relative">
                                            <select id='DdlCountry' asp-for="PCountryId" class="select2 form-select select2-hidden-accessible" onchange="CommonDropdownFunction('GET', '/Users/DdlStateByCountry_Calingfunction?CountryId=' + this.value, 'DdlState', 'Please select a State', true)" asp-items="@(new SelectList(ViewBag.DdlCountryList, "Value", "Text"))">
                                                <option value=''>------Select------</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                @*----------------------*@

                                <div class="mb-3 row">
                                    <label asp-for="PStateId" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <div class="position-relative">
                                            <select id='DdlState' asp-for="PStateId" class="select2 form-select select2-hidden-accessible DdlCascadDropdowns" asp-items="@(new SelectList(ViewBag.DdlStateList,"Value","Text"))" disabled>
                                                <option value=''>Please select a State</option>
                                            </select>
                                        </div>
                                    </div>
                                    <label asp-for="PZip" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <input asp-for="PZip" class="form-control" placeholder="Pin Code" />
                                        <span asp-validation-for="PZip" class="text-danger"></span>
                                    </div>
                                </div>
                                @*----------------------*@
                            </div>
                        </div>
                    </div>
                </div>

                @*--- OTHER INFORMATION Card----*@

                <div class="card mb-4">

                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span>
                                OTHER INFORMATION
                            </span>
                        </h5><small class="required float-end"> INDICATES REQUIRED FIELDS</small>
                    </div>


                    <div class="card-body">
                        <div class="row">

                            <div class="col">
                                @*----------------------*@
                                <div class=" row mb-3">
                                    <label asp-for="InstanceClassificationId" class="col-sm-4 col-form-label  text-end required" for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <div class="position-relative">
                                            <select id='DdlDepartmentGeneralTab' asp-for="InstanceClassificationId" class="select2 form-select select2-hidden-accessible" onchange="CommonDropdownFunction('GET', '/Attendance/DdlClassId_Calingfunction?InstanceClassificationId=' + this.value, 'DdlClassGeneralTab', 'Please select a Class', true)" asp-items="@(new SelectList(ViewBag.DdlInstanceClassificationList,"Value","Text"))" required>
                                                <option value=''>Select a Department</option>
                                            </select>
                                            <span asp-validation-for="InstanceClassificationId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                @*----------------------*@
                                <div class=" row mb-3">
                                    <label asp-for="InstanceSubClassificationId" class="col-sm-4 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <div class="position-relative">
                                            <select id='DdlClassGeneralTab' asp-for="InstanceSubClassificationId" class="select2 form-select select2-hidden-accessible  DdlCascadDropdowns" onchange="CommonDropdownFunction('POST', '/Users/DdlClassTeacher_Calingfunction?Id=' + this.value, 'DdlClassTeacherId', 'Please select ClassTeacher', true,'FmGeneralInfoTab')" asp-items="@(new SelectList(ViewBag.DdlInstanceSubClassificationIdList,"Value","Text"))" disabled>
                                                <option value=''>Please select a Class</option>
                                            </select>
                                            <span asp-validation-for="InstanceSubClassificationId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                @*----------------------*@
                                <div class=" row mb-3">
                                    <label asp-for="ClassTeacherId" class="col-sm-4 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <div class="position-relative">
                                            <select id="DdlClassTeacherId" asp-for="ClassTeacherId" class="select2 form-select select2-hidden-accessible  DdlCascadDropdowns" asp-items="@(new SelectList(ViewBag.DdlClassTeacherIdList,"Value","Text"))" disabled>
                                                <option value=''>Please select ClassTeacher</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                @*----------------------*@

                                <div class="mb-3 row">
                                    <label asp-for="SendSMS" class="col-sm-4 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4">
                                        <div class="col mt-2">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input " asp-for="SendSMS" id="YesSendSMS" type="radio" name="SendSMS" value="1" checked="checked" />
                                                <label class="form-check-label" for="YesSendSMS">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input " asp-for="SendSMS" id="NoSendSMS" type="radio" name="SendSMS" value="0" />
                                                <label class="form-check-label" for="NoSendSMS"> No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*----------------------*@

                                <div class="mb-3 row">
                                    <label asp-for="TcTaken" id="LblTcTakenGeneralTab" class="col-sm-4 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4">
                                        <div class="col mt-2">
                                            <!--<div class="form-group col-4" style="display:flex">
                                            <input asp-for="TcTaken" type="radio" id="TcTakenYes" name="TcTaken" value="1" onclick="TcTakenChecking(this.value)" style="flex: 0.2;" /><span>Yes</span>
                                            <input asp-for="TcTaken" type="radio" id="TcTakenNo" checked="checked" name="TcTaken" value="0" onclick="TcTakenChecking(this.value)" style="flex: 0.2;" /><span>No</span>-->
                                            @*<input asp-for="TcTaken" type="radio" id="TcTakenNo"  name="TcTaken" value="0" onclick="TcTakenChecking(this.value)" style="flex: 0.2;" /><span>No</span>*@
                                            <!--</div>-->
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input " asp-for="TcTaken" id="TcTakenYes" type="radio" name="TcTaken" value="1" onclick="TcTakenChecking(this.value)" />
                                                <label class="form-check-label" for="TcTakenYes">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input " asp-for="TcTaken" id="TcTakenNo" type="radio" name="TcTaken" value="0" onclick="TcTakenChecking(this.value)" />
                                                <label class="form-check-label" for="TcTakenNo"> No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*----------------------*@
                                <div class=" row mb-3">
                                    <label asp-for="TCNumber" class="col-sm-4 col-form-label  text-end ClsDivTcTakesnYes" for="basic-default-name"></label>
                                    <div class="col-sm-4 ClsDivTcTakesnYes ">
                                        <input asp-for="TCNumber" class="form-control ClsTxtTcTakesnYes" placeholder="Tc Number" />
                                    </div>
                                </div>
                                @*----------------------*@
                                <div class=" row mb-3">
                                    <label asp-for="TCdate" class="col-sm-4 col-form-label  text-end ClsDivTcTakesnYes" for="basic-default-name"></label>
                                    <div class="col-sm-4 ClsDivTcTakesnYes ">
                                        <input type="date" id="DtTCdate" asp-for="TCdate" class="form-control ClsTxtTcTakesnYes" />
                                        <span asp-for="TCdate" class=" text-danger"></span>
                                        <span class="compare text-danger"></span>
                                    </div>
                                </div>
                                @*----------------------*@
                                <div class=" row mb-3">
                                    <label asp-for="TcComments" class="col-sm-4 col-form-label  text-end ClsDivTcTakesnYes" for="basic-default-name"></label>
                                    <div class="col-sm-4 ClsDivTcTakesnYes ">
                                        <textarea asp-for="TcComments" rows="3" class="form-control ClsTxtTcTakesnYes" placeholder=" Comment"></textarea>
                                    </div>
                                </div>
                                @*----------------------*@
                                <div class=" row mb-3">
                                    <label asp-for="InstanceTransferDetails" id="LblInstanceTransferDetailsGeneralTab" class="col-sm-4 col-form-label  text-end ClsDivTransferDetails" for="basic-default-name"></label>
                                    <div class="col-sm-4 ClsDivTransferDetails ">
                                        <textarea asp-for="InstanceTransferDetails" rows="3" class="form-control ClsTxtTcTakesnYes" placeholder=" Transfer Details"></textarea>
                                    </div>
                                </div>
                                @*----------------------*@

                            </div>
                        </div>
                    </div>

                </div>

                @*---GENERAL INFORMATION Card----*@
                <div class="card mb-4">

                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span>
                                GENERAL INFORMATION
                            </span>
                        </h5>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                @*----------------------*@

                                <div class="row mb-3 ">
                                    <label asp-for="StudentIdentificationMarks" class="col-sm-4 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <textarea asp-for="StudentIdentificationMarks" rows="3" class="form-control" placeholder="Identification Marks"></textarea>
                                        @*<span asp-validation-for="StudentIdentificationMarks" class="text-danger"></span>*@
                                    </div>
                                </div>
                                @*----------------------*@
                                <div class="mb-3 row">
                                    <label asp-for="SiblingsInSameCollege" id="LblSiblingsInSameCollege" class="col-sm-4 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4">
                                        <div class="col mt-2">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input " asp-for="SiblingsInSameCollege" id="YesSiblingsIn" type="radio" name="SiblingsInSameCollege" value="1" />
                                                <label class="form-check-label" for="YesSiblingsIn">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input " asp-for="SiblingsInSameCollege" id="NoSiblingsIn" type="radio" name="SiblingsInSameCollege" value="0" />
                                                <label class="form-check-label" for="NoSiblingsIn"> No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*----------------------*@
                                <div class="mb-3 row">
                                    <label asp-for="SiblingsOtherCollege" id="LblSiblingsInSameCollege" class="col-sm-4 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4">
                                        <div class="col mt-2">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input " asp-for="SiblingsOtherCollege" id="YesSiblingsOther" type="radio" name="SiblingsOtherCollege" value="1" />
                                                <label class="form-check-label" for="YesSiblingsOther">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input " asp-for="SiblingsOtherCollege" id="NoSiblingsOther" type="radio" name="SiblingsOtherCollege" value="0" />
                                                <label class="form-check-label" for="NoSiblingsOther"> No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*----------------------*@
                                <div class="mb-3 row">
                                    <label asp-for="PhysicallyChalenged" class="col-sm-4 col-form-label  text-end" for="basic-default-name"></label>
                                    <div class="col-sm-4">
                                        <div class="position-relative">
                                            <select id='DdlPickUpStop' asp-for="PhysicallyChalenged" class="select2 form-select select2-hidden-accessible" onchange="TAPhysicallyChallengedDetails_Calling()" asp-items="@(new SelectList(ViewBag.DdlDisabilityList, "Value", "Text"))">
                                                <option value=''>---------Select---------</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                @*----------------------*@
                                <div class="mb-3 row">
                                    <label asp-for="PhysicallyChallengedDetails" class="col-sm-4 col-form-label  text-end" for="basic-default-name"></label>
                                    <div class="col-sm-4">
                                        <textarea asp-for="PhysicallyChallengedDetails" id="TAPhysicallyChallengedDetails" rows="3" class="form-control" placeholder="Disability Details"></textarea>
                                    </div>
                                </div>
                                @*----------------------*@


                            </div>
                        </div>
                    </div>

                </div>


                @*--- LOGIN INFORMATION Card----*@
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span>
                                LOGIN INFORMATION
                            </span>
                        </h5><small class="required float-end"> INDICATES REQUIRED FIELDS</small>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                                @*----------------------*@
                                <div class="mb-3 row">
                                    <label asp-for="IsActive" class="col-sm-4 col-form-label  text-end" for="basic-default-name"></label>
                                    <div class="col-sm-4">
                                        <div class="col mt-2">
                                            <div class="form-check form-check-inline">
                                                <input asp-for="IsActive" type="radio" class="form-check-input" id="IsActiveYes" checked="checked" name="IsActive" value="1" onclick="CommonDropdownFunction('GET', '/Users/DdlStudentStatus_Calingfunction?Id=' + this.value, 'DdlStudentStatus', '', false)" required />
                                                <label class="form-check-label" for="IsActiveYes">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input asp-for="IsActive" type="radio" class="form-check-input" id="IsActiveNo" name="IsActive" value="0" onclick="CommonDropdownFunction('GET', '/Users/DdlStudentStatus_Calingfunction?Id=' + this.value, 'DdlStudentStatus', '', false)" required />
                                                <label class="form-check-label" for="IsActiveNo"> No</label>
                                            </div>
                                            <span asp-validation-for="IsActive" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                @*----------------------*@
                                <div class="row mb-3 ">
                                    <label asp-for="StudentStatus" class="col-sm-4 col-form-label  text-end" for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <div class="position-relative">
                                            <select id='DdlStudentStatus' asp-for="StudentStatus" class="select2 form-select select2-hidden-accessible" asp-items="@(new SelectList(""))">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                @*----------------------*@
                                <div class="row mb-3 ">
                                    <label asp-for="UserName" class="col-sm-4 col-form-label  text-end required" for="basic-default-name"></label>
                                    <div style="display:none"> <input type="hidden" class="form-control" value="@ViewBag?.identityUserName" id="IdentityUserName" readonly /></div>
                                    <div class="col-sm-4 ">
                                        <input asp-for="UserName" id="TxtUserName" class="form-control" placeholder="User Name" required />
                                        <span asp-validation-for="UserName" class="text-danger SpnUserNameCls"></span>
                                        <span id="SpnUserName" class="text-danger SpnUserNameCls"></span>
                                    </div>
                                </div>
                                @*----------------------*@
                                <div class="row mb-3 ">
                                    <label asp-for="Password" class="col-sm-4 col-form-label  text-end required" for="basic-default-name"></label>
                                    <div style="display:none"> <input type="hidden" value="@ViewBag?.identitypassword" id="IdentityPassword" readonly /></div>
                                    <div class="col-sm-4 ">
                                        <input asp-for="Password" id="Password" class="form-control" placeholder="Password" required />
                                        <span asp-validation-for="Password" class="text-danger "></span>
                                    </div>
                                </div>
                                @*----------------------*@
                                <div class="row mb-3 ">
                                    <label asp-for="ConfirmPassword" class="col-sm-4 col-form-label  text-end required" for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <input asp-for="ConfirmPassword" id="ConPassword" class="form-control" placeholder="Confirm Password" required />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger "></span>
                                    </div>
                                </div>
                                @*----------------------*@
                                <div class="row mb-3 ">
                                    <label asp-for="SecurityQuestionId" class="col-sm-4 col-form-label  text-end required" for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <div class="position-relative">
                                            <select id='DdlPickUpStop' asp-for="SecurityQuestionId" class="select2 form-select select2-hidden-accessible" asp-items="@(new SelectList(ViewBag.DdlSecurityQuestionList, "Value", "Text"))" required>
                                                <option value=''>---------Select---------</option>
                                            </select>
                                            <span asp-validation-for="SecurityQuestionId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                @*----------------------*@
                                <div class="row mb-3 ">
                                    <label asp-for="Answer" class="col-sm-4 col-form-label  text-end required" for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <input asp-for="Answer" class="form-control" placeholder="Answer" required />
                                        <span asp-validation-for="Answer" class="text-danger "></span>
                                    </div>
                                </div>
                                @*----------------------*@
                                <div class="row mb-3 ">
                                    <label class="col-sm-4 col-form-label  text-end " for="basic-default-name"></label>
                                    <div class="col-sm-4 ">
                                        <input type="checkbox" asp-for="ChangePwOnLogin" class="form-check-input" />
                                        <label>Need to change password on login</label>
                                    </div>
                                </div>
                                @*----------------------*@



                                @*================================= Buttons ==================  *@


                                <div class="row justify-content-end">
                                    <div class="col-sm-8">
                                        @if (UpdateIdentification == "UpdateDetails")
                                        {
                                            <button type="button" class="btn btn-danger waves-effect waves-light" id="BtnDeleteFormInGeneralInfo" value="Delete">Delete</button>
                                        }
                                        else
                                        {
                                            <button type="reset" class="btn btn-warning waves-effect waves-light" id="BtnClearFormInGeneralInfo" value="Clear">Clear</button>
                                        }
                                        <button type="button" class="btn btn-info waves-effect waves-light" id="BtnBackToSearchInGeneralInfo" value="Back To Search">Back To Search</button>
                                        <button type="submit" class="btn btn-success waves-effect waves-light" id="BtnSaveFormInGeneralInfo" value="Save">Save</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            </form>

            <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

            @*<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>*@
            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

            @*<script src="~/js/GeneralFunctions.js"></script>*@
            @*<script src="~/js/ManageUsers.js"></script>*@
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>

            <script src="~/js/GeneralInfoTab.js"></script>
            <script type="text/javascript">
                            //var js = jQuery.noConflict(true);
                            //=======Ready Function in General Info


            </script>
        </div>
