
@model Connect4m_Web.Models.ManageUsersModel

@{
    ViewData["Title"] = "ManageUsers";
   // Layout = null;
}
@*<link href="~/Datatable/jquery.dataTables.css" rel="stylesheet" />*@
<link href="~/css/CommonStyle.css" rel="stylesheet" />
<!DOCTYPY html>
    <html lang="en">
    <head>

    </head>
    <body>


        <div class="col-sm-12 " di>
            <div class="card">
                <div class="card-body">
                    <div class="default-according style-1" id="accordionoc">
                        <div class="card">
                            <h6><span>MANAGE USERS</span></h6>
                            <div class="card-header pb-0">
                                <button class="btn btn-pill btn-outline-primary btn-aprimary" style=" margin-left: 0%; border-radius: 15px; height: 35px;  margin-bottom: 3px;display:none" id="BtnBackToSearch">
                                    Back to Search
                                </button>
                                <button class="btn btn-pill btn-outline-primary btn-aprimary" style=" margin-left: 85%; border-radius: 15px; height: 35px;  margin-bottom: 3px;" id="BtnCreateUsers">
                                    Create User
                                </button>
                            </div>
                            <div id="DivUsersSearchPage">

                                <div class="card-header bg-primary">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#collapseicon" aria-expanded="true" aria-controls="collapse11">SEARCH USERS</button>
                                    </h5>
                                </div>
                                <div class="collapse show" id="collapseicon" aria-labelledby="collapseicon" data-bs-parent="#accordionoc">

                                    <div class="row padding-search">
                                        <div class="row">
                                            <form id="FmUsersSearch">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            
                                                <div class="row">
                                                    <div class="form-group col-12 passwordfor"><span class="compare"></span></div>
                                                    @*----------------------*@

                                                    <div class="form-group col-2">
                                                        <label asp-for="UserName" class="control-label  space"></label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <input asp-for="UserName" class="form-control" id="AdmissionNumber_ME" />
                                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                                    </div>
                                                    @*----------------------*@

                                                    <div class="form-group col-2">
                                                        <label asp-for="InstanceUserCode" class="control-label space"></label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <input asp-for="InstanceUserCode" class="form-control" id="SalaryAttributeName" />
                                                    </div>

                                                    @*----------------------*@
                                                    <div class="form-group col-2">
                                                        <label asp-for="RoleId" class="control-label space"></label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <div id="Drop_Format_SEM_3">
                                                            @Html.DropDownListFor(x => x.RoleId,
                 new SelectList(ViewBag.DdlInstanceRole, "Value", "Text"), "-------select-------",
                 new { @class = "form-select readonly", @id = "dropdown_SalaryAttributeType_CSA", @style = "color:black;", @onchange = "RoleOnChangeFunction(this.value)" })
                                                        </div>
                                                    </div>
                                                    @*----------------------*@
                                                    <div class="form-group col-2">
                                                        <label asp-for="AdmissionNumber" class="control-label space"></label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <input asp-for="AdmissionNumber" class="form-control" id="SalaryAttributeName" />
                                                    </div>
                                                    @*----------------------*@
                                                    <div class="form-group col-2">
                                                        <label asp-for="FirstName" class="control-label space"></label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <input asp-for="FirstName" class="form-control" id="StartDate" />
                                                    </div>
                                                    @*----------------------*@
                                                    <div class="form-group col-2">
                                                        <label asp-for="LastName" class="control-label space"></label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <input asp-for="LastName" class="form-control" id="EndDate" />
                                                    </div>

                                                    @*----------------------*@
                                                    <div class="form-group col-2">
                                                        <label asp-for="InstanceClassificationId" class="control-label space"></label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <div id="Drop_Format_SEM_3">
                                                            <select id='DdlDepartment' asp-for="InstanceClassificationId" name="InstanceClassificationId" onchange="CommonDropdownFunction('GET', '/Attendance/DdlClassId_Calingfunction?InstanceClassificationId=' + this.value, 'DdlClass', 'Please select a Class', true)" class="form-select readonly" asp-items="@(new SelectList(""))">
                                                                <option value=''>Select a Department</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    @*----------------------*@
                                                    <div class="form-group col-2">
                                                        <label asp-for="InstanceSubClassificationId" class="control-label  space"></label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        @*@Html.DropDownListFor(x => x.InstanceSubClassificationId, new SelectList(ViewBag.SalaryAttributeType, "Value", "Text"), "-------select-------", new { @class = "form-select readonly", @id = "dropdown_SalaryAttributeType_CSA", @style = "color:black;" })*@
                                                        <select id='DdlClass' asp-for="InstanceSubClassificationId" name="InstanceSubClassificationId" class="form-select readonly" asp-items="@(new SelectList(""))" disabled>
                                                            <option value=''>Please select a Class</option>
                                                        </select>
                                                    </div>
                                                    @*----------------------*@
                                                    <div class="form-group col-2">
                                                        <label asp-for="RouteId" class="control-label space"></label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <div id="Drop_Format_SEM_3">
                                                            @*@Html.DropDownListFor(x => x.RouteId, new SelectList(ViewBag.DdlPickUpRoute, "Value", "Text"), "-------select-------", new { @class = "form-select readonly", @id = "dropdown_SalaryAttributeType_CSA", @style = "color:black;" })*@
                                                            <select id='DdlPickUpRoute' asp-for="RouteId" onchange="CommonDropdownFunction('GET', '/Users/DdlPickUpStop_Calingfunction?RouteId=' + this.value, 'DdlPickUpStop', 'Please select a Stop', true)" class="form-select readonly" asp-items="@(new SelectList(ViewBag.DdlPickUpRoute, "Value", "Text"))">
                                                                <option value=''>Select a Route</option>
                                                            </select>

                                                        </div>
                                                    </div>


                                                    @*----------------------*@

                                                    <div class="form-group col-2">
                                                        <label asp-for="StopId" class="control-label  space"></label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <select id='DdlPickUpStop' asp-for="StopId" class="form-select readonly" asp-items="@(new SelectList(""))" disabled>
                                                            <option value=''>Please select a Stop</option>
                                                        </select>
                                                    </div>
                                                    @*----------------------*@
                                                    <div class="form-group col-2">
                                                        <label asp-for="CollegeCode" class="control-label  space"></label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <input asp-for="CollegeCode" class="form-control" id="EndDate" />
                                                        @*<span asp-validation-for="CollegeCode" class="text-danger"></span>
                                                            <span class="compare"></span>*@
                                                    </div>
                                                    @*----------------------*@
                                                    <div class="form-group col-2">
                                                        <label asp-for="Gender" class="control-label  space"></label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <select asp-for="Gender" id="DdlGender" class="form-select readonly">
                                                            <option value="" title="---------Select---------">---------Select---------</option>
                                                            <option value="1" title="Male">Male</option>
                                                            <option value="2" title="Female">Female</option>
                                                            <option value="3" title="Others">Others</option>
                                                        </select>
                                                    </div>
                                                    @*----------------------*@
                                                    <div class="form-group col-2">
                                                        <label asp-for="Transport" class="control-label  space"></label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <select asp-for="Transport" class="form-select readonly">
                                                            <option value="" title="---------Select---------">---------Select---------</option>
                                                            <option value="1" title="Own">Own</option>
                                                            <option value="2" title="School">School</option>
                                                            <option value="3" title="Parent Hired Cab">Parent Hired Cab</option>
                                                            <option value="4" title="Walker">Walker</option>
                                                        </select>
                                                    </div>
                                                    @*----------------------*@
                                                    <div class="form-group col-2">
                                                        <label asp-for="PortalEmail" class="control-label  space"></label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <input asp-for="PortalEmail" class="form-control" />
                                                    </div>

                                                    @*----------------------*@
                                                    <div class="form-group col-2">
                                                        <label asp-for="IsActive" class="control-label  space"></label>
                                                    </div>
                                                    <div class="form-group col-4" style="display:flex">
                                                        <input asp-for="IsActive" type="radio" checked="checked" name="IsActive" value="1" style="flex: 0.2;" /><span>Yes</span>
                                                        <input asp-for="IsActive" type="radio" name="IsActive" value="0" style="flex: 0.2;" /><span>No</span>

                                                    </div>
                                                    @*----------------------*@
                                                    @*<div id="DivDesignationId">*@
                                                    <div class="form-group col-2 ClsDesignationId">
                                                        <label asp-for="DesignationId" class="control-label  space"></label>
                                                    </div>
                                                    <div class="form-group col-4 ClsDesignationId">
                                                        @Html.DropDownListFor(x => x.DesignationId, new SelectList(ViewBag.DdlDesignation, "Value", "Text"), "-------select-------", new { @class = "form-select readonly", @id = "DdlDesignationId", @style = "color:black;" })

                                                    </div>
                                                    @*</div>*@
                                                    @*----------------------*@
                                                    <div class="form-group col-2">
                                                        <label asp-for="MobilePhone" class="control-label  space"></label>
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <input asp-for="MobilePhone" class="form-control" />
                                                    </div>
                                                    @*----------------------*@
                                                    <div class="form-group col-2 ClsEmptyDiv">
                                                    </div>
                                                    <div class="form-group col-4 ClsEmptyDiv">
                                                    </div>
                                                    @*----------------------*@
                                                    @*<div id="DivTcTaken" style="display:none">*@
                                                    <div class="form-group col-2 ClsTcTaken" style="display:none">
                                                        <label id="LblTcTaken" class="control-label  space"></label>
                                                    </div>
                                                    <div class="form-group col-4 ClsTcTaken" style="display:none">
                                                        <select asp-for="TcTaken" id="DdlTcTaken" class="form-select readonly">
                                                            <option value="">---------Select---------</option>
                                                            <option value="1">Yes</option>
                                                            <option value="0">No</option>
                                                        </select>
                                                    </div>
                                                    @*</div>*@
                                                    @*----------------------*@
                                                    <div class="form-group col-2 ">
                                                    </div>
                                                    <div class="form-group col-4 ">
                                                    </div>
                                                    @*----------------------*@
                                                    <div class="form-group col-2 ClsParentNameForStudent">
                                                        <label asp-for="FatherFirstName" class="control-label space"></label>
                                                    </div>
                                                    <div class="form-group col-4 ClsParentNameForStudent">
                                                        <input asp-for="FatherFirstName" class="form-control ClsTxtParent" id="EndDate" />
                                                    </div>
                                                    @*----------------------*@
                                                    <div class="form-group col-2 ClsParentNameForStudent">
                                                        <label asp-for="FatherFirstName" class="control-label space"></label>
                                                    </div>
                                                    <div class="form-group col-4 ClsParentNameForStudent">
                                                        <input asp-for="FatherFirstName" class="form-control ClsTxtParent" id="EndDate" />
                                                    </div>
                                                    @*----------------------*@
                                                    <div class="form-group col-2 ClsParentNameForStudent">
                                                        <label asp-for="MotherFirstName" class="control-label space"></label>
                                                    </div>
                                                    <div class="form-group col-4 ClsParentNameForStudent">
                                                        <input asp-for="MotherFirstName" class="form-control ClsTxtParent" id="EndDate" />
                                                    </div>
                                                    @*----------------------*@
                                                    <div class="form-group col-2 ClsParentNameForStudent">
                                                        <label asp-for="MotherLastName" class="control-label space"></label>
                                                    </div>
                                                    <div class="form-group col-4 ClsParentNameForStudent">
                                                        <input asp-for="MotherLastName" class="form-control ClsTxtParent" id="EndDate" />
                                                    </div>

                                                    @*----------------------*@
                                                    <div class="form-group col-2">
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <input asp-for="SearchDateType" type="radio" name="SearchDateType" onchange="dateWisesearching()" value="1" style="flex: 0.2;" /><span>Withdrawal date</span>
                                                        <input asp-for="SearchDateType" type="radio" name="SearchDateType" onchange="dateWisesearching()" value="2" style="flex: 0.2;" /><span>Admission date</span>
                                                        <input asp-for="SearchDateType" type="radio" name="SearchDateType" onchange="dateWisesearching()" value="3" style="flex: 0.2;" /><span>Jooining date</span>

                                                    </div>
                                                    @*----------------------*@

                                                    <div class="form-group col-2">
                                                    </div>
                                                    <div class="form-group col-4">
                                                    </div>
                                                    @*----------------------*@
                                                    <div class="form-group col-2 ClsDates">
                                                        <label asp-for="SearchStartDate" class="control-label required space"></label>
                                                    </div>
                                                    <div class="form-group col-4 ClsDates">
                                                        <input asp-for="SearchStartDate" class="form-control" />
                                                        <span asp-validation-for="SearchStartDate" class="text-danger "></span>
                                                        @*<span id="SpnSearchStartDate" class="text-danger"></span>*@
                                                    </div>
                                                    @*----------------------*@
                                                    <div class="form-group col-2 ClsDates">
                                                        <label asp-for="SearchEndDate" class="control-label required space"></label>
                                                    </div>
                                                    <div class="form-group col-4 ClsDates">
                                                        <input asp-for="SearchEndDate" class="form-control" />
                                                        <span asp-validation-for="SearchEndDate" class="text-danger ClsDates"></span>
                                                        @*<span id="SpnSearchEndDate" class="text-danger"></span>*@
                                                    </div>
                                                    @*----------------------*@
                                                    <div style=" display: flex; gap: 17px;">
                                                        <div class="col-2"></div>
                                                        <div class="col-2"></div>
                                                        @*<input type="button" value="Previous Page" id="backtopage_ME" onclick="nextpage('SearchManageSubCatogory',null)" class="btn btn-pill btn-outline-primary btn-aprimary" />

                                                            <input type="button" value="Back To Search" id="backtosearch_ME" class="btn btn-pill btn-outline-secondary btn-sm" />*@

                                                        <input type="reset" value="Clear" class="btn btn-pill btn-outline-warning btn-awarning" id="clearform" />
                                                        <input type="submit" value="Search" id="BtnSearch" class="btn btn-pill btn-outline-primary btn-sm" />
                                                        @*<input type="submit" value="Save & Next" id="Save_ME" class="btn btn-pill btn-outline-success btn-auccess" />*@

                                                        @*<input type="button" value="Next Page" id="Nextpage_ME" onclick="nextpage('SearchEmployeeAttendence',null)" class="btn btn-pill btn-outline-info btn-air-info" />*@

                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                                <div class="card" id="DivTblUserSearchresults" style="display:none">
                                    @*<h6><span>MANAGE INSTANCE SALARY ATTRIBUTES</span></h6>*@
                                    <div class="card-header bg-primary">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed text-white" data-bs-toggle="collapse"> YOUR SEARCH RESULTS <span id="Counts" style=" background-color: white; color: red; font-weight: 900; background-color: white; padding: 5px; border-radius: 16px;"></span> RECORD(S)</button>
                                        </h5>
                                    </div>

                                    <div id="eg1" style="color: black; background-color: whitesmoke">
                                        <table class=" table table-bordered" id="TblUserSearchresults" style="background-color: whitesmoke; border-color: red; font-size: 11px;">
                                            <thead>
                                                <tr style="border-color: black;">
                                                    <th style=" border-color: blue" class="bg-primary">
                                                        S.No
                                                    </th>
                                                    <th style=" border-color: blue" class="bg-primary">
                                                        Name
                                                    </th>
                                                    <th style="border-color: blue" class="bg-primary">
                                                        Role
                                                    </th>
                                                    <th style="border-color: blue" class="bg-primary">
                                                        Class

                                                    </th>
                                                    <th style=" border-color: blue" class="bg-primary">
                                                        Admission Number

                                                    </th>
                                                    <th style=" border-color: blue" class="bg-primary">
                                                        Reg.No./Emp ID

                                                    </th>
                                                    <th style="border-color: blue; " class="bg-primary">
                                                        MobileNumber

                                                    </th>

                                                </tr>
                                            </thead>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div id="DivappendCreateNewUsers">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

@*<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
@*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>*@

@*<script src="~/lib/jquery/dist/jquery.js"></script>*@
@*<script src="~/js/CommonScripts.js"></script>*@
@*<script src="~/js/PayRoll_1.js"></script>*@
<script src="~/js/GeneralFunctions.js"></script>
<link href="~/Datatable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Datatable/datatable.min.js"></script>
<script type="text/javascript">



    //-================================ BackToSearch
    $("#BtnBackToSearch").click(function () {
        try {
            debugger;
          //  $(".ErrorMessageSpan").empty();
            loaddingimg.css('display', 'block');
            $('#BtnBackToSearch').css('display', 'none');
            TblDataTableWithColumns_CallingFunction(event, 'NoStop', '/Users/TblUsersSearch', 'TblUserSearchresults', 'Counts', 'FmUsersSearch', 'DivTblUserSearchresults', '', [], true);

            $("#DivUsersSearchPage").css('display', 'block');
            $("#DivappendCreateNewUsers").empty();
            loaddingimg.css('display', 'none');
        } catch (x) {
            $("#loadingOverlay").hide();
            $("#Main_Span_Error").text("Something Error");
        }
    })



    //=========To Get Create Users PAge
    $("#BtnCreateUsers").click(function () {
        debugger;
        loaddingimg.css('display', 'block');
        CommonAjaxFunction('GET', '/Users/CreateUsers', null, function (response) {
            debugger;
            $('#DivappendCreateNewUsers').html(response);
            $('#DivUsersSearchPage').css('display', 'none');
            $('#BtnBackToSearch').css('display', 'block');
            loaddingimg.css('display', 'none');
        }, function (status, error) {
            loaddingimg.css('display', 'none');
        }, false);

    })


    //not using
    function setOutTimeAndCheckValidation(callback) {
        var validationmelength = document.getElementById('FmUsersSearch').getElementsByClassName('field-validation-error').length;
        debugger;
        if (validationmelength === 0) {
            setTimeout(function () {
                //handleValidationZero();
                callback(true); // Call the callback with true indicating success
            }, 50);
        } else {
            $('.alert-danger p').text("Please Enter All Required Fields");
            $(".alert-danger").show().delay(5000).fadeOut();
            callback(false); // Call the callback with false indicating failure
        }
    }


    var js = jQuery.noConflict(true);
    //=======Ready Function
    $(document).ready(function () {
        debugger;
        $(".ClsParentNameForStudent").css("display", "none");
        $(".ClsTcTaken").css("display", "none");
        $(".ClsDates").css("display", "none");
        // $(".ClsDesignationId").css("display", "none");
        $(".ClsEmptyDiv").css("display", "none");
        CommonDropdownFunction("GET", "/Attendance/DepartmentsDropdown_Caliingfunction", "DdlDepartment", "Select a Department", false)

        //TblDataTableWithColumns_CallingFunction(event, 'Stop', '/Users/TblUsersSearch', 'TblUserSearchresults', 'Counts', 'FmUsersSearch', 'DivTblUserSearchresults', '', [], true);
    });


    //  ============ Searched Users Details in Table
    $("#FmUsersSearch").submit(function (event) {
        debugger;
        try {
            event.preventDefault();
            $(".ErrorMessageSpan").empty();
            var formElement = document.getElementById('FmUsersSearch');

            setTimeout(function () {
                var validationMessages = formElement.getElementsByClassName('field-validation-error');
                // var validationMessages2 = formElement.getElementsByClassName('error2');
                var validationmelength = validationMessages.length;
                if (validationmelength == 0) {
                    loaddingimg.css('display', 'block');
                    TblDataTableWithColumns_CallingFunction(event, 'NoStop', '/Users/TblUsersSearch', 'TblUserSearchresults', 'Counts', 'FmUsersSearch', 'DivTblUserSearchresults', '', [], true);
                    loaddingimg.css('display', 'none');
                    $("#loadingOverlay").hide();
                    //  loaddingimg.css('display', 'none');
                    //  $("#loadingOverlay").hide();
                } else {
                    $('.alert-danger p').text("Pleae Enter All Required Fields");
                    $(".alert-danger").show().delay(5000).fadeOut()
                }
            }, 50);


            //setOutTimeAndCheckValidation(function (validationResult) {
            //    debugger;
            //    if (validationResult) {
            //        loaddingimg.css('display', 'block');
            //        // Your TblDataTableWithColumns_CallingFunction_new call goes inside the if condition
            //        TblDataTableWithColumns_CallingFunction(event, 'NoStop', '/Users/TblUsersSearch', 'TblUserSearchresults', 'Counts', 'FmUsersSearch', 'DivTblUserSearchresults', '', [], true);
            //        loaddingimg.css('display', 'none');
            //        $("#loadingOverlay").hide();
            //    } else {
            //        // Handle the case when validation fails, if needed
            //    }
            //});
            //    });
        } catch (e) {
            // $("#loadingOverlay").hide();
            //   loaddingimg.css('display', 'none');
            $("#loadingOverlay").hide();
            $("#Main_Span_Error").text("Something Error");
        }
    })

    //=====================Showing Feilds based on Role
    function RoleOnChangeFunction(Roleid) {
        debugger;
        $("#DdlTcTaken").val("");
        $("#DdlDesignationId").val("");
        $(".ClsTxtParent").val("");
        if (Roleid == 775) {
            $(".ClsParentNameForStudent").css("display", "block");
            $(".ClsTcTaken").css("display", "block");
            $(".ClsEmptyDiv").css("display", "none");
            $(".ClsDesignationId").css("display", "none");
            $("#LblTcTaken").text("Tc Taken");
        } else {
            $(".ClsParentNameForStudent").css("display", "none");
            $(".ClsEmptyDiv").css("display", "block");
            $(".ClsTcTaken").css("display", "block");
            $(".ClsDesignationId").css("display", "block");
            $("#LblTcTaken").text("Hide in the portal");
        }
    }

    //===================Shows date  fields
    function dateWisesearching() {
        $(".ClsDates").css("display", "block");

        //  $("#SpnSearchStartDate").attr('asp-validation-for', 'SearchStartDate');
        // $("#SpnSearchEndDate").attr('asp-validation-for', 'SearchEndDate');
        //if (condition) {
        //    $('[name="SearchStartDate"]').prop('required', true);
        //    $('[name="SearchEndDate"]').prop('required', true);
        //    $('[name="SearchStartDate"]').prev('label').addClass('required'); // Optional: Add a class to the label to indicate it's required
        //    $('[name="SearchEndDate"]').prev('label').addClass('required'); // Optional: Add a class to the label to indicate it's required
        ////}
    }






    //this is not using ,if you want use

    // Your condition to determine whether the fields should be required or not
    var conditionMet = true; // Change this to your actual condition

    // Function to set or remove the "required" attribute based on the condition
    function setRequiredAttribute(condition, inputSelector) {
        var $input = $(inputSelector);
        if (condition) {
            $input.prop('required', true);
            $input.prev('label').addClass('required'); // Optional: Add a class to the label to indicate it's required
        } else {
            $input.removeAttr('required');
            $input.prev('label').removeClass('required'); // Optional: Remove the class from the label
        }
    }

    // Call the function for each input field with the corresponding condition
    //setRequiredAttribute(conditionMet, '[name="SearchStartDate"]');
   // setRequiredAttribute(conditionMet, '[name="SearchEndDate"]');

</script>
