
@model Connect4m_Web.Models.ManageUsersModel

@{
    ViewData["Title"] = "ManageUsersPreview";
    Layout = null;
    var UpdateIdentification = ViewBag.UpdateIdentification;
    var Text = "";
}
@*<link href="~/Datatable/jquery.dataTables.css" rel="stylesheet" />*@

<!DOCTYPE html>
<html lang="en"
      class="light-style layout-navbar-fixed layout-compact layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template">
<head>

    <title>User Details</title>


    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap"
          rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icons.css" />


    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />
    <link href="~/assets/vendor/css/rtl/theme-semi-dark.css" rel="stylesheet" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/apex-charts/apex-charts.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/swiper/swiper.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css" />


    @*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@

    <!-- Page CSS -->

    <link rel="stylesheet" href="~/assets/vendor/css/pages/cards-advance.css" />

    <!-- Helpers -->
    <script src="~/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="~/assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/assets/js/config.js"></script>



</head>
<body>
    <a id="BtnPrint" href="#" class="btn rounded-pill btn-outline-info waves-effect float-end" onclick="CallPrintInline('HtmlDidToPrint')">PRINT</a>

    <div class="flex-grow-1 container-p-y container-fluid" id="HtmlDidToPrint">

        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Admin Module /</span>MANAGE USERS</h4>

        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">

                <input type="hidden" value="@ViewBag.IsParentIdentification" id="HdnIsParentIdentification" />
                <input type="hidden" asp-for="UserId" id="HdnUserId" />
                <div id="DivGeneralInfoTab">
                    @*@if (ViewBag.IsParentIdentification == "Parent")*@
                    @*{*@
                    <form id="FmGeneralInfoTab">

                        @*=================================== Users Details Card==============================*@
                        <div class="border card mb-4 p-3 rounded">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">
                                    <span id="SpnCardHeaderName">
                                        STUDENT DETAILS
                                    </span>
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-lg-8 mx-auto">
                                        @*----------------------*@
                                        <div class="mb-3 row" style="display:none !important">
                                            <label asp-for="RoleId" class="col-sm-2 col-form-label  text-end required" for="basic-default-name"></label>
                                            <div class="col-sm-4">
                                                <div class="position-relative">
                                                    @Html.DropDownListFor(x => x.DdlUsersDetails.RoleId,
                        new SelectList(ViewBag.DdlInstanceRole, "Value", "Text"), "-------select-------",
                        new { @class = "select2 form-select select2-hidden-accessible", @id = "DdlRoleIdInGeneralTab", @onchange = "RoleOnChangeFunctionInGeneralTab(this.id)", @required = "required" })

                                                    <span asp-validation-for="DdlUsersDetails.RoleId" class="text-danger"></span>
                                                </div>
                                            </div>
                                          </div>
                                            <div class="mb-1 row">
                                                <label asp-for="RoleId" class="col-sm-2 col-form-label  text-end" for="basic-default-name"></label>
                                                <div class="col-sm-4">
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.RoleName">
                                                    @*<input type="hidden" asp-for="RoleId" id="DdlRoleId" readonly />*@
                                                </div>

                                                @*<label class="col-sm-2 col-form-label  text-end" for="basic-default-name"></label>*@

                                                <div class="col-sm-6 ">
                                                    @*<img src="@ViewBag.PhotoNameFullName" style=" display: none; height: 100px; width: 100px; border-width: 0px;" />*@
                                                    @*@if (ViewBag.PhotoName != "" && UpdateIdentification == "UpdateDetails")*@

                                                    <img src="@ViewBag.PhotoNameFullName" alt="" id="ImgPhotoDisplay" style="height: 100px; width: 100px; border-width: 0px;" />
                                                    @if (ViewBag.PhotoName != "" && ViewBag.PhotoName != null && UpdateIdentification == "UpdateDetails")
                                                    {
                                                        <span id="SpnPhotoName" class="ClsFileName">@ViewBag.PhotoName</span>
                                                    }

                                                   
                                                </div>
                                            </div>

                                            @*----------------------*@
                                            <div class="mb-1 row">
                                                <label asp-for="DesignationId" class="col-sm-2 col-form-label  text-end  ClsDivTeachers" for="basic-default-name"></label>
                                                <div class="col-sm-4 ClsDivTeachers">
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.Designation">
                                                </div>
                                               

                                            </div>
                                            @*----------------------*@

                                            <div class="mb-1 row">
                                                <label asp-for="Qualification" class="col-sm-2 col-form-label  text-end ClsDivTeachers" for="basic-default-name"></label>
                                                <div class="col-sm-4 ClsDivTeachers">
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.Qualification">
                                                </div>
                                            </div>
                                            @*----------------------*@
                                    <div class="mb-1 row ">
                                        <label asp-for="Batch" class="col-sm-2 col-form-label  text-end ClsSessionStudent" for="basic-default-name"></label>
                                        <div class="col-sm-4 ClsSessionStudent">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.Batch">
                                        </div>

                                        <label class="col-sm-2 col-form-label  text-end  " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <div class="mb-0 row ">
                                                @if (ViewBag.FatherName != "" && ViewBag.FatherName != null)
                                                {
                                                    <label asp-for="ParentName" class="col-sm-6 col-form-label  text-end">Father Name </label>
                                                                                                                                              <div class="col-sm-6 ">
                                                                                                                                                  <input type="text" readonly="" class="form-control-plaintext" value="@ViewBag.FatherName">
                                                                                                                                              </div>
                                                    }
                                                @if (ViewBag.MotherFirstName != "" && ViewBag.MotherFirstName != null)
                                                {
                                                    <label asp-for="MotherFirstName" class="col-sm-6 col-form-label  text-end">Mother Name </label>
                                                                                                                                                   <div class="col-sm-6 ">
                                                                                                                                                       <input type="text" readonly="" class="form-control-plaintext" value="@ViewBag.MotherFirstName">
                                                                                                                                                   </div>
                                                    }
                                            </div>
                                        </div>
                                    </div>
                                            @*----------------------*@

                                            <div class="mb-1 row">
                                                <label asp-for="InstanceUserCode" id="LblInstanceUserCodeGeneralTab" class="col-sm-2 col-form-label  text-end ClsDivTeachers" for="basic-default-name">Reg. No./Emp ID</label>
                                                <div class="col-sm-4 ClsDivTeachers">
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.InstanceUserCode">
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="mb-1 row">

                                                <label asp-for="FirstNameInGeneral" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                                <div class="col-sm-4 ">
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.FirstNameInGeneral">
                                                </div>

                                                <label asp-for="MiddleName" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                                <div class="col-sm-4 ">
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.MiddleName">
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="mb-1 row">
                                                <label asp-for="LastName" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                                <div class="col-sm-4 ">
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.LastName">
                                                </div>

                                                <label asp-for="DateOfJoining" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                                <div class="col-sm-4 ">
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@(Model.DdlUsersDetails.DateOfJoining != null ? Convert.ToDateTime(Model.DdlUsersDetails.DateOfJoining).ToString("dd/MM/yyyy"): string.Empty)">
                                                </div>
                                            </div>
                                            @*----------------------*@

                                            <div class="mb-1 row">
                                                <label asp-for="Nationality" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                                <div class="col-sm-4 ">
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.Nationality">
                                                </div>
                                                <label asp-for="AdmissionNumberNew" class="col-sm-2 col-form-label  text-end required ClsSessionStudent" for="basic-default-name"></label>
                                                <div class="col-sm-4 ClsSessionStudent">
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.AdmissionNumberNew">
                                                </div>
                                            </div>
                                            @*----------------------*@

                                            <div class="mb-1 row">
                                                <label asp-for="IsUserJoined" class="col-sm-2 col-form-label  text-end ClsSessionStudent" for="basic-default-name"></label>
                                                <div class="col-sm-4 ClsSessionStudent">
                                                    @if (Model.DdlUsersDetails.IsUserJoined == "True")
                                                    {<input type="text" readonly="" class="form-control-plaintext" value="Yes">
                                                    }
                                                    else
                                                    {<input type="text" readonly="" class="form-control-plaintext" value="No">
                                                    }
                                                </div>
                                                <label asp-for="BloodGroup" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                                <div class="col-sm-4 ">
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.BloodGroupName">
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="mb-1 row">
                                                <label asp-for="PlaceOfBirth" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                                <div class="col-sm-4 ">
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.PlaceOfBirth">
                                                </div>
                                                <label asp-for="CollegeCode" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                                <div class="col-sm-4 ">
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.CollegeCode">
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="mb-1 row">
                                                <label asp-for="Gender" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                                <div class="col-sm-4 ">
                                                    @{ var Gender = "";}
                                                    @if (Model.DdlUsersDetails.Gender == "1")
                                                    {
                                                        Gender = "Male";
                                                    }
                                                    else if (Model.DdlUsersDetails.Gender == "0")
                                                    {
                                                        Gender = "FeMale";
                                                    }
                                                    else
                                                    {
                                                        Gender = "Others";
                                                    }
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Gender">
                                                </div>
                                                <label asp-for="ICNumber" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                                <div class="col-sm-4 ">
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.ICNumber">
                                                </div>
                                            </div>
                                            @*----------------------*@
                                        </div>
                                    </div>
                            </div>
                        </div>
                        @*===================================PERSONAL INFORMATION Card========================*@
                        <div class="border card mb-4 p-3 rounded">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">
                                    <span>
                                        PERSONAL INFORMATION
                                    </span>
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-8 mx-auto">
                                        @*----------------------*@
                                        <div class="mb-1 row">
                                            <label asp-for="DOB" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                <input type="text" readonly="" class="form-control-plaintext" value="@(Model.DdlUsersDetails.DOB != null? Convert.ToDateTime(Model.DdlUsersDetails.DOB).ToString("dd/MM/yyyy"): string.Empty)">
                                            </div>
                                            <label asp-for="ReligionId" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.ReligionName">
                                            </div>
                                        </div>


                                        @*----------------------*@

                                        <div class="mb-1 row">
                                            <label asp-for="CommunityId" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.CommunityName">
                                            </div>
                                            <label asp-for="MotherTongueId" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.MothorTongueName">
                                            </div>
                                        </div>
                                        @*----------------------*@
                                        <div class="mb-1 row">
                                            <label asp-for="MobilePhone" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.MobilePhone">
                                            </div>
                                        </div>
                                        @*----------------------*@
                                        <div class="mb-1 row">
                                            <label asp-for="PortalEmail" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.PortalEmail">
                                            </div>

                                            <label asp-for="AlternateEmail" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.AlternateEmail">
                                            </div>

                                        </div>
                                        @*----------------------*@
                                        <div class="mb-1 row">
                                            <label asp-for="PermanentAddress1" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.PermanentAddress1">
                                            </div>

                                            <label asp-for="PermanentAddress2" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.PermanentAddress2">
                                            </div>
                                        </div>
                                        @*----------------------*@
                                        <div class="mb-1 row">
                                            <label asp-for="PCity" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.PCity">
                                            </div>
                                            <label asp-for="PCountryId" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.PCountryName">
                                            </div>

                                        </div>
                                        @*----------------------*@
                                        <div class="mb-1 row">
                                            <label asp-for="PStateId" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.PStateName">
                                            </div>
                                            <label asp-for="PZip" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.PZip">
                                            </div>

                                        </div>
                                        @*----------------------*@
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*====================================== OTHER INFORMATION Card==============================*@
                        <div class="border card mb-4 p-3 rounded">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">
                                    <span>
                                        OTHER INFORMATION
                                    </span>
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-8 mx-auto">
                                        @*----------------------*@
                                        <div class="mb-1 row">
                                            <label asp-for="InstanceClassificationId" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.ClassificationName">
                                            </div>
                                        </div>
                                        <div class="mb-1 row">
                                            <label asp-for="InstanceSubClassificationId" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.SubClassificationName">
                                            </div>
                                        </div>
                                        @*----------------------*@
                                        <div class="mb-1 row">
                                            <label asp-for="ClassTeacherId" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.ClassTeacherName">
                                            </div>
                                        </div>
                                        <div class="mb-1 row">
                                            <label asp-for="SendSMS" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                @if (Model.DdlUsersDetails.SendSMS == "1")
                                                {
                                                    Text = "Yes";
                                                }
                                                else
                                                {
                                                    Text = "No";
                                                }
                                                <input type="text" readonly="" class="form-control-plaintext" value="@Text">
                                            </div>
                                        </div>
                                        @*----------------------*@

                                        <div class="mb-1 row">
                                            <label asp-for="TcTaken" id="LblTcTakenGeneralTab" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                            <div class="col-sm-4 ">
                                                @if (Model.DdlUsersDetails.TcTaken == "1")
                                                {
                                                    Text = "Yes";
                                                }
                                                else
                                                {
                                                    Text = "No";
                                                }
                                                <input type="text" readonly="" class="form-control-plaintext" value="@Text">
                                            </div>
                                        </div>

                                        @*----------------------*@


                                    </div>
                                </div>
                            </div>
                        </div>

                        @*=================================================GENERAL INFORMATION Card========================*@
                        <div class="border card mb-4 p-3 rounded">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">
                                    <span>
                                        GENERAL INFORMATION
                                    </span>
                                </h5>
                            </div>
                            <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-8 mx-auto">
                                            @*----------------------*@
                                            <div class="row mb-1 ">
                                                <label asp-for="StudentIdentificationMarks" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                                <div class="col-sm-4 ">
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.StudentIdentificationMarks">
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="row mb-1 ">
                                                <label asp-for="SiblingsInSameCollege" id="LblSiblingsInSameCollege" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                                <div class="col-sm-4 ">
                                                    @if (Model.DdlUsersDetails.SiblingsInSameCollege == "1")
                                                    {
                                                        Text = "Yes";
                                                    }
                                                    else
                                                    {
                                                        Text = "No";
                                                    }
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Text">
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="row mb-1 ">
                                                <label asp-for="SiblingsOtherCollege" id="LblSiblingsOtherCollege" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                                <div class="col-sm-4 ">
                                                    @if (Model.DdlUsersDetails.SiblingsOtherCollege == "1")
                                                    {
                                                        Text = "Yes";
                                                    }
                                                    else
                                                    {
                                                        Text = "No";
                                                    }
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Text">
                                                </div>
                                            </div>
                                            @*----------------------*@
                                            <div class="row mb-1 ">
                                                <label asp-for="PhysicallyChalenged" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                                <div class="col-sm-4 ">
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.PhysicallyChalenged">
                                                </div>
                                            </div>

                                            @*----------------------*@
                                            <div class="row mb-1 ">
                                                <label asp-for="PhysicallyChallengedDetails" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                                <div class="col-sm-4 ">
                                                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.PhysicallyChallengedDetails">
                                                </div>
                                            </div>
                                         
                                            @*----------------------*@
                                        </div>
                                    </div>
                                </div>
                         </div>


                        @*============================================ LOGIN INFORMATION Card============================*@
                         <div class="border card mb-4 p-3 rounded">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="mb-0">
                                <span>
                                    LOGIN INFORMATION
                                </span>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    @*----------------------*@
                                    <div class="row mb-1 ">
                                        <label asp-for="IsActive" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            @if (Model.DdlUsersDetails.IsActive == "1")
                                            {
                                                Text = "Yes";
                                            }
                                            else
                                            {
                                                Text = "No";
                                            }
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Text">
                                        </div>
                                    </div>
                                    @*----------------------*@

                                    <div class="row mb-1 ">
                                        <label asp-for="StudentStatus" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.StudentStatus">
                                        </div>
                                    </div>
                                    @*----------------------*@
                                    <div class="row mb-1">
                                        <label asp-for="UserName" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.UserName">
                                        </div>
                                    </div>
                                    @*----------------------*@
                                    <div class="row mb-1 ">
                                        <label asp-for="SecurityQuestionId" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.Question">
                                        </div>
                                    </div>
                                    @*----------------------*@
                                    <div class="row mb-1 ">
                                        <label asp-for="Answer" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.Answer">
                                        </div>
                                    </div>
                                    @*----------------------*@
                                    <div class="row mb-1 ">
                                        <label  class="col-sm-5 col-form-label  text-end " for="basic-default-name">Need to change password on login</label>
                                        <div class="col-sm-4 ">
                                            @if (Model.DdlUsersDetails.ChangePwOnLogin == true)
                                            {
                                                Text = "Yes";
                                            }
                                            else
                                            {
                                                Text = "No";
                                            }
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Text">
                                        </div>
                                    </div>
                                    @*----------------------*@

                                </div>
                            </div>
                        </div>
                    </div>


                    </form>

                    @*}*@
                    @if (ViewBag.IsParentIdentification == "Parent")
                    {
                <form id="FmParentDetailsTab">
                    <h4 class="py-3 mb-4">PARENT DETAILS</h4>
                    @*===================================== Parents Details Card=====================*@
                    <div class="border card mb-4 p-3 rounded">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="mb-0">
                                <span>
                                    PARENT DETAILS
                                </span>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    @*----------------------*@
                                    <div class="mb-1 row">
                                        <label asp-for="Relationship" class="col-sm-2 col-form-label  text-end" for="basic-default-name"></label>
                                        <div class="col-sm-4">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.Relationship">
                                        </div>

                                        @*<label class="col-sm-2 col-form-label  text-end" for="basic-default-name"></label>*@

                                        <div class="col-sm-6 ">
                                            <img src="@ViewBag.ParentPhotoNameFullName" alt="" id="ImgPhotoDisplay" style="height: 100px; width: 100px;" />
                                            @if (ViewBag.ParentPhotoName != "" && ViewBag.ParentPhotoName != null && UpdateIdentification == "UpdateDetails")
                                            {
                                                <span id="SpnPhotoName" class="ClsFileName">@ViewBag.ParentPhotoName</span>}

                                        </div>
                                    </div>
                                    @*----------------------*@
                                    <div class="mb-1 row">

                                        <label asp-for="FirstNameInGeneral" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.FirstNameInGeneral">
                                        </div>

                                        <label asp-for="MiddleName" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.MiddleName">
                                        </div>
                                    </div>
                                    @*----------------------*@
                                    <div class="mb-1 row">
                                        <label asp-for="LastName" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.LastName">
                                        </div>

                                        <label asp-for="Occupation" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.Occupation">
                                        </div>
                                    </div>

                                    @*----------------------*@
                                    <div class="mb-1 row">
                                        <label asp-for="Designation" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.Designation">
                                        </div>

                                        <label asp-for="Qualification" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.Qualification">
                                        </div>
                                    </div>
                                    @*----------------------*@

                                    <div class="mb-1 row">
                                        <label asp-for="CompanyName" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.CompanyName">
                                        </div>

                                        <label class="col-sm-2 col-form-label  text-end " for="basic-default-name">Annual Income</label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.LacsType Lacs( @Model.DdlParentDetails.CurrencyType )">
                                            @*<input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.Thousands">*@
                                            @*<input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.CurrencyType">*@
                                        </div>
                                    </div>

                                    @*----------------------*@
                                    <div class="mb-1 row">
                                        <label asp-for="DOB" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-2 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@(Model.DdlParentDetails.DOB != null? Convert.ToDateTime(Model.DdlParentDetails.DOB).ToString("dd/MM/yyyy"): string.Empty)">
                                        </div>

                                        <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Do You Want to have SMS Option</label>
                                        <div class="col-sm-4 ">
                                            @if (Model.DdlParentDetails.SendSMS == "1")
                                            {
                                                Text = "Yes";
                                            }
                                            else
                                            {
                                                Text = "No";
                                            }
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Text">
                                        </div>
                                    </div>
                                    @*----------------------*@
                                    <div class="mb-1 row" style="display:none">
                                        <label asp-for="Gender" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@(Model.DdlParentDetails.DOB != null? Convert.ToDateTime(Model.DdlParentDetails.DOB).ToString("dd/MM/yyyy"): string.Empty)">
                                        </div>

                                        <label class="col-sm-2 col-form-label  text-end " for="basic-default-name">Do You Want to have SMS Option</label>
                                        <div class="col-sm-4 ">
                                            @if (Model.DdlParentDetails.Gender == "1")
                                            {
                                                Text = "Male";
                                            }
                                            else if (Model.DdlParentDetails.Gender == "0")
                                            {
                                                Text = "Female";
                                            }
                                            else
                                            {
                                                Text = "Others";
                                            }
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Text">
                                        </div>
                                    </div>
                                    @*----------------------*@

                                </div>
                            </div>
                        </div>
                    </div>

                    @*======================================== PERSONAL INFORMATION Card ===================*@
                    <div class="border card mb-4 p-3 rounded">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="mb-0">
                                <span>
                                    PERSONAL INFORMATION
                                </span>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    @*----------------------*@
                                    <div class="mb-1 row">
                                        <label asp-for="MobilePhone" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.MobilePhone">
                                        </div>
                                    </div>
                                    @*----------------------*@
                                    <div class="mb-1 row">
                                        <label asp-for="PortalEmail" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.PortalEmail">
                                        </div>

                                        <label asp-for="AlternateEmail" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.AlternateEmail">
                                        </div>

                                    </div>
                                    @*----------------------*@
                                    <div class="mb-1 row">
                                        <label asp-for="PermanentAddress1" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.PermanentAddress1">
                                        </div>

                                        <label asp-for="PermanentAddress2" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.PermanentAddress2">
                                        </div>
                                    </div>
                                    @*----------------------*@
                                    <div class="mb-1 row">
                                        <label asp-for="PCity" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.PCity">
                                        </div>
                                        <label asp-for="PCountryId" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.PCountryName">
                                        </div>

                                    </div>
                                    @*----------------------*@
                                    <div class="mb-1 row">
                                        <label asp-for="PStateId" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.PStateName">
                                        </div>
                                        <label asp-for="PZip" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlParentDetails.PZip">
                                        </div>

                                    </div>
                                    @*----------------------*@

                                </div>
                            </div>
                        </div>
                    </div>

                    @*======================================== LOGIN INFORMATION Card======================================*@
                    <div class="border card mb-4 p-3 rounded">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="mb-0">
                                <span>
                                    LOGIN INFORMATION
                                </span>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    @*----------------------*@
                                    <div class="row mb-1">
                                        <label asp-for="UserName" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.UserName">
                                        </div>
                                    </div>
                                    @*----------------------*@
                                    <div class="row mb-1 ">
                                        <label asp-for="SecurityQuestionId" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.Question">
                                        </div>
                                    </div>
                                    @*----------------------*@
                                    <div class="row mb-1 ">
                                        <label asp-for="Answer" class="col-sm-5 col-form-label  text-end " for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Model.DdlUsersDetails.Answer">
                                        </div>
                                    </div>
                                    @*----------------------*@
                                    <div class="row mb-1 ">
                                        <label asp-for="IsActive" class="col-sm-5 col-form-label  text-end " for="basic-default-name">Is Enabled</label>
                                        <div class="col-sm-4 ">
                                            @if (Model.DdlUsersDetails.IsActive == "YES")
                                            {
                                                Text = "Yes";
                                            }
                                            else
                                            {
                                                Text = "No";
                                            }
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Text">
                                        </div>
                                    </div>
                                    @*----------------------*@
                                    <div class="row mb-1 ">
                                        <label class="col-sm-5 col-form-label  text-end " for="basic-default-name">Need to change password on login</label>
                                        <div class="col-sm-4 ">
                                            @if (Model.DdlUsersDetails.ChangePwOnLogin == true)
                                            {
                                                Text = "Yes";
                                            }
                                            else
                                            {
                                                Text = "No";
                                            }
                                            <input type="text" readonly="" class="form-control-plaintext" value="@Text">
                                        </div>
                                    </div>
                                    @*----------------------*@

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="~/js/GeneralFunctions.js"></script>
<script src="~/js/ManageUsers.js"></script>
<script type="text/javascript">
    //var js = jQuery.noConflict(true);
    //=======Ready Function in General Info
    $(document).ready(function () {
        debugger;
        // alert("1")
        //-----clicked on update
      
            RoleOnChangeFunctionInGeneralTab("DdlRoleId", true);
      

    });
    function CallPrintInline(DivId) {
        debugger;
        var printContents = $('#' + DivId).html();
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    };
</script>