@model Connect4m_Web.Models.ManageUsersModel
@{
    ViewData["Title"] = "ParentDetailsTab";
    Layout = null;
}




<div id="DivParentDetailsTab">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserId" value="@ViewBag?.UserId" id="HdnUserId" />
    <input type="hidden" asp-for="ParentId" value="@ViewBag?.ParentId" id="HdnParentId" />
    <input type="hidden" asp-for="InstanceID" id="HdnInstanceID" />
   
    @*================================================== Parent Details Card================================*@
<div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">
            <span>
                PARENT DETAILS
            </span>
        </h5>
    </div>
   
        <div class="card-body">
            <div class="row">
                <div class="col">
                    @*----------------------*@
                    <div class="row mb-3 ">
                        <label asp-for="Name" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                        <div class="col-sm-4 ">
                            <input type="text" readonly="" class="form-control-plaintext" value="@ViewBag.Name">
                        </div>
                    </div>

                    @*----------------------*@
                    <div class="row mb-3 ">
                        <label asp-for="ClassificationName" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                        <div class="col-sm-4 ">
                            <input type="text" readonly="" class="form-control-plaintext" value="@ViewBag.Department">
                        </div>
                    </div>
                    @*----------------------*@
                    <div class="row mb-3 ">
                        <label asp-for="SubClassificationName" class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                        <div class="col-sm-4 ">
                            <input type="text" readonly="" class="form-control-plaintext" value="@ViewBag.Class">
                        </div>
                    </div>
                    @*----------------------*@
                    <div class="row mb-3 ">
                        <label asp-for="InstanceUserCode" class="col-sm-2 col-form-label  text-end " for="basic-default-name">Student Id</label>
                        <div class="col-sm-4 ">
                            <input type="text" readonly="" class="form-control-plaintext" value="@ViewBag.InstanceUserCode">
                        </div>
                    </div>
                    @*----------------------*@

                    <div class="row mb-3 ">
                        <label class="col-sm-2 col-form-label  text-end " for="basic-default-name"></label>
                        <div class="col-sm-4 ">
                            <img src="@ViewBag.PhotoNameFullName" alt="" id="ImgPhotoDisplay" />
                        </div>
                    </div>
                
                    @*----------------------*@
                </div>
            </div>
        </div>
   
</div>

    @*--- Parent Details Table Card----*@
<div class="card" id="DivTblParentsSearchresults">
    <div class="card-datatable table-responsive pt-0">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
            <div class="card-header flex-column flex-md-row">
                <div class="head-label text-center">
                    <h5 class="card-title mb-0">
                        <span>YOUR SEARCH RESULTED &nbsp;<span id="TblParentCounts" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>
                    </h5>
                </div>
            </div>
           
            @if (@ViewBag?.UserId != null && @ViewBag?.UserId != 0)
            {
                <button class="btn rounded-pill btn-outline-info waves-effect float-end" id="BtnAddNewParents" onclick="MoveTonextpage('CreateNewParents',null)">Add New</button>
            }
                <table class="datatables-basic table dataTable no-footer dtr-column link" id="TblParentsSearchresults" style="display:none">
                    <thead class="table-dark">
                        <tr>
                            <th>S.No</th>
                            <th>Parent Name</th>
                            <th>Relationship</th>
                            <th>Mobile Number</th>
                            <th>SMS Status</th>
                            <th>Login Status</th>
                            @*<th>Edit</th>*@
                            <th>Make Primary Contact</th>
                        </tr>
                    </thead>
                </table>
            
        </div>
    </div>
</div>

</div>

<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>

<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>

<link href="~/Datatable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Datatable/datatable.min.js"></script>
@*<script src="~/js/GeneralFunctions.js"></script>*@
@*<script src="~/js/ManageUsers.js"></script>*@


<script type="text/javascript">

    var js = jQuery.noConflict(true);
    //=======Ready Function in General Info
    $(document).ready(function () {
        debugger;
        var UserId = $("#HdnUserId").val();
        TblDataTableWithColumns_CallingFunction(event, 'Stop', '/Users/TblParentsSearch?UserId=' + UserId, 'TblParentsSearchresults', 'TblParentCounts', '', 'DivTblParentsSearchresults', '', [], true);
    });

    //function MakePrimaryContact_CallingFunction(ParentId,IsParent) {
    //    debugger;
    //    loaddingimg.css('display', 'block');
    //  //  var StudentId = $("#HdnUserId").val();
    //    performCrudOperationCommonFunction('POST', "/Users/MakePrimaryContact_CallingFunction?StudentId=" + $("#HdnUserId").val()+"&ParentId=" + ParentId + "&IsParent=" + IsParent, null, function (response) {
    //        debugger;
    //    }, function (error) {
    //        loaddingimg.css('display', 'none');
    //        $("#Main_Span_Error").text("Something Error");
    //    }, true);
    //    loaddingimg.css('display', 'none');
    //}


    //===================>>>>>>>>>>>>>>====In ParentDetailsTab Page  Functions START


    //==================== to get details for Edit
    //function GettingParentDetails_EditFunction(ParentId, isParentTable) {
    //    debugger; try {
    //        loaddingimg.css('display', 'block');

    //        MoveTonextpage('CreateNewParents?ParentId=' + ParentId + "&isParentTable=" + isParentTable, null);
    //        //if (isParentTable == 1) {
    //        //    $(".ClsLoginInfoCard").css('display', 'block');
    //        //} else {
    //        //    $(".ClsLoginInfoCard").css('display', 'none');
    //        //}
    //        loaddingimg.css('display', 'none');

    //    } catch (e) {
    //        $("#Main_Span_Error").text("Something Error");
    //        loaddingimg.css('display', 'none');
    //    }
    //}

//=====================<<<<<<<<<<<<<<<<<<==In ParentDetailsTab Page  Functions END

    //====================To Get Create Users Page
    //$("#BtnAddNewParents").click(function (event) {
    //    event.preventDefault();
    //    debugger;
    //    loaddingimg.css('display', 'block');
    //    CommonAjaxFunction('GET', '/Users/CreateNewParents', null, function (response) {
    //        debugger;
    //        $('#DivappendCreateNewUsers').html(response);
    //        $('#DivUsersSearchPage').css('display', 'none');
    //        $('#BtnBackToSearch').css('display', 'block');
    //        loaddingimg.css('display', 'none');
    //    }, function (status, error) {
    //        loaddingimg.css('display', 'none');
    //    }, false);
    //})
</script>