
@model Connect4m_Web.Models.ResultsModel
@{
    ViewData["Title"] = "PostResultsByExcel";
}

<!DOCTYPE html>
<html>
<head>
    <style>

        /*this are  for design input step 3 page*/
        .thumbnailleft {
            position: relative;
            display: inline-block;
        }

            .thumbnailleft img {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                border: 1px solid #cbcbcb;
                z-index: 1;
            }

            .thumbnailleft:hover img {
                display: block;
            }
    </style>



</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">

        <h4 class="py-3 mb-4"><span class="text-muted fw-light">User Module /</span>POST RESULTS</h4>

        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">
                <span class="ErrorMessageSpan" id="Main_Span_Error"></span>
                <span class="ErrorMessageSpan" id="StudentEmail_Error"></span>
                <span class="ErrorMessageSpan" id="ParentEmail_Error"></span>
                @*==========================search Users Card====================*@
                <div class="card mb-4" id="Div_Step1">

                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span>
                                POST RESULTS
                            </span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <form id="FmSubjectsSearch">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col">
                                    @*<input asp-for="InstanceSubjectId" class="form-control" id="formInstanceSubjectId" hidden />*@
                                    @*----------------------*@
                                    <div class=" row mb-3">
                                        <label asp-for="InstanceClassificationId" class="col-sm-4 col-form-label  text-end required" for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select id='DdlDepartment' asp-for="InstanceClassificationId" class="select2 form-select select2-hidden-accessible" onchange="CommonDropdownFunction('GET', '/Attendance/DdlClassId_Calingfunction?InstanceClassificationId=' + this.value, 'DdlClass', 'Please select a Class', true)" asp-items="@(new SelectList(""))" required>
                                                    <option value=''>Select a Department</option>
                                                </select>
                                                <span asp-validation-for="InstanceClassificationId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    @*----------------------*@
                                    <div class=" row mb-3">
                                        <label asp-for="InstanceSubClassificationId" class="col-sm-4 col-form-label  text-end required" for="basic-default-name"></label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select class="select2 form-select select2-hidden-accessible" id='DdlClass' asp-for="InstanceSubClassificationId" onchange="CommonDropdownFunction('POST','/Results/DdlSubjectTypes_Calingfunction','DdlSubjects','',false,'FmSubjectsSearch')" asp-items="@(new SelectList(""))" disabled required>
                                                    <option value=''>Please select a Class</option>
                                                </select>
                                                <span asp-validation-for="InstanceSubClassificationId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    @*----------------------*@
                                    <div class=" row mb-3">
                                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Subjects</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select class="select2 form-select select2-hidden-accessible" id='DdlSubjects' multiple="multiple" asp-for="SubjectsIdString" name="SubjectsIdString" asp-items="@(new SelectList(""))" required>
                                                </select>
                                                <span asp-validation-for="SubjectsIdString" class="ErrorMessageSpan"></span>
                                            </div>
                                        </div>
                                    </div>

                                    @*----------------------*@
                                    <div class=" row mb-3">
                                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Exams</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select class="select2 form-select select2-hidden-accessible" id='DdlExam' asp-for="ExamId" name="ExamId" asp-items="@(new SelectList(""))" required>
                                                </select>
                                                <span asp-validation-for="ExamId" class="ErrorMessageSpan"></span>
                                            </div>
                                        </div>
                                    </div>
                                    @*----------------------*@
                                    <div class=" row mb-3">
                                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Exam Mode</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select class="select2 form-select select2-hidden-accessible" id='DdlExammode' asp-for="ExamModeId" name="ExamModeId" asp-items="@(new SelectList(""))" required>
                                                    <option value=''>------Select------</option>
                                                </select>
                                                <span asp-validation-for="ExamModeId" class="ErrorMessageSpan"></span>
                                            </div>
                                        </div>
                                    </div>
                                    @*----------------------*@

                                    <div class=" row mb-3">
                                        <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Sort By</label>
                                        <div class="col-sm-4 ">
                                            <div class="col mt-2">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input " asp-for="SortBy" id="Name" type="radio" name="SortBy" value="0" checked="checked" />
                                                    <label class="form-check-label" for="Name">Name</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input " asp-for="SortBy" id="Registration" type="radio" name="SortBy" value="1" />
                                                    <label class="form-check-label" for="Registration"> Registration</label>
                                                </div>
                                            </div>
                                        </div>

                                        @*----------------------*@
                                        @*========================================Buttons===========================*@
                                        <div class="row justify-content-end">
                                            <div class="col-sm-8">
                                                <button type="reset" class="btn btn-warning waves-effect waves-light" id="BtnRefresh" value="Clear">Clear</button>
                                                <button type="submit" class="btn btn-success waves-effect waves-light" id="BtnNextpagePostResultsByExcel_Step2" value="Go to step 2 of Post Results">Go to step 2 of Post Results</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!--Associated Count Table-->
                @*===================Step 1 Searched Results===========================*@
                <div id="Div_TblAssociatedCount" style="display:none">
                    <div class="card">
                        <div class="card-datatable table-responsive pt-0">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                <div class="card-header flex-column flex-md-row">
                                    <div class="head-label text-center">
                                        <h5 class="card-title mb-0">
                                            <span>COUNT OF STUDENTS IN OPTIONAL SUBJECT IS NOT EQUAL TO THE TOTAL STRENGTH OR SELECT ALL THE SUBJECTS IN AN ELECTIVE TO POST THE RESULT</span>
                                        </h5>
                                    </div>
                                </div>
                                <table id="TblAssociatedCount" class="datatables-basic table dataTable no-footer dtr-column">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>S.No</th>
                                            <th>Subject Type Name</th>
                                            <th>	Total Strength</th>
                                            <th>	Associated Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>




                @*==============================This is Step 2 Card=============Searched Table==========================-*@

                <div id="Div_Step2">
                    <div class="card" id="Div_TblExamSubjects" style="display:none">
                        <label id="DepartmentName" class="form-label mx-auto">
                            @*Step 1 Selection:JUNIOR-PROGRAM-II - A,Md-Term,NORMAL*@
                        </label>
                        <div class="card-datatable table-responsive pt-0">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                <div class="card-header flex-column flex-md-row">
                                    <div class="head-label text-center">
                                        <h5 class="card-title mb-0">
                                            <span>YOUR SEARCH RESULTED &nbsp;<span id="Counts" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>
                                        </h5>
                                    </div>
                                </div>
                                <form id="Fm_TblUser">
                                    @*<table id="LeaveLevels_SearchRecords_Table" class="table table-responsive tableid">*@
                                    <table id="TblExamSubjects" class="datatables-basic table dataTable no-footer dtr-column">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>S.No</th>
                                                @*<th>ExamSubjectId</th>*@
                                                <th>Subject</th>
                                                <th>Include In Total</th>
                                                <th>Conducted Date</th>
                                                <th>Pass Marks</th>
                                                <th>Max Marks</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>


                                    @*========================================Buttons===========================*@
                                    <div class="row justify-content-end">
                                        <div class="col-sm-8">
                                            <button type="button" class="btn btn-info waves-effect waves-light" id="BtnBackTo_Step1" onclick="BackTOStep(event)" value="Go Back to Step 1">Go Back to Step 1</button>
                                            <button type="submit" class="btn btn-success waves-effect waves-light" id="BtnSave_Nextpage_Step3" value="Save & Go to Step 3">Save & Go to Step 3</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                @*==============================This is Step 3 Card=======================================-*@


                <div id="Div_Step3" style="display:none">
                    <div id="Div_ChooseOptionFile">

                        <!--card 1 in step 3-->

                        <div class="card mb-4">
                            <label id="DepartmentNameStep3" class="mx-auto form-label">
                                @*Step 1 Selection:JUNIOR-PROGRAM-II - A,Md-Term*@
                            </label>
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">
                                    <span>
                                        CHOOSE OPTION TO SAVE
                                    </span>
                                </h5>
                            </div>
                            <div class="card-body">
                                @*<form id="FmChooseOption">*@
                                <div class="row">
                                    <div class="col">
                                        @*-----------------------*@
                                        <div class="mb-3 row">
                                            <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Upload File</label>
                                            <div class="col-sm-4">
                                                <div class="col mt-2">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input " id="RdbYes" type="radio" name="SortBy" value="0" checked="checked" />
                                                        <label class="form-check-label" for="RdbYes">Yes</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input " id="RdbNo" type="radio" name="SortBy" value="1" />
                                                        <label class="form-check-label" for="RdbNo"> No</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @*-----------------------*@
                                    </div>
                                </div>

                                @*</form>*@
                            </div>
                        </div>


                        <div id="Div_UploadingType">
                        </div>
                    </div>
                </div>
                @*=======================end========*@


            </div>
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>

@*<script src="~/js/GeneralFunctions.js"></script>*@
@*<link href="~/Datatable/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Datatable/jquery.dataTables.min.js"></script>*@

<link href="~/Datatable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Datatable/datatable.min.js"></script>

<script>
    var pageTitle = '@ViewData["Title"]';
    var js = jQuery.noConflict(true);
</script>
<script src="~/js/PostResults.js"></script>
<script src="~/js/ExcelDownloading.js"></script>
<script>

    $(document).ready(function () {
        loaddingimg.css('display', 'block');
    debugger;
    //  TblDataTableWithColumns_CallingFunction(event, 'Stop', "/Examination/TblBulkUploadSubjectsList", 'TblBulkUploadSubjectsList', 'Counts', 'FmSubjectSearch', 'Div_TblBulkUploadSubjectsList', '', []);
    var pageTitle = '@ViewData["Title"]'
    // pageTitle is assign in PostResultsByExcel page
    if (pageTitle == "PostResultsByExcel") {
        CommonDropdownFunction('POST', '/Results/DdlExams_Callingfunction?ExamtypeId=1', 'DdlExam', '------Select------', false)
    }
   CommonDropdownFunction("GET", "/Attendance/DepartmentsDropdown_Caliingfunction", "DdlDepartment", "Select a Department", false)
    CommonDropdownFunction("GET", "/Results/DdlExamMode_Callingfunction", "DdlExammode", "------Select------", false)
        loaddingimg.css('display', 'none');
});
</script>






