@model Connect4m_Web.Models.Subclassfications_MS
@*@model List<SelectListItem>*@

@{
    Layout = null;
    ViewData["Title"] = "Subclassfications_MS";
}
@*<link href="~/css/Managesubjecttools.css" rel="stylesheet" />*@
@*<form class="needs-validation was-validated" novalidate>*@
    <div class="card-datatable table-responsive pt-0">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
            <table class="datatables-basic table dataTable no-footer dtr-column" id="subclass_table">
                <thead class="table-dark">
                    <tr>
                        <th>
                            Select
                        </th>
                        <th>
                            Class
                        </th>
                        <th>
                            Subject Code
                        </th>
                        <th>
                            Subject order
                        </th>
                        <th>
                            Attendance Required
                        </th>
                        <th>
                            Subject Type
                        </th>
                        <th>
                            Short Name
                        </th>
                        <th>
                            Allocate Mentor
                        </th>
                        <th>
                            Total Periods
                        </th>
                        <th>
                            Include In Total
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @{var p = 0; var checkcount = 0; var InstanceSubClassificationId = 0; var icount = 0; string SubjectAssociated = ""; var MentorName = 0; string checkedcount = null; string checkedcount1 = null; var useridstoring = "";}
               
                    @foreach (var sub in Model.subclassfication)
                    {
                        icount = 0;
                        List<string> MentorAssignedList = new List<string>();

                        @if (ViewBag.Buttonname != "Create")
                        {
                            @foreach (var item in Model.editlist.Where(x => sub.InstanceSubClassificationId == x.InstanceSubClassificationId))
                            {
                                if (InstanceSubClassificationId == item.InstanceSubClassificationId)
                                {
                                    icount++;
                                    continue;
                                }

                                MentorAssignedList.AddRange(Model.editlist
                                    .Where(x => sub.InstanceSubClassificationId == x.InstanceSubClassificationId && x.UserIdString != "" && useridstoring != x.UserIdString)
                                    .Select(x => { useridstoring = x.UserIdString; return x.UserIdString; }));

                                useridstoring = "";
                                InstanceSubClassificationId = sub.InstanceSubClassificationId;
                                checkcount++;

                    <tr>
                        <td>
                            <input type="checkbox" class="form-check-input" checked="checked" id="Classes" value="@sub.InstanceSubClassificationId" title="Select a Class" required />
                            <input type="hidden" value="@item.InstanceSubjectId" id="InstanceSubjectId" />
                        </td>
                        <td>
                            @sub.SubClassificationName
                        </td>
                        <td>
                            <input type="text" class="form-control" id="ShortCode" value="@item.SubjectCode" title="Subject Code" required />
                        </td>
                        <!-- ... other table cells ... -->
                        <td>
                            <input type="text" class="form-control SubjectorderCls" id="SubjectOrder" value="@item.DisplayOrder1" maxlength="2" oninput="restrictCharacters(this)" title="Subject Order"  required />
                        </td>
                        <td>
                            <input type="text" class="form-control" id="AttendancePercentage" value="@item.AttendanceRequired1" maxlength="2" oninput="restrictCharacters(this)" title="Attendance Percentage" />
                            <span style="color: red;">%</span>
                        </td>
                        <td>
                            @{
                                SubjectAssociated = item.SubjectAssociated == 1 ? "disabled" : null;
                            }

                            <select class="select2 form-select select2-hidden-accessible" id="Subjectfor_MS" asp-for="editlist[icount].SubjectTypeId1" disabled="@SubjectAssociated" asp-items="@ViewBag.Subjectlist_MS" title="Subject Type"  required>
                            </select>
                        </td>
                        <td>
                            <input type="text" value="@item.SubjectShortName1" class="form-control" title="Subject Short Name" />
                        </td>
                        <td style=" overflow-y: scroll;" >
                            <div class="mentorlist-container" title="Allocate Mentor">
                                <div class="mentorlist-columns">
                                    @foreach (var mentorlist in Model.mentors)
                                    {
                                        <div class="mentorlist-item">
                                            @if (MentorAssignedList.Contains(Convert.ToString(mentorlist.MentorUsertid)))
                                            {
                                                <input type="checkbox" class="form-check-input" checked="checked" id="mentor-@mentorlist.MentorName" value="@mentorlist.MentorUsertid" name="selectedMentors" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="form-check-input" id="mentor-@mentorlist.MentorName" value="@mentorlist.MentorUsertid" name="selectedMentors" />
                                            }

                                            <label class="form-check-label" for="mentor-@mentorlist.MentorName">@mentorlist.MentorName</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="text" value="@item.TotalPeriods1" maxlength="3" oninput="restrictCharacters(this)" class="form-control TxtTotalPeriodsCls" title="Total Periods"/>
                        </td>
                        <td>
                            @if (@item.IncludeInTotal1 == 1)
                            {
                                checkedcount1 = "checked ";
                            }
                            else
                            {
                                checkedcount = "checked ";
                            }

                            <div class="form-check form-check-inline" title="Include In Total Yes">
                                <input class="form-check-input " id="Yes" type="radio" name="IncludeInTotal@(sub.InstanceSubClassificationId)@(p)" value="1" />
                                <label class="form-check-label" for="Yes">Yes</label>
                            </div>
                            <div class="form-check form-check-inline" title="Include In Total No">
                                <input class="form-check-input " id="No" type="radio" name="IncludeInTotal@(sub.InstanceSubClassificationId)@(p)" value="0" />
                                <label class="form-check-label" for="No"> No</label>
                            </div>
                        </td>

                    </tr>

                                MentorAssignedList.Clear();
                                checkedcount1 = null;
                                checkedcount = null;
                            }
                        }

                        if (checkcount <= 0)
                        {
                      <tr>
                    <td>
                        <input type="checkbox" class="form-check-input" id="Classes" value="@sub.InstanceSubClassificationId" title="Select a Class" required />
                    </td>
                    <td>
                        @sub.SubClassificationName
                    </td>
                    <!-- ... other table cells ... -->
                    <td>
                        <input type="text" id="ShortCode" class="form-control" title="Subject Code" required />
                    </td>
                    <td>
                        <input type="text" maxlength="2" id="SubjectOrder" oninput="restrictCharacters(this)" class="form-control SubjectorderCls" title="Subject Order" required />
                    </td>
                    <td>
                        <input type="text" id="AttendancePercentage" maxlength="2" oninput="restrictCharacters(this)" class="form-control" title="Attendance Percentage" /><span style="color: red; ">%</span>

                    </td>
                    <td>
                        <select class="select2 form-select select2-hidden-accessible" id="Subjectfor_MS" asp-items="@ViewBag.Subjectlist_MS" title="Subject Type"  required>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control" title="Subject Short Name"/>
                    </td>
                    <!-- ... other table cells ... -->
                    <td style=" overflow-y: scroll; ">
                        <div class="mentorlist-container" title="Allocate Mentor">
                            <div class="mentorlist-columns">
                                @foreach (var mentorlist in Model.mentors)
                                {
                                    <div class="mentorlist-item">
                                        @*@foreach (var item1 in Model.editlist)
                            {
                                if (sub.InstanceSubClassificationId == item1.InstanceSubClassificationId)
                                {
                                    if (Convert.ToInt32(item1.UserIdString) == mentorlist.MentorUsertid)
                                    {


                                        MentorName++;
                                        <input type="checkbox" checked="checked" id="mentor-@mentorlist.MentorName" value="@mentorlist.MentorUsertid" name="selectedMentors" />
                                    }
                                }
                            }*@
                                        @if (MentorName <= 0)
                                        {
                                            <input type="checkbox" class="form-check-input" id="mentor-@mentorlist.MentorName" value="@mentorlist.MentorUsertid" name="selectedMentors" />
                                        }
                                        <label class="form-check-label" for="mentor-@mentorlist.MentorName">@mentorlist.MentorName</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </td>


                    <td>
                        <input type="text" maxlength="3" oninput="restrictCharacters(this)" class="form-control TxtTotalPeriodsCls" title="Total Periods"/>
                    </td>
                    <td>
                        <div class="form-check form-check-inline" title="Include In Total Yes">
                            <input class="form-check-input " id="Yes" type="radio" name="IncludeInTotal@(sub.InstanceSubClassificationId)@(p)" value="1" />
                            <label class="form-check-label" for="Yes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline" title="Include In Total No">
                            <input class="form-check-input " id="No" type="radio" name="IncludeInTotal@(sub.InstanceSubClassificationId)@(p)" value="0" />
                            <label class="form-check-label" for="No"> No</label>
                        </div>
                    </td>
                </tr>
                        }

                        p++;
                        checkcount = 0;
                    }



                </tbody>
            </table>
        </div>
    </div>
@*</form>*@
