@model Connect4m_Web.Models.SubjectModel
@{
    ViewData["Title"] = "UpdateSubjects_PartialView";
    Layout = null;
    var BtnName = ViewBag.Buttonname;
}

@if (BtnName == "BtnCreateNew")
{
    <div class="card-body">
        <div class="mb-3 row">
            <div class="col-sm-9" style="margin-left:10%;padding-top:6px; padding:0px; margin-top:-6px;">
                <div class="form-group  m-checkbox-inline mb-0 custom-radio-ml m-t-5" style="margin-left: 20px;">
                    <div class="radio radio-primary">
                        <input name="IncludeInTotal1" style="padding-top: 0px" id="RdlSingleDept" class="check" type="radio" value="1">
                        <label class="mb-0" for="RdlSingleDept">Upload Subjects For Single Department</label>
                    </div>
                    &nbsp;
                    <div class="radio radio-primary">
                        <input id="RdlMultipleDept" name="IncludeInTotal1" class="check" type="radio" value="0">
                        <label class="mb-0" for="RdlMultipleDept">Upload Subjects For Multiple Department</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{ @if (BtnName == "RdlSingleDept")
    {

        <a href="~/UploadSingleSubjects_ExelSheet/Report.xls" class="Undeline" style="font-family:ui-serif; color:blue; margin-left:3%;">Get Excel To Upload</a>
    }
    else if (BtnName == "RdlMultipleDept")
    {

        <a href="~/UploadMultipleSubjects_ExelSheet/Report.xls" class="Undeline" style="font-family:ui-serif; color:blue; margin-left:3%;">Get Excel To Upload</a>
        <a onclick="_ViewChangeActivities(event,'','','', '/Examination/TblViewSubjectsList')" class="Undeline" style="font-family:ui-serif; color:blue; margin-left:58%;">Get Department And Class Id's</a>
    }

<div class="default-according style-1" id="accordionoc91">

    <div class="card-body" style=" padding-top: 0px;" id="UpdateSubjectsDiv">

        <div class="card" id="UpdateSubjectsPage">
            <div class="card-header " style="background-color:black ;">
                <h5 class="mb-0">
                    <button class="btn btn-link text-white" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#collapseicon12001" aria-controls="collapse11">
                        @if (BtnName == "RdlMultipleDept")
                        {
                            <span id="UpdateSubjects_Span_CreatePage">
                                UPLOAD SUBJECTS FOR MULTIPLE DEPARTMENT
                            </span>
                        }
                        else if (BtnName == "RdlSingleDept")
                        {
                            <span id="UpdateSubjects_Span_CreatePage">
                                UPLOAD SUBJECTS
                            </span>
                        }
                        else
                        {<span id="UpdateSubjects_Span_CreatePage"> UPDATE SUBJECTS</span>
                        }
                    </button>
                </h5>
            </div>
            <div class="collapse show" id="collapseicon12001" aria-labelledby="collapseicon" data-bs-parent="#accordionoc91" style="">
                <div class="card ">
                    <div class="card-body">
                        @*<form id="FmExamsCreatePage" asp-action="ManageExams" asp-controller="Examination">*@


                        <form id="FmUpdateSubjects">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div style="margin-left:20%;font-size:12px" id="UpdateSubjects_Div">
                                <div class="row">
                                    <div class="col">
                                        @if (BtnName == "RdlSingleDept")
                                        {
                                            <div class="mb-2 row">
                                                <label class="col-sm-3 col-form-label  form-label " style="margin-top: -4px;"><i style="color:red">*</i> Department :&nbsp;</label>
                                                <div class="col-sm-9">
                                                    <select id='DdlDepartmentForSingle' name="InstanceClassificationId" onchange="CommonDropdownFunction('GET', '/Attendance/DdlClassId_Calingfunction?InstanceClassificationId=' + this.value, 'DdlClassForSingle', 'Please select a Class', true)" class="input-air-primary Ddlstyle" asp-items="@(new SelectList(""))">
                                                        <option value=''>Select a Department</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mb-2 row">
                                                <label class="col-sm-3 col-form-label  form-label " style="margin-top: -4px;"><i style="color:red">*</i> Class :&nbsp;</label>
                                                <div class="col-sm-9">
                                                    <select id='DdlClassForSingle' name="InstanceSubClassificationId" class="input-air-primary Ddlstyle" onchange="_ViewSubjects(event,'DdlClassForSingle')" asp-items="@(new SelectList(""))" disabled>
                                                        <option value=''>Please select a Class</option>
                                                    </select>
                                                    <span id="ViewSubjectsSymbol" style="display:none">
                                                        <input type="image" id="_lnkViewSubjects" title="Excel should be" src="~/UploadSingleSubjects_ExelSheet/magnify.png" onclick="_ViewSubjects(event)" style="border-width:0px;">
                                                        View Subjects List
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="mb-2 row">
                                                <label class="col-sm-3 col-form-label  form-label " style="margin-top: -4px;"><i style="color:red">*</i> Upload Subjects :&nbsp;</label>
                                                <div class="col-sm-9">
                                                    <input type="file" id="SubjectFileForSingle" />
                                                </div>
                                            </div>
                                            <div class="mb-2 row">
                                                <label class="col-sm-3 col-form-label  form-label " style="margin-top: -4px;"> Click Here to view sample Excel File to upload :&nbsp;</label>
                                                <div class="col-sm-9">
                                                    <img typeof="image" src="~/UploadSingleSubjects_ExelSheet/magnify.png" title="Excel should be" />

                                                </div>
                                            </div>
                                            <div style="margin-left:171px">
                                                <input type="button" class="btn btn-pill btn-outline-primary btn-air-danger" onclick="BackTOSearhExams(event)" id="BtnBackToSearch" style="padding:4px 20px;" value="Back to Search">&nbsp;&nbsp;&nbsp;

                                                <input type="reset" class="btn btn-pill btn-outline-danger btn-air-danger" id="BtnClearNew" style="padding:4px 20px;" value="Clear">&nbsp;&nbsp;&nbsp;
                                                <input type="submit" class="btn btn-pill btn-outline-success btn-air-success" id="BtnSave" style="padding:4px 19px;" value="Save">
                                            </div>
                                        }
                                        else if (BtnName == "RdlMultipleDept")
                                        {

                                            <div class="mb-2 row">
                                                <label class="col-sm-3 col-form-label  form-label " style="margin-top: -4px;"><i style="color:red">*</i> Upload Subjects :&nbsp;</label>
                                                <div class="col-sm-9">
                                                    <input type="file" name="SubjectExelFile" id="SubjectFileForMultiple" />
                                                </div>
                                            </div>
                                            <div style="margin-left:171px">
                                                <input type="button" class="btn btn-pill btn-outline-danger btn-air-danger" onclick="BackTOSearhExams(event)" id="BtnBackToSearch" style="padding:4px 20px;" value="Back to Search">&nbsp;&nbsp;&nbsp;
                                                <input type="submit" class="btn btn-pill btn-outline-success btn-air-success" id="BtnUpload" style="padding:4px 19px;" value="Upload">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="mb-2 row">
                                                <label class="col-sm-3 col-form-label  form-label " style="margin-top: -4px;"><i style="color:red">*</i> Subject Name :&nbsp;</label>
                                                <div class="col-sm-9">
                                                    <input type="text" asp-for="SubjectName" id="TxtSubjectNameUpd" style="height: 27px; width: 230px;">
                                                </div>
                                                <span asp-validation-for="SubjectName" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-sm-3 col-form-label  form-label" style=" padding-top: 3px;"><i style="color:red">*</i>Subject Type   :&nbsp;</label>
                                                <div class="col-sm-9">

                                                    <select id="DdlSubjectTypeUpd" asp-for="SubjectTypeId1" class="input-air-primary Ddlstyle" asp-items="@(new SelectList(ViewBag.SubjectNames, "Value", "Text"))">
                                                        <option>---------select---------</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-sm-3 col-form-label  form-label" style=" padding-top: 3px;"><i style="color:red">*</i>Subject Code   :&nbsp;</label>
                                                <div class="col-sm-9">
                                                    <input type="text" asp-for="SubjectCode" id="TxtSubjectCodeUpd" style="height: 27px; width: 230px;">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-sm-3 col-form-label  form-label" style="padding-top: 0px; margin-left: 0px; margin-top: 3px; "><i style="color:red">*</i>Include In Total :&nbsp;</label>
                                                <div class="col-sm-9" style=" margin-left: -15px;    padding-top: 6px;    padding: 0px;margin-top: -6px;">
                                                    <div class="form-group  m-checkbox-inline mb-0 custom-radio-ml m-t-5" style="margin-left: 20px;">
                                                        <div class="radio radio-primary">
                                                            <input id="Yes" asp-for="IncludeInTotal1" checked="@(Model?.IncludeInTotal1 == 1 ? null : "checked")" class="check" type="radio" value="1">
                                                            <label class="mb-0" for="Yes">Yes</label>
                                                        </div>
                                                        &nbsp;
                                                        <div class="radio radio-primary">
                                                            <input id="No" asp-for="IncludeInTotal1" checked="@(Model?.IncludeInTotal1 == 0 ? "checked" :null )" class="check" type="radio" value="0">
                                                            <label class="mb-0" for="No">No</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label class="col-sm-3 col-form-label  form-label" style=" padding-top: 3px;"> Subject Display Order   :&nbsp;</label>
                                                <div class="col-sm-9">
                                                    <input type="text" asp-for="DisplayOrder1" id="TxtSubjectDisplayOrderUpd" style="height: 27px; width: 230px;">
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label class="col-sm-3 col-form-label  form-label" style=" padding-top: 3px;"> Attendance Required   :&nbsp;</label>
                                                <div class="col-sm-9">
                                                    <input type="text" asp-for="AttendanceRequired1" id="TxtAttendanceRequiredUpd" style="height: 27px; width: 230px;">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-sm-3 col-form-label  form-label" style=" padding-top: 3px;">Total Periods  :&nbsp;</label>
                                                <div class="col-sm-9">
                                                    <input type="text" asp-for="TotalPeriods1" id="TxtTotalPeriodsUpd" style="height: 27px; width: 230px;">
                                                </div>
                                            </div>

                                            <div class="mb-2 row">
                                                <label class="col-sm-3 col-form-label  form-label " style="margin-top: -4px;">Mentor Name :&nbsp;</label>
                                                <div class="col-sm-9">
                                                    <select id='DdlMentorNameUpd' asp-for="MentorIds1" class="input-air-primary Ddlstyle" asp-items="@(new SelectList(ViewBag.MentorsNames, "Value", "Text"))">
                                                        <option value=''>-------select-------</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <input type="hidden" asp-for="InstanceSubjectId" />

                                            <div style="margin-left:171px">
                                                <input type="button" class="btn btn-pill btn-outline-danger btn-air-danger" onclick="BackTOSearhExams(event)" id="BtnBackToSearch" style="padding:4px 20px;" value="Back to Search">&nbsp;&nbsp;&nbsp;
                                                <input type="submit" class="btn btn-pill btn-outline-success btn-air-success" id="BtnUpdate" style="padding:4px 19px;" value="Update">
                                            </div>}
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<script>



    //-----------------------------------This is for Upload Subject details
    $("#FmUpdateSubjects").submit(function (event) {
        debugger;
        event.preventDefault();

        //  var file12 = $("#SubjectFileForMultiple").prop('files')[0];
        var fileInput = document.getElementById("SubjectFileForMultiple");
        //if (fileInput) {
        //    if (fileInput.files.length > 0) {
        //        var file12 = fileInput.files[0];
        //        var allowedExtensions = ['.xlsx', '.xls'];
        //        // Check the file extension
        //        var fileExtension = '.' + file12.name.split('.').pop().toLowerCase();
        //        if (!allowedExtensions.includes(fileExtension)) {
        //            $('#SubjectFileForMultiple').val('');
        //            $("#Main_Span_Error").text('Invalid file extension.allowed extensions are .xls,.xlsx');
        //            return;
        //        }
        //        // Check file size
        //        var maxSize = 500 * 1024; // 500 KB
        //        if (file12.size > maxSize) {
        //            $("#Main_Span_Error").text('File size exceeds the maximum limit of 500 KB.');
        //            $('#SubjectFileForMultiple').val('');
        //            return;
        //        }
        //    }
        //}
        var formData = new FormData(this);
        //var formdata_CSA = $(this).serialize();

        var formElement = document.getElementById('FmUpdateSubjects');
        setTimeout(function () {
            var validationMessages = formElement.getElementsByClassName('field-validation-error');
            // var validationMessages2 = formElement.getElementsByClassName('error2');
            var validationmelength = validationMessages.length;
            if (validationmelength == 0) {
                debugger;
                CommonAjaxFunction('POST', '/Examination/BulkUploadSubjects?ButtonName=MultiSubjectsUpdate', formData, function (response) {
                    debugger;
                    if (response.message == "Record updated successfully.") {
                        //$("#BtnUpdate").prop('disabled', true);
                    }
                    $("#Main_Span_Error").text(response.message);
                    $("#loadingOverlay").hide();
                    window.scrollTo(0, 0);
                }, function (status, error) {
                    $("#loadingOverlay").hide();
                }, true);
            }
        }, 50);
    })


    //-----------------------------------This is for Update Subject details for single
    $("#FmUpdateSubjects1").submit(function (event) {
        debugger;
        event.preventDefault();
        var formdata_CSA = $(this).serialize();

        var formElement = document.getElementById('FmUpdateSubjects');
        setTimeout(function () {
            var validationMessages = formElement.getElementsByClassName('field-validation-error');
            // var validationMessages2 = formElement.getElementsByClassName('error2');
            var validationmelength = validationMessages.length;
            if (validationmelength == 0) {
                debugger;
                CommonAjaxFunction('POST', '/Examination/BulkUploadSubjects?ButtonName=Update', formdata_CSA, function (response) {
                    debugger;
                    if (response.message == "Record updated successfully.") {
                        //$("#BtnUpdate").prop('disabled', true);
                    }
                    $("#Main_Span_Error").text(response.message);
                    $("#loadingOverlay").hide();
                    window.scrollTo(0, 0);
                }, function (status, error) {
                    $("#loadingOverlay").hide();
                }, false);
            }
        }, 50);
    })


</script>



