
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Fee_Due_Remainders_FeeStatus_ByIndividual>
    <link href="~/css/FeeDueRemainders.css" rel="stylesheet" />
<div>

    <table class="UsersTableByIndividual">
        <thead>
            <tr>
                <th>      Fee Type      </th>
                <th>      Fee Amount      </th>
                <th>      Discount Amount      </th>
                <th>      Discount Type</th>
                <th>      Fee Paid</th>
                <th>      Due Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FeeType</td>
                    <td>@item.FeeAmount</td>
                    <td>@item.ConcedingAmount</td>
                    <td>@item.DiscountName</td>
                    <td>@item.PayedAmount</td>
                    <td>@item.DueAmount</td>
                </tr>
            }
        </tbody>
    </table>
</div>