@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<PAY_FEE_BY_USERS>


    <link href="~/css/maps/PayFeeByUser.css" rel="stylesheet" />


    <div class="default-according style-1" id="accordionoc">
        <div>
            <span id="SubmitvalidationMessage" style="color:red;font-size:13px;"></span>
          
        </div>
        <div class="card">
            <div>
                <h5 class="mb-0">
                    <button class="FeeTerms_Edit_ButtonView" style="width: 99%; ">
                        NO OF RECORDS :<span id="RecordsCounts" class="RecordsCount_Span">@ViewBag.itemscount</span>
                    </button>
                </h5>
            </div>
            <div>
                <div style=" margin-top: 20px;">
                    <table id="Search_FeeDetails_ByUserUpdate" class="Update_FeeTable">
                        <thead>
                            <tr>
                                <th>Sl. No</th>
                                <th>Term Name</th>
                                <th>Fee Type</th>
                                <th>Amount</th>
                                <th>Comments</th>
                                <th>Paid On</th>
                                <th>Collected By</th>
                                <th hidden>InstallmentId</th>
                                <th hidden>FeeAmount</th>
                                <th hidden>ReceiptNo</th>
                                <th hidden>FirstName</th>
                                <th hidden>ClassificationName</th>
                                <th hidden>SubClassificationName</th>
                                <th hidden>DueDate</th>
                                <th hidden>DueAmount</th>
                                <th hidden>AdmissionNumber</th>
                                <th hidden>ConcedingAmount</th>
                                <th hidden>DiscountName</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int sno = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td id="1">@sno</td>
                                    <td id="2">@item.TermName</td>
                                    <td id="3">@item.FeeType</td>
                                    <td id="4" align="center"><input type="text" value="@item.Amount" style=" width: 58%; padding: 1px;  border-radius: 4px;"/>
                                    <span hidden id="AmountTxt_Spanid">@item.Amount</span>
                                    </td>
                                    <td id="5" align="center">
                                        <textarea>@item.InstallmentName</textarea>
                                    <span hidden id="Installment_Spanid">@item.InstallmentName</span>
                                    </td>
                                    <td id="6">@item.CreatedDate</td>
                                    <td id="7">@item.CollectedBy</td>
                                    <td hidden id="InstallmentId 8">@item.InstallmentId</td>
                                    <td hidden id="FeeAmount 9">@item.FeeAmount</td>
                                    <td hidden id="ReceiptNo 10">@item.ReceiptNo</td>
                                    <td hidden id="FirstName 11">@item.FirstName</td>
                                    <td hidden id="ClassificationName 12">@item.ClassificationName</td>
                                    <td hidden id="SubClassificationName 13">@item.SubClassificationName</td>
                                    <td hidden id="DueDate 14">@item.DueDate</td>
                                    <td hidden id="DueAmount 15">@item.DueAmount</td>
                                    <td hidden id="AdmissionNumber 16">@item.AdmissionNumber</td>
                                    <td hidden id="ConcedingAmount 17">@item.ConcedingAmount</td>
                                    <td hidden id="ConcedingAmount 18">@item.DiscountName</td>
                                </tr>

                                sno++;
                            }


                        </tbody>
                        <tfoot>
                            <tr style=" text-align: center;">
                                <td colspan="7">

                                    <a href="/FeeSection/ManageFeeDetails" class="btn btn-pill btn-outline-primary-2x PreviousPageBtn">Previous Page</a>
                                    
                                    <input type="submit" value="Back To Pay Fee" id="PFU_TermsFeeTable_IN_EditbtnClick_Show_FeePaidTable_IN_BackToPayFee_btn" class="btn btn-pill btn-outline-warning-2x" onclick="PFU_TermsFeeTable_IN_EditbtnClick_Show_FeePaidTable_IN_BackToPayFee_btn(event)" />
                                    <input type="submit" value="Update" id="PFU_TermsFeeTable_IN_Update_Btnid" onclick="PFU_TermsFeeTable_IN_Update(event)" class="btn btn-pill btn-outline-success-2x" />

                                    <input type="submit"  class="btn btn-pill btn-outline-info-2x" value="Back To Search" id="PFU_TermsFeeTable_IN_EditbtnClick_Show_FeePaidTable_IN_BackToSearch_btn" onclick="PFU_TermsFeeTable_IN_EditbtnClick_Show_FeePaidTable_IN_BackToSearch_btn(event)" />

                                    <a href="/FeeSection/FeeStatus" class="btn btn-pill btn-outline-info-2x NextPageBtn">Next Page</a>

                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
   