@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Feestatusdetails>


@*<link href="~/css/FeeDueRemainders.css" rel="stylesheet" />*@

<div class="col-md-12 col-lg-12 mb-3">
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">SMS CREDITS</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="row mb-2">
                    <label class="col-sm-4 col-form-label space text-end" for="basic-default-name">Total Credits</label>
                    <div class="col-sm-4">
                        <label></label>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-sm-4 col-form-label space text-end" for="basic-default-name">Used Credits</label>
                    <div class="col-sm-4">
                        <label></label>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-sm-4 col-form-label space text-end" for="basic-default-name">Remaining Credits</label>
                    <div class="col-sm-4">
                        <label></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (@ViewBag.ItemsCount > 0)
{
    <div class="col-md-12 col-lg-12 mb-3">
        <a href="#" id="exportToExcelButton">Export to Excel Expand Grid</a>
        <div class="row">
            <div class="col-sm-2">
                <input type="checkbox" class="form-check-input" id="chksmsstudent">
                <label class="form-check-label" for="SmsToStudent" id="chksmsstudent">Sms To Student</label>
            </div>
            <div class="col-sm-2">
                <input type="checkbox" class="form-check-input" id="chksmsparents">
                <label class="form-check-label" for="SmsToStudent" id="chksmsparents">Sms To Parent</label>
            </div>
            <div class="col-sm-3">
                <input type="checkbox" class="form-check-input" id="chkemailstudents">
                <label class="form-check-label" for="SmsToStudent" id="chkemailstudents">Send Email To Students</label>
            </div>
            <div class="col-sm-3">
                <input type="checkbox" class="form-check-input" id="chkemailparents">
                <label class="form-check-label" for="SmsToStudent" id="chkemailparents">Send Email To Parents</label>
            </div>
            <div class="col-sm-3">
                <input type="checkbox" class="form-check-input" id="chkCheckAll">
                <label class="form-check-label" id="chkCheckAll">Check All</label>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">
                    YOUR SEARCH RESULTED <span class="badge badge-center rounded-pill bg-primary bg-glow"> @ViewBag.ItemsCount </span> RECORDS FOR <span id="Typeoffspid" value="@ViewBag.ButtonName"> @ViewBag.ButtonName </span>.
                </h5>
            </div>
            <div class="links table-responsive text-nowrap" id="Admissiontbldiv">
                <table id="Feedetailstbl" class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Sl. No</th>
                            <th>Select</th>
                            <th>Student Name</th>
                            <th>Program</th>
                            <th>Batch</th>
                            <th>Fee Amount</th>
                            <th>Discount Type	</th>
                            <th>Discount Amount</th>
                            <th>Paid Amount</th>
                            <th>Due Amount</th>
                            <th>Student Mobile</th>
                            <th>StudentSmsStatus</th>
                            <th>Student EMail</th>
                            <th>Parent Name</th>
                            <th>Parent Mobile</th>
                            <th>ParentSmsStatus</th>
                            <th>Parent EMail</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int SNO_ = 1;}
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@SNO_</td>
                            <td align="center" width="180px"><input type="checkbox" id="Check_Box_@item.Studentid" class="userCheckbox Userfeetypechk form-check-input " /></td>
                            <td align="left">
                                <span style="font-weight: 600; cursor: pointer; text-decoration: underline; color: blue; " class="user-info" onclick="navigateToUserInfoAction('@item.Studentid', 'div_@item.Studentid')" data-user-id="@item.Studentid">@item.StudentName</span>
                                <div id="div_@item.Studentid" style="display:none;"></div>
                            </td>
                            <td>@item.Program</td>
                            <td>@item.Batch</td>
                            <td>@item.FeeAmount</td>
                            <td>@(string.IsNullOrEmpty(item.ConcedingTypeName) ? "NA" : item.ConcedingTypeName)</td>
                            <td>@(item.ConcedingAmount == 0 ? "Nill" : item.ConcedingAmount.ToString())</td>
                            @*<td>@item.ConcedingTypeName</td>*@
                            @*<td>@item.ConcedingAmount</td>*@
                            <td>@item.FeePaid</td>
                            <td>@item.DueAmount</td>
                            <td>@item.StudentMobile</td>
                            <td>@item.StudentSmsStatus</td>
                            <td>@item.StudentEmail</td>
                            <td>@item.ParentName</td>
                            <td>@item.ParentPhone</td>
                            <td>@item.ParentSmsStatus</td>
                            <td>@item.ParentEmail</td>
                        </tr>
                            SNO_++;
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    <button class="btn btn-success waves-effect waves-light" id="GoToStep2btn"> Go To Step2 </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-12 mb-3" id="MessagecontentDiv2" style="display:none;">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">TYPE MESSAGE</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label space text-end" for="basic-default-name">Type Message</label>
                        <div class="col-sm-5">
                            <textarea class="form-control" cols="8" rows="4" id="Subjecttxtid"></textarea>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="col-sm-2 col-form-label  text-end" for="basic-default-name"></label>
                        <div class="col-sm-10">
                            <span class="text-danger"> NOTE : The Messege Type here will send as subject for Email and Concatinates to Default Message.</span>
                        </div>
                    </div>
                    <div class="row justify-content-center text-center">
                        <div class="col-sm-12">
                            <button class="btn btn-info waves-effect waves-light" id="PreviewBtn">Preview</button>
                            <span class="Spantext" title="NOTE: Preview will come for selected users if they have Mobile Number and SmsStatus true.">
                                <i>?</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <span class="text-danger">Your search resulted 0 records.</span>
}



<script>
    var selectedStudentMobileNumbers = [];
    var selectedParentMobileNumbers = [];
    var selectedStudentEmail = [];
    var selectedParentEmail = [];
    var selectedStudentsmsstatus = [];
    var selectedParentsmsStatus = [];
    var selectedStudentids = [];

    $('#GoToStep2btn').click(function (e) {
        debugger;
        $('#Commonerrormessage').text('');
        e.preventDefault();
        var tableCheckboxes = document.querySelectorAll('.userCheckbox');
        var tableCheckboxesChecked = false;
        for (var i = 0; i < tableCheckboxes.length; i++) {
            if (tableCheckboxes[i].checked) {
                tableCheckboxesChecked = true;
                break;
            }
        }

        if (!$('#chksmsstudent').prop('checked')&& !$('#chksmsparents').prop('checked')&& !$('#chkemailstudents').prop('checked')&& !$('#chkemailparents').prop('checked')) {
            $('#Commonerrormessage').text('Please make atleast one selection to send SMS or EMAIL.');
            $('html, body').animate({
                scrollTop: $('#Commonerrormessage').offset().top
            }, 1000);

        } else if (!tableCheckboxesChecked) {
            $('#Commonerrormessage').text('Please select at least one student to send SMS or EMAIL.');
            $('html, body').animate({
                scrollTop: $('#Commonerrormessage').offset().top
            }, 1000);

        }
        else {

            $('.userCheckbox:checked').each(function () {
                debugger;
                var $row = $(this).closest('tr');
                var studentids = $(this).attr('id').replace('Check_Box_', '');
                var studentMobile = $row.find('td:eq(10)').text();
                var studentsmsstatus = $row.find('td:eq(11)').text();
                var studentEmail = $row.find('td:eq(12)').text();
                var parentMobile = $row.find('td:eq(14)').text();
                var parentEmail = $row.find('td:eq(16)').text();
                var parentsmsstatus = $row.find('td:eq(15)').text();

                debugger;
                selectedStudentids.push(studentids);

                // Determine which communication options are selected
                if ($('#chksmsstudent').prop('checked')) {
                    selectedStudentMobileNumbers.push(studentMobile);
                    selectedStudentsmsstatus.push(studentsmsstatus);
                }
                if ($('#chksmsparents').prop('checked')) {
                    selectedParentMobileNumbers.push(parentMobile);
                    selectedParentsmsStatus.push(parentsmsstatus);
                }
                if ($('#chkemailstudents').prop('checked')) {
                    selectedStudentEmail.push(studentEmail);
                }
                if ($('#chkemailparents').prop('checked')) {
                    selectedParentEmail.push(parentEmail);
                }
            });

            var collectedData = {
                studentMobileNumbers: selectedStudentMobileNumbers,
                parentMobileNumbers: selectedParentMobileNumbers,
                studentEmails: selectedStudentEmail,
                parentEmails: selectedParentEmail,
                Studentsmsstatus: selectedStudentsmsstatus,
                Parentsmsstatus: selectedParentsmsStatus,
            }

            //console.log('Collected Data:', collectedData);
            $('#MessagecontentDiv2').show();
            $('#Commonerrormessage').text('');
        }
    });

    $('#PreviewBtn').click(function (e) {
        $('#Commonerrormessage').text('');
        debugger;
        e.preventDefault();
        var collectedData = {
            studentMobileNumbers: selectedStudentMobileNumbers,
            parentMobileNumbers: selectedParentMobileNumbers,
            studentEmails: selectedStudentEmail,
            parentEmails: selectedParentEmail,
            Studentsmsstatus: selectedStudentsmsstatus,
            Parentsmsstatus: selectedParentsmsStatus,
            Studentids: selectedStudentids,
        }
        console.log('Collected Data:', collectedData);
       
        var Subject = $('#Subjecttxtid').val();
        if (typeof collectedData === 'undefined') {
            $('#Commonerrormessage').text('Please select at least one student to send SMS or EMAIL.');
            window.scrollTo(0, 0);
            return;
        }
        if (Subject =='') {
            $('#Commonerrormessage').text('Please enter the text you want to send.');
            window.scrollTo(0, 0);
            return;
        }

        debugger;
        var collectedDataJson = encodeURIComponent(JSON.stringify(collectedData));
        var Buttonvalue = $('#Typeoffspid').text();
        var chksmsstudent = document.getElementById('chksmsstudent');
        var chksmsparents = document.getElementById('chksmsparents');
        var chkemailstudents = document.getElementById('chkemailstudents');
        var chkemailparents = document.getElementById('chkemailparents');
        var StudentSMSChk = chksmsstudent.checked;
        var ParentSMSChk = chksmsparents.checked;
        var StudentEmailChk = chkemailstudents.checked;
        var ParentEmailChk = chkemailparents.checked;

        $.ajax({
            url: '/FeeSection/FeeStatus_SmsMails?CollectedData=' + collectedDataJson + "&Subject=" + Subject + "&Typeoff=" + Buttonvalue + "&StudentSMSChk=" + StudentSMSChk + "&ParentSMSChk=" + ParentSMSChk + "&StudentEmailChk=" + StudentEmailChk + "&ParentEmailChk=" + ParentEmailChk,
            method: 'POST',
            contentType: 'application/json',
            success: function (response) {
                var message = '';
                if (response == "1") {
                    //var message = '';
                    if (chksmsstudent.checked) {
                        message = 'Student SMS sent successfully';
                    } else if (chksmsparents.checked) {
                        message = 'Parent SMS sent successfully';
                    } else if (chkemailstudents.checked) {
                        message = 'Student Email sent successfully';
                    } else if (chkemailparents.checked) {
                        message = 'Parent Email sent successfully';
                    }
                    $('#Commonerrormessage').text(message);
                }
                else if (response == "-1") {
                    $('#Commonerrormessage').text('Something went wrong please try again.....!');
                }
            }
        });
    });

    function navigateToUserInfoAction(Studentid, Divid) {
        debugger;
        var divElement = document.getElementById(Divid);
        var FeeTermId = $('#Feetermsddl').val();
        if (divElement) {
            if (divElement.style.display === "none") {
                divElement.style.display = "block";
            } else {
                divElement.style.display = "none";
            }
        }
        var url = '/FeeSection/FeeStatus_ByIndividual?Studentid=' + Studentid + "&FeeTermId=" + FeeTermId;
        $.ajax({
            type: 'GET',
            url: url,
            success: function (data) {
                debugger;
                $("#" + Divid).html(data);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    // Select All functionality
    $("#chkCheckAll").change(function () {
        const isChecked = $(this).is(":checked");
        $(".Userfeetypechk").prop("checked", isChecked);
    });

    // Uncheck master checkbox if any individual checkbox is unchecked
    $(document).on('change', '.Userfeetypechk', function () {
        if (!$(this).is(":checked")) {
            $("#chkCheckAll").prop("checked", false);
        }
        // Check master checkbox if all individual checkboxes are checked
        if ($(".Userfeetypechk:checked").length === $(".Userfeetypechk").length) {
            $("#chkCheckAll").prop("checked", true);
        }
    });

    //
    $(document).on('click', '#exportToExcelButton', function () {

        debugger;
        var table1 = document.getElementById("Feedetailstbl");
        var table1Clone = table1.cloneNode(true);

        var headers = table1Clone.getElementsByTagName("th");
        for (var i = 0; i < headers.length; i++) {
            headers[i].style.border = "1px solid black";
            headers[i].style.backgroundColor = "lightblue";
            headers[i].style.padding = "15px";
        }

        //var cells = table1.getElementsByTagName("td");
        var cells = table1Clone.getElementsByTagName("td");
        for (var i = 0; i < cells.length; i++) {
            debugger;
            cells[i].style.width = "180px";
            cells[i].style.border = "1px solid black";
            cells[i].style.backgroundColor = "#f2f2f2";
            cells[i].style.padding = "8px";
            var checkbox = cells[i].querySelector("input[type='checkbox']");
            if (checkbox) {
                cells[i].innerText = checkbox.checked ? "TRUE" : "FALSE";
            }
        }

        debugger;
        var combinedHtml = table1Clone.outerHTML;

        // Adding necessary HTML tags for Excel file
        var htmlToExport = `
                <html>
                <head>
                    <meta charset="utf-8">
                    <style>
                        table { border-collapse: collapse; }
                        th, td { border: 1px solid black; padding: 8px; }
                        th { background-color: lightblue; }
                        td { background-color: #f2f2f2; }
                    </style>
                </head>
                <body>
                    ${combinedHtml}
                </body>
                </html>
            `;

        const blob = new Blob([htmlToExport], { type: 'application/vnd.ms-excel' });
        saveAs(blob, 'Reports.xls');
    });
</script>