


<a href="javascript:void()" id="">Export to Excel</a>
<div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">FEE SUMMARY</h5>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Term</th>
                    <th>Challan Count</th>
                    <th>Challan Amount</th>
                    <th>Paid</th>
                    <th>Due</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Table2)
                {
                    <tr>
                        <td>@item.TermName</td>
                        <td>@item.CountFee</td>
                        <td>@item.FeeAmount</td>
                        <td>@item.PayedAmount</td>
                        <td>@item.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-bordered table-responsive">
            <thead class="table-dark">
                <tr>
                    <th>UserId</th>
                    <th>Challan Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>hallticket</th>
                    <th>Department</th>
                    <th>Class</th>
                    <th>Term</th>
                    <th>Challan Amount</th>
                    <th>Paid</th>
                    <th>Due</th>
                    <th>Fine/Excess Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Table1)
                {
                    <tr>
                        <td>@item.UserId</td>
                        <td>@item.UserReceiptGenerationID</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.hallticket</td>
                        <td>@item.ClassificationName</td>
                        <td>@item.SubClassificationName</td>
                        <td>@item.TermName</td>
                        <td>@item.PayedAmount</td>
                        <td>@item.FeeAmount</td>
                        <td>@item.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>        