
@model Connect4m_Web.Models.Attendenceproperites.FeeReports
@{
    ViewData["Title"] = "FeeReceiptNew_Data";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}


<link href="~/css/FeeChallana_Report.css" rel="stylesheet" />








<div id="Search_Challana_NumberDivId" class="card-body">
    <div class="default-according style-1" id="accordionoc">
        <div class="card">
            <div>
                <h5 class="mb-0">
                    <button class="collapsed Header_Btn" data-bs-toggle="collapse" data-bs-target="#collapseicon" aria-expanded="true" aria-controls="collapse11" style="">
                        YOUR SEARCH RESULTED <span class="Challana_Users_Count">@ViewBag.ChallanaUsersCOunt</span> RECORDS.
                    </button>
                </h5>
            </div>
            <div class="collapse show" id="collapseicon" aria-labelledby="collapseicon" data-bs-parent="#accordionoc" style="">

                <div class="card-body">


                    <table class="FeeChallaReports_Users_tbl">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Class</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @ViewBag.ChallanaUsers)
                            {
                                <tr>
                                    <td style="color: black;">
                                        <span style="font-weight: 600; cursor: pointer; " class="user-info" onclick="navigateToUserInfoAction('@item.UserId', 'div_@item.UserId')" data-user-id="@item.UserId">@item.FirstName</span>
                                        <div id="div_@item.UserId"></div>
                                    </td>

                                    <td>@item.FirstName</td>
                                    <td>@item.ClassificationName</td>
                                    <td>@item.SubClassificationName</td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>
</div>




<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>


    $(document).ready(function () {
        $('#Div_Details').hide();
    });


    function navigateToUserInfoAction(userId, Divid) {
        debugger;
       // var hideshow = $("#" + Divid).css('display','block');
        var hideshow = $("#" + Divid + '.malli');
        if (hideshow.length==0) {
            var url = '/FeeSection/Users_By_FeeChallanNo?userId=' + userId;
            $("#" + Divid).addClass('malli');
            $("#" + Divid).css('display', 'block')
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    debugger;

                    $("#" + Divid).html(data);

                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
        else {
            $("#" + Divid).removeClass('malli');
            $("#" + Divid).css('display', 'none')
        }
    }




    function deleteUserChallana(userReceiptGenerationID) {
        debugger;
        if (confirm("Are you sure you want to delete the challana?\nClick OK to delete or Cancel to stop deleting.")) {
            var url = "/FeeSection/DeleteUserChallana?UserReceiptGenerationId=" + userReceiptGenerationID;
            debugger;
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    debugger;
                    console.log("Server response:", data);

                    try {
                        var parsedData = JSON.parse(data);
                        console.log("Parsed data:", parsedData);
                    } catch (error) {
                        console.error("Error parsing JSON:", error);
                    }

                    if (data === "3") {
                        $('#ErrorMessage_SpId').text("Challan Is Deleted successfully");
                        $('#ErrorMessage_SpanId1').text("Challan Is Deleted successfully");
                    } else if (data === "4") {
                        $('#ErrorMessage_SpId').text("Challan can't be deleted, because fee already paid for this challan.");
                        $('#ErrorMessage_SpanId1').text("Challan can't be deleted, because fee already paid for this challan.");
                    } else {
                        $('#ErrorMessage_SpId').text("Challana Is Not Deleted Please Once Check Your Challana Number....!");
                        $('#ErrorMessage_SpanId1').text("Challana Is Not Deleted Please Once Check Your Challana Number....!");
                    }
                    // $('#userTableContainer').load('/FeeSection/Users_By_FeeChallanNo');
                },
                error: function (xhr, status, error) {
                    console.error("AJAX error:", error);
                }
            });
        }
    }






    function openNewWindow(UserReceiptGenerationID, UserId) {
        var url = "/FeeSection/GetChellanaDetails?ChallanId=" + UserReceiptGenerationID + "&UserId=" + UserId;

        $.ajax({
            type: 'GET',
            url: url,
            success: function (data) {
                /*openReceiptWindow(data);*/
                debugger;
                var newWindow = window.open('', 'View Receipt', 'width=997,height=655,scrollbars=yes,resizable=yes');
                newWindow.document.write(data);
                newWindow.document.close();


            },
            error: function (xhr, status, error) {
                console.error("AJAX error:", error);
            }
        });
    }




</script>

