@model Connect4m_Web.Models.Attendenceproperites.Feetypes

@{
    ViewData["Title"] = "Update Feetype";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-lg-12 mb-3">
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0"><span id="Heading_sptxt">UPDATE FEE TYPE</span></h5><small class="text-muted float-end">* INDICATES REQUIRED FIELDS</small>
        </div>
        <div class="card-body">
            <form id="Updatefeetypeform" enctype="multipart/form-data">
                <div class="row">
                    <div class="row mb-3">
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label space text-end required" for="basic-default-name">Fee Type</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="FeeType" class="form-control" id="UFeetypetxt" value="@ViewBag.filteredRows?[0]?.FeeType" />
                                <input type="hidden" asp-for="Feetypeid" class="form-control" id="FeetypeIdtxt" value="@ViewBag.filteredRows?[0]?.Feetypeid" />
                                <span asp-validation-for="FeeType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label space text-end required" for="basic-default-name">Fee Type is for</label>
                            <div class="col-sm-4">
                                @{
                                    var Feetypestatusval = ViewBag.filteredRows?[0]?.Feetypestatus;
                                }

                                <div class="form-check form-check-primary ">
                                    <input class="form-check-input" name="Feetypestatus" type="radio" value="1" id="UrdolstFeeTypeStatus_0" @(Feetypestatusval == "1" ? "checked" : "")>
                                    <label class="form-check-label">
                                        Current Academic Year Payments
                                    </label>
                                </div>
                                <div class="form-check form-check-primary ">
                                    <input class="form-check-input" name="Feetypestatus" type="radio" value="0" id="UrdolstFeeTypeStatus_1" @(Feetypestatusval != "0" ? "checked" : "" )>
                                    <label class="form-check-label">
                                        Previous Academic Year Dues
                                    </label>
                                </div>
                                <span asp-validation-for="Feetypestatus" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label space text-end" for="basic-default-name">Discount Types</label>
                            <div class="col-sm-4">
                                <select class="form-select" id="UlstConcedingtypes" multiple>
                                    @foreach (var item in ViewBag.ConcedingTypes as SelectList)
                                    {
                                        bool isSelected = false;
                                        @foreach (var itemss in ViewBag.UniqueConcedingTypeIds)
                                        {
                                            @if (item.Value == itemss.Item1.ToString())
                                            {
                                                isSelected = true;
                                                break;
                                            }
                                        }
                                        @if (isSelected == true)
                                        {
                                            <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label space text-end" for="basic-default-name">Quantity </label>
                            @{
                                var Qunatityval = ViewBag.filteredRows?[0]?.Quantity;
                            }
                            <div class="col-sm-4">
                                <div class="form-check form-check-primary ">
                                    <input class="form-check-input" name="Qunatityamountradio" type="radio" value="0" id="UrbtnlQuantity_0"
                                           @(ViewBag.filteredRows?[0]?.Quantity == "False" ? "checked" : "")>
                                    <label class="form-check-label">
                                        No
                                    </label>
                                </div>
                                <div class="form-check form-check-primary ">
                                    <input class="form-check-input" name="Qunatityamountradio" type="radio" value="1" id="UrbtnlQuantity_1"
                                           @(ViewBag.filteredRows?[0]?.Quantity == "True" ? "checked" : "")>
                                    <label class="form-check-label">
                                        Yes
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3" id="EditAmounttxtdiv" style="display:@(Qunatityval == "True" ? " " : "none");">
                            <label class="col-sm-4 col-form-label space text-end" for="basic-default-name">Amount </label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="Amount" class="form-control" id="Editamounttxt" value="@ViewBag.filteredRows?[0]?.Amount" />
                                <span class="text-danger" id="AmountEditError"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label space text-end" for="basic-default-name">Description  </label>
                            <div class="col-sm-4">
                                <textarea asp-for="Description" name="Description" class="form-control"
                                          id="Udescriptiontxt">@ViewBag.filteredRows?[0]?.Description </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center text-center">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-info waves-effect waves-light" onclick="previouspages('ManageFeeConcedingTypes',null)">Previous Page</button>
                                <button type="button" class="btn btn-danger waves-effect waves-light" id="btnDelete" onclick="Confirmdltall('@ViewBag.filteredRows?[0]?.Feetypeid','@ViewBag.filteredRows?[0]?.FeeType')">Delete</button>
                                <button type="button" class="btn btn-dark waves-effect waves-light" id="updbacktosearchbtn">Back To Search</button>
                                <button type="submit" class="btn btn-success waves-effect waves-light" id="updatebtn">Update</button>
                                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="nextpages('ManageFeeTerms',null)">Next Page</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Datatable/jquery.dataTables.min.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" type="text/javascript"></script>

<script src="~/js/Managefeetypes1.js"></script>
