@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*_EditLeavesPage_LeaveCancellation*@
@model Connect4m_Web.Models.AttendanceModel 

@*<div class="align-items-center d-flex justify-content-center">*@
<div class="card mb-4">
    <div class="row">
        <div class="col">
            @*--------------------------*@
            <div class="row ">
                <label class="col-sm-5 col-form-label  text-end " for="basic-default-name">Employee Name</label>
                <div class="col-sm-4 ">
                    <label class="form-control-plaintext"  id="SpanEmpName"></label>
                </div>
            </div>
            @*--------------------------*@
            <div class="row ">
                <label class="col-sm-5 col-form-label  text-end " for="basic-default-name">Department </label>
                <div class="col-sm-4 ">
                    <label class="form-control-plaintext" id="SpanEmpDept"></label>
                </div>
            </div>
        </div>
    </div>
</div>
 @*</div>*@

@*==========================Edit Leaves Card====================*@
<div class="card mb-4" id="SearchPage">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">
            <span>
                UPDATE LEAVE
            </span>
        </h5>
    </div>
    <div class="card-body">
        <form id="FmUpdateLeaves">
            <div class="row">
                <div class="col">
                    @*--------------------------*@
                    <div class="row mb-3 ">
                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Leave Type</label>
                        <div class="col-sm-4 ">
                            <div class="position-relative">
                                <select id='leavetype' class="select2 form-select select2-hidden-accessible" name="InputValue[0].Leavetypeid" onchange="GetLeaveDaysAvailable_CallingFuction('LeaveCancellation')" asp-items="@(new SelectList(ViewBag.LeaveType1,"Value","Text"))">
                                    <option value=''>---------Select--------</option>
                                </select>
                                <input asp-for="Leavetype" name="InputValue[0].Leavetype" type="hidden" id="LeavetypeTB" />
                                <input type="image" class="imgAuditIcon" id="imgAuditIconLeavetype" src="/IconImages/searchbtn image.png" onclick="_ViewChangeActivities(event,'tblLeaveDetails', @ViewBag.LeaveApplicationId, 'LeaveTypeId') " style="display:none">

                            </div>
                        </div>
                    </div>
                    @*--------------------------*@
                    <div class="row mb-3 ">
                        <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Leave Days Available</label>
                        <div class="col-sm-4 ">
                            <label class="form-control-plaintext" id="GetLeaveDaysAvailableid"></label>
                            <input type="hidden" id="GetLeaveDaysAvailableidtTotal" />
                            <input type="hidden" id="HdnLeavetypeidForGetcurrectLeavedays">
                            <input type="hidden" id="HdnGetLeaveDaysAvailabletoLeavetype">
                        </div>
                    </div>

                    @*--------------------------*@
                    <div class="row mb-3 ">
                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Short Description for Leave Reason</label>
                        <div class="col-sm-4 ">
                            <div class="position-relative">
                                <select id='Descriptionid1' class="select2 form-select select2-hidden-accessible" name="InputValue[0].Leavetypeid" asp-items="@(new SelectList(ViewBag.GetShort_Description_for_Leave_Reason2,"Value","Text"))" disabled>
                                    <option value=''>---------Select--------</option>
                                </select>
                                <input type="hidden" name="InputValue[0].ShortDescriptionforLeave_Reason" id="DescriptionidTB1" />

                            </div>
                        </div>
                    </div>
                    @*----------------------*@

                    <div class="row mb-3 ">
                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Day Type</label>
                        <div class="col-sm-4">
                            <div class="col mt-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input check" asp-for="Daystype" id="RdnFullday" type="radio" name="InputValue[0].Daystype" value="0" />
                                    <label class="form-check-label" for="RdnFullday">Full Day</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input check" asp-for="Daystype" id="RdnHalfday" type="radio" name="InputValue[0].Daystype" value="1" />
                                    <label class="form-check-label" for="RdnHalfday"> Half Day</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    @*--------------------------*@
                    <div id="Dates_Div">
                        <div class="row mb-3 ">
                            <label class="col-sm-4 col-form-label  text-end required" id="HAlfdayLB" for="basic-default-name">Date</label>
                            <label class="col-sm-4 col-form-label  text-end required" id="fromdateLB" for="basic-default-name">From Date</label>
                            <div class="col-sm-4 ">
                                <input type="date" name="InputValue[0].Fromdate" class="form-control" id="fromdate">
                                <input name="InputValue[0].LastAttendanceDate" type="hidden" id="Hdnfromdate" />
                                <input type="image" class="form-control" id="imgAuditIconFrodate" src="/IconImages/searchbtn image.png" onclick="_ViewChangeActivities(event,'tblLeaveDetails', @ViewBag.LeaveApplicationId, 'FromDate')" style="display:none">
                            </div>
                        </div>
                        <div class="row mb-3 ">
                            <label class="col-sm-4 col-form-label  text-end required" id="todateLB" for="basic-default-name">To Date</label>
                            <div class="col-sm-4 ">
                                <input type="date" name="InputValue[0].Todate" class="form-control" id="todate">
                                <input name="InputValue[0].CreatedDate" type="hidden" id="Hdntodate" />
                                <input type="image" class="form-control" id="imgAuditIconFrodate" src="/IconImages/searchbtn image.png" onclick="_ViewChangeActivities(event,'tblLeaveDetails', @ViewBag.LeaveApplicationId, 'ToDate')" style="display:none">
                            </div>
                        </div>
                    </div>
                    @*----------------------*@

                    <div class="row mb-3 " id="DaySession">
                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Day Session</label>
                        <div class="col-sm-4">
                            <div class="col mt-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input check1" asp-for="Daysession" id="RdnMorning" type="radio" name="InputValue[0].Daysession" value="1" />
                                    <label class="form-check-label" for="RdnMorning">Morning</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input check1" asp-for="Daysession" id="RdnAfternoon" type="radio" name="InputValue[0].Daysession" value="2" />
                                    <label class="form-check-label" for="RdnAfternoon">Afternoon</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*----------------------*@
                    <div class="row mb-3 ">
                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Leave Comments<br /><i style="font-size:8px">(Max of 500 Characters)</i></label>
                        <div class="col-sm-4">
                            <textarea class="form-control" id="Textarea" rows="3" asp-for="Leavecomments" name="InputValue[0].Leavecomments" oninput="CharactercountFunction.call(this,'TextareacountSPAN')" maxlength="500"></textarea>
                            <label class="form-control" id="LblTextareacount" style="display:none"> <i><span id="TextareacountSPAN">500</span> Character(s) remaining.</i></label>

                        </div>
                    </div>

                    @*----------------------*@

                    <input type="hidden" name="InputValue[0].Batchid" id="BatchidTextbox" style="display:none" />
                    <input type="hidden" name="InputValue[0].LeaveApplicationId" id="LeaveApplicationId" style="display:none" />
                    @*<input type="text" name="InputValue[0].attachdocument"  id="attachdocument_String" style="display:none" />*@
                    <input type="hidden" name="InputValue[0].RequestStatus" id="RequestStatus" style="display:none" />
                    <input style="display:none" id="AppliedLeavedays">
                    @*----------------------*@
                    <div class="row justify-content-end">
                        <div class="col-sm-8">
                            <button type="button" class="btn btn-info waves-effect waves-light" id="BtnBack" onclick="BackTOSearhUserLeavestypes(event)" value="Back To Search">Back To Search</button>
                            <button type="submit" class="btn btn-success waves-effect waves-light" id="savebutton" onclick="FmUpdateLeaves_CalingFunction(event)" value="Update Leave">Update Leave</button>
                        </div>
                    </div>
                    @*--------------------------*@


                </div>
            </div>
        </form>
    </div>
</div>

<input type="text" value="@ViewBag.Userid" id="Userid" style="display:none" />
<input type="text" value="@ViewBag.Instanceid" id="Instanceid" style="display:none" />



<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>

@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
<script src="~/js/ApplyStaffLeave.js"></script>

@*<script src="~/js/GeneralFunctions.js"></script>*@
