@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link href="~/css/Managehomepage.css" rel="stylesheet" />





<div class="col-md-12 col-lg-12 mb-3">
    <span id="DeleteMessage" class="text-danger"></span>
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">
                YOUR SEARCH RESULTED @ViewBag.itemscount RECORDS.
            </h5>
        </div>
        <div class="card-body">
            <div id="table-responsive">
                <div class="table-responsive text-nowrap">
                    <table id="Coollinkstbl_id" class="table table-hover table-bordered no-footer">
                        @*<table class="Coollinktable table-responsive" id="Coollinkstbl_id" width="100%">*@
                        <thead class="table-dark">
                            <tr>
                                <th>Cool Link Name</th>
                                <th>Cool Link URL</th>
                                <th>Description</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td width="10px">
                                        <span onclick="EditCoolinkFunction(@item.CoollinkId)" class="Linknametd">@item.LinkName</span>
                                    </td>
                                    <td style="font-style:italic"><a href="@item.LinkURL" target="_blank" class="tdUrl">@item.LinkURL</a></td>
                                    <td>@item.Description</td>
                                    <td align="center"><span class="trasicon text-danger" onclick="Dltfunction(@item.CoollinkId)"><i class="fa fa-trash-o"></i></span></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div id="Pagination_div" style="text-align:center;"></div>

                </div>
            </div>
        </div>
    </div>
</div>



