@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<div class="default-according style-1" id="accordionoc1">
    <div class="card" style="margin-bottom: 10px;">
        <div class="card-header bg-primary">
            <h5 class="mb-0">
                <button class="collapsed btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#collapseicon2" aria-expanded="true" aria-controls="collapse11" style="width:99%;">
                    <span class="Header_text_span">
                        YOUR SEARCH RESULTED <span class="TableCountSp_id">@ViewBag.NoticeCount</span> RECORDS.
                    </span>
                </button>
            </h5>
        </div>
        <div class="collapse show" id="collapseicon2" aria-labelledby="collapseicon2" data-bs-parent="#accordionoc2" style="">
            <div class="card-body" style=" padding: 7px; margin: -4px 0px 0px -7px;">
                <table class="Noticetable" id="noticeTable">
                    <thead>
                        <tr>
                            <th>Notice Subject</th>
                            <th>End Date(Expiry Date)</th>
                            <th>Posted</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td><span onclick="ENoticeedit(@item.ENoticeId);" class="EdittdSpan" >@item.Subject</span></td>
                            <td>@item.ExpiryDate</td>
                            <td align="center">

                                @if (item.IsPosted == "True")
                                {
                                    <img src="~/Images/Valid.gif"  width="20"height="20"/>                                    
                                }

                            </td>
                            <td align="center"><span onclick="DeleteNotice(@item.ENoticeId);" style="cursor:pointer;"><i class="fa fa-trash"></i></span></td>
                        </tr>
                        }
                    </tbody>
                </table>
                <div id="Noticetable_pagination">
                   
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
    var rowsPerPage = 10; 
        var totalItems = @ViewBag.NoticeCount;
        if (totalItems >= 10) {

        

    var numPages = Math.ceil(totalItems / rowsPerPage);
    var currentPage = 1;

    var pagination = $('#Noticetable_pagination');
    pagination.empty();

            var previousLink = $('<a class="Noticetable_pagination" style="margin: 0 2px;color: black;" href="#">Previous</a>');
    pagination.append(previousLink);

    var startIndex = 1;
    var endIndex = Math.min(numPages, 10);

    for (var i = startIndex; i <= endIndex; i++) {
        var link = $('<a class="Noticetable_pagination" style="margin: 0 2px;color: black;" href="#">' + i + '</a>');
        pagination.append(link);
    }

    if (endIndex < numPages) {
        pagination.append($('<span style="margin: 0 2px;">&hellip;</span>'));
        var lastPageLink = $('<a class="Noticetable_pagination" style="margin: 0 2px;color: black;" href="#">>>></a>');
        pagination.append(lastPageLink);
    }

    showPage(currentPage);

    pagination.css('text-align', 'center');

    pagination.on('click', '.Noticetable_pagination', function (e) {
        e.preventDefault();
        var linkText = $(this).text();
        if (linkText === "Previous") {
            currentPage = Math.max(currentPage - 1, 1);
        } else if (linkText === ">>>") {
            currentPage = numPages;
        } else {
            currentPage = parseInt(linkText);
        }
        showPage(currentPage);
    });

    function showPage(page) {
        var start = (page - 1) * rowsPerPage;
        var end = Math.min(start + rowsPerPage, totalItems);

      
        $("#noticeTable tbody tr").hide();

      
        $("#noticeTable tbody tr").slice(start, end).show();

        var newStartIndex = Math.max(1, page - 4);
        var newEndIndex = Math.min(newStartIndex + 9, numPages);

        if (newEndIndex === numPages) {
            newStartIndex = Math.max(1, numPages - 9);
        }

        pagination.empty();
        pagination.append(previousLink);

        for (var i = newStartIndex; i <= newEndIndex; i++) {
            var link = $('<a class="Noticetable_pagination" style="margin: 0 2px;color: black;" href="#">' + i + '</a>');
            pagination.append(link);
        }

        if (newEndIndex < numPages) {
            pagination.append($('<span style="margin: 0 2px;">&hellip;</span>'));
            var lastPageLink = $('<a class="Noticetable_pagination" style="margin: 0 2px;color: black;" href="#">>>></a>');
            pagination.append(lastPageLink);
        }

        $('.Noticetable_pagination').removeClass('active');
        $('.Noticetable_pagination').eq(page - newStartIndex + 1).addClass('active')
            .css({
                'cursor': 'unset',
                'background-color': 'yellow',
                'padding': '2px',
                'border-radius': '16px',
                'color': 'black'
            });
    }
        }

});
</script>
