@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@model List<LeaveDelegationModel>


    <div class="card">
        <div class="card-header flex-column flex-md-row">
            <div class="head-label text-center">
                <h5 class="card-title mb-0">
                    <span>YOUR SEARCH RESULTED &nbsp;<span id="Counts" class="badge badge-center rounded-pill bg-primary bg-glow">@Model.Count()</span>  RECORD(S).</span>
                </h5>
            </div>
        </div>  <div class="table-responsive text-nowrap">
    @if (Model.Count > 0)
    {
            <table id="TblLeaveDeligationAuthorityList_SearchedRecords" class="table table-hover table-bordered no-footer dataTable">
                <thead class="table-dark">
                    <tr>
                        <th style="text-align:center">Select</th>
                        <th>	First Name</th>
                        <th>	Role</th>
                        <th>Department</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center"><input type="radio" class="form-check-input " onclick="AddUserByRadioBtn.call(this,event, this.value)" value="@item.Userid" /> </td>
                            <td>@item.FirstName</td>
                            <td>@item.RoleName</td>
                            <td>@item.DepartmentName</td>
                            <td>@item.PortalEmail</td>
                        </tr>
                    }
                </tbody>
            </table>
      
    }
    else
    {
        <div class="card-body">
            <p style="text-align:center">No records found</p>
        </div>
        <br />
    }
</div>
    </div>
        



