@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*_TblAssignLeavesToStaff_AssignLeavestoStaff*@

@model List<AttendanceModel>

<div class="form-check">
    <input type="checkbox" class="form-check-input" id="CheckAll" onclick="CheckAllCheckBoxes.call(this)" />
    <label class="form-check-label" for="CheckAll">Check All</label>
</div>
<div class="card">
    <div class="card-header flex-column flex-md-row">
        <div class="head-label text-center">
            <h5 class="card-title mb-0">
                <span>YOUR SEARCH RESULTED &nbsp;<span id="Counts" class="badge badge-center rounded-pill bg-primary bg-glow">@Model.Count()</span>  RECORD(S).</span>
            </h5>
        </div>
    </div>
    @if (Model.Count > 0)
    {

        <div class="table-responsive text-nowrap">
            <form id="Fm_TblAssignLeavesToStaffList_SearchedRecords">

                <table id="TblAssignLeavesToStaffList_SearchedRecords" class="table table-hover table-bordered no-footer dataTable">
                    <thead class="table-dark">
                        <tr>
                            <th style="text-align:center">Select</th>
                            <th>	Employee Name</th>
                            <th>	Date of Joining</th>
                            <th>Gender</th>
                            <th>Department</th>
                            <th>Class</th>


                        </tr>
                    </thead>
                    <tbody>
                        @{var i = 0;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align:center">
                                    <input type="checkbox" class="form-check-input" name="val[@(i)].UserId" @*class="CheckBoxSelect"*@ value="@item.UserId" />
                                    <input type="hidden" name="val[@(i)].PayrollSubCategoryId" value="@item.PayrollSubCategoryId" />
                                    <input type="hidden" name="val[@(i)].PayrollCategoryId" value="@item.PayrollCategoryId" />
                                    <input type="hidden" name="val[@(i)].GenderId_Int" value="@item.GenderId_Int" />
                                </td>
                                <td>@item.FirstName</td>
                                <td>@item.DateofJoin</td>
                                <td>@item.GenderId</td>
                                <td>@item.ClassificationName</td>
                                <td>@item.SubClassificationName</td>
                            </tr>
                            i++;
                        }
                    </tbody>

                </table>

            </form>
        </div>

        @*--------------------------*@
        <div class="row justify-content-end">
            <div class="col-sm-7">
                <button type="submit" class="btn btn-success waves-effect waves-light" id="BtnSearchId" onclick="SubmitLeaves(event)" value="Submit">Submit</button>

            </div>
        </div>
    }
    else
    {
        <div class="card-body">
            <p style="text-align:center">No records found</p>
        </div>

    }


</div>

