@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*_ViewChangeActivities*@
@{

    var Title = ""; var MainHeading = "";
    if (ViewBag.ActivityName == "ViewSubjects")
    {
        Title = "View Subjects"; MainHeading = "Subjects Details";
    }
    else if (ViewBag.ActivityName == "ViewSubjects")
    {
        Title = "Departments and Classes"; MainHeading = "Departments and Classes";
    }
    else
    {
        @model List<AttendanceModel>
        Title = "View Change Activities"; MainHeading = "View Change Activities";
    }
}

<html>
<head>
    <title>@Title</title>
    @*<link href="~/Themes/assets/css/StyleSheets/GeneralStyleSheet.css" rel="stylesheet" />*@

    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <link href="~/Datatable/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Datatable/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#TblHistory').DataTable();
        });

            //this is not using
            //var js = jQuery.noConflict(true);
            //$(document).ready(function () {
            //    debugger;
            //    var dataTable = js('#TblHistory').DataTable({
            //        bFilter: false,
            //        bSort: false,
            //        bPaginate: true,
            //        jQuery: false,
            //        bInfo: false,
            //        dom: 'Bfrtip',

            //        //columnDefs: [
            //        //    {
            //        //        target: 3,
            //        //        visible: false,
            //        //        searchable: false
            //        //    }
            //        //]
            //    });
            //});


    </script>


    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Dashboard | Welcome to Quro Schools</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap"
          rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icons.css" />


    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />
    <link href="~/assets/vendor/css/rtl/theme-semi-dark.css" rel="stylesheet" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/apex-charts/apex-charts.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/swiper/swiper.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css" />


</head>
<body>

    <div class="card mb-4" >
        <div class="card-header flex-column flex-md-row">
            <div class="head-label text-center">
                <h5 class="card-title mb-0">
                    <span>@MainHeading</span>
                    @*<span>YOUR SEARCH RESULTED &nbsp;<span id="Counts" class="badge badge-center rounded-pill bg-primary bg-glow">@Model.Count()</span>  RECORD(S).</span>*@
                </h5>
            </div>
        </div> 
        <div class="table-responsive text-nowrap">
                    @if (ViewBag.ActivityName == "ViewSubjects")
                    {
                        @*<table id="TblHistory" style="width: 80%;" align="center" class=" table-responsive  nowap tableid ">*@
                        <table id="TblHistory" class="table table-hover table-bordered no-footer dataTable">
                            <thead class="table-dark">
                                <tr>
                                    <th>S.No</th>
                                    <th>Subject Name</th>
                                    <th>Subject Code</th>
                                    <th>Subject Display Order</th>
                                    <th>Mentor Name</th>
                                    <th>Department</th>
                                    <th>SubDepartment</th>
                                    <th>Subject Type</th>
                                    <th>Attendance Required</th>
                                    <th>Include In Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var i = 1;}
                                @foreach (var item in ViewBag.SubjectDetailsList)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.SubjectName</td>
                                        <td class="CenterAlign">@item.SubjectCode</td>
                                        <td class="CenterAlign">@item.DisplayOrder1</td>
                                        <td>@item.MentorName</td>
                                        <td>@item.DepartmentName</td>
                                        <td>@item.ClassName</td>
                                        <td>@item.SubjectTypeName</td>
                                        <td>@item.AttendanceRequired1</td>
                                        <td>
                                            @(item.IncludeInTotal1 == 1 ? "Yes" : "No")

                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    }
                    else if (ViewBag.ActivityName == "ViewDepartments_Class")
                    {
                        @*<table style="width: 80%;" align="center" class=" table-responsive  nowap tableid ">*@
                        <table class="table table-hover table-bordered no-footer dataTable">
                            <thead class="table-dark">
                                <tr>
                                    <th>S.No</th>
                                    <th>	Department Id</th>
                                    <th>Department Name</th>
                                    <th>	Class Id</th>
                                    <th>	Class Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var i = 1;}
                                @foreach (var item in ViewBag.SubjectDetailsList)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td class="CenterAlign">@item.InstanceClassificationId</td>
                                        <td>@item.DepartmentName</td>
                                        <td class="CenterAlign">@item.InstanceSubClassificationId</td>
                                        <td>@item.ClassName</td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>

                    }
                    else
                    {

                        <table class="table table-hover table-bordered no-footer dataTable">
                            <thead class="table-dark">
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Key</th>
                                    <th>Current</th>
                                    <th>Previous</th>
                                    <th>Changed By</th>
                                    <th>Previously Chaged By</th>
                                    <th>Changed On</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.AuditKey</td>
                                        <td class="CenterAlign">@item.CurrentValue</td>
                                        <td class="CenterAlign">@item.PreviousValue</td>
                                        <td>@item.CurrentValueCreatedBy</td>
                                        <td>@item.PreviousValueCreatedBy</td>
                                        <td>@item.CreatedDate</td>

                                        @*@if (item.LeaveNoOfDays1 == "1")
                                {
                                    <td>Full Day</td>
                                }
                                else
                                {
                                    <td>Off day</td>
                                }*@

                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>

                    }
                </div>
            </div>
       



</body>
</html>
