@model Connect4m_Web.Models.LMSproperties.SEMtblGovFundRecieved

@{
    ViewData["Title"] = "AddExpenditure";
    //   Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Plugins css Ends-->
<!-- Bootstrap css-->
<!--<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">-->
<!-- App css-->
<!--<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
<link id="color" rel="stylesheet" href="~/assets/css/color-1.css" media="screen">-->
<!-- Responsive css-->
<!--<link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
<link href="~/css/loading.css" rel="stylesheet" />

<link href="~/Datatable/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Datatable/jquery.dataTables.min.css" rel="stylesheet" />-->
<!--<link href="~/css/texts.css" rel="stylesheet" />
<link href="~/css/Managesubjecttools.css" rel="stylesheet" />-->
@*<link href="~/css/pagination.css" rel="stylesheet" />*@
<!--<link href="~/css/texts.css" rel="stylesheet" />
<link href="~/css/CommonStyle.css" rel="stylesheet" />-->


<style>
    #bankDetails, #ChequeDetails {
        display: none;
    }
    /*
    #InsertSEM .col-2 label::after {
        content: " : ";
        display: inline-block;
        font-weight:900;
    }*/

    /*#InsertSEM .col-2 {
        text-align: end;
    }

    #radioaddexpenditure input[type="radio"]:checked {
        background-color: #fd2d63;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: white;
        opacity: 1;
        border: 1px solid white;
    }

    .dataTable td:nth-child(2) {
        color: #2B2B2B;*/
        /*  text-decoration: underline;*/
        /*font-weight: 600 !important;
    }

        .dataTable td:nth-child(2):hover {
            cursor: context-menu !important;
            color: #2B2B2B !important;
            text-decoration: none;
            font-weight: 600;
            background-color: antiquewhite !important;
        }

    #tblSEMsearchresults td:nth-child(2):hover {
        cursor: context-menu !important;
    }*/
    /*#InsertSEM .col-4 {
        left: 8px !important;
    }*/
</style>


<!DOCTYPE html>
<html>
<head>


</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">




        <!-- Examples -->
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">
                @*<span class="ErrorMessageSpan"></span>*@
                @*<a id="BtnCreateNewSubjects" class="text-end" onclick="CreateNewSubjects()">Create Subject</a>*@
                <div class="card mb-4">

                    <div class="card-body">
                        @*=============================  Form Start ================================*@
                        <form id="InsertSEM" enctype="multipart/form-data">
                            <div>
                                <input asp-for="GovFundId" class="form-control" type="number" disabled id="GovFundId_Sem" hidden />

                                <div class="row">
                                    <div class="col">

                                        @*=====================         DROP DOWN               =================*@
                                        @*=====================         DROP DOWN               =================*@

                                        <div class="row mb-3">

                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="TypeofExpenditure"></label>
                                            <div class="col-sm-4">
                                                <div class="position-relative" id="dropdown">
                                                    @Html.DropDownListFor(
                                               x => x.TypeofExpenditure,
                                                new SelectList(ViewBag.FoundSource, "Value", "Text"),
                                              "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_FoundSource_SEM", @style = "color:black;", @disabled = true })

                                                </div>
                                            </div>

                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="VendorName"></label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" asp-for="VendorName" id="VendorName_SEM" disabled>
                                            </div>
                                        </div>
                                        @*=====================         DROP DOWN               =================*@

                                        <div class="row mb-3">

                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="YearId"></label>
                                            <div class="col-sm-4">
                                                <div class="position-relative" id="dropdown">
                                                    @Html.DropDownListFor(
                                               x => x.YearId,
                                                new SelectList(ViewBag.Years, "Value", "Text"),
                                              "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_Year_SEM", @style = "color:black;", @disabled = true })


                                                </div>
                                            </div>

                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="MonthId"></label>
                                            <div class="col-sm-4">
                                                <div class="position-relative" id="dropdown">
                                                    @Html.DropDownListFor(
                                               x => x.MonthId,
                                                new SelectList(ViewBag.Months, "Value", "Text"),
                                              "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_Month_SEM", @style = "color:black;", @disabled = true })


                                                </div>
                                            </div>
                                        </div>

                                        @*=====================         DROP DOWN               =================*@

                                        <div class="row mb-3">

                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="Amount"></label>
                                            <div class="col-sm-4">
                                                <input asp-for="Amount" class="form-control" type="number" id="Amount_SEM" disabled>
                                            </div>
                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="PaymentMode"></label>

                                            <div class="col-sm-4">
                                                <div class="position-relative" id="dropdown">
                                                    @Html.DropDownListFor(
                                               x => x.PaymentMode,
                                                new SelectList(ViewBag.PaymentMode, "Value", "Text"),
                                              "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_PaymentMode_SEM", @style = "color:black;", @disabled = true })

                                                </div>
                                            </div>

                                        </div>


                                        @*=====================         DROP DOWN               =================*@
                                        <div id="bankDetails">
                                            <div class="row mb-3">

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="BankName"></label>
                                                <div class="col-sm-4">
                                                    <input asp-for="BankName" class="form-control" disabled>
                                                </div>

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="BankAddress"></label>
                                                <div class="col-sm-4">
                                                    <input asp-for="BankAddress" class="form-control" disabled>
                                                </div>
                                            </div>
                                        </div>

                                        @*=====================         DROP DOWN               =================*@
                                        <div id="ChequeDetails">
                                            <div class="row mb-3">

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="ChequeDDNo"></label>
                                                <div class="col-sm-4">
                                                    <input asp-for="ChequeDDNo" class="form-control" disabled>
                                                </div>

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="ChequeDDDate"></label>
                                                <div class="col-sm-4">
                                                    <input asp-for="ChequeDDDate" class="form-control" disabled>
                                                </div>
                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="ChequeDDBank"></label>
                                                <div class="col-sm-4">
                                                    <input asp-for="ChequeDDBank" class="form-control" disabled>
                                                </div>

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="ChequeDDBranch"></label>
                                                <div class="col-sm-4">
                                                    <input asp-for="ChequeDDBranch" class="form-control" disabled>
                                                </div>

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="RoutingNumber"></label>
                                                <div class="col-sm-4">
                                                    <input asp-for="RoutingNumber" class="form-control" disabled>
                                                </div>

                                                <div class="col-sm-6">
                                                </div>
                                            </div>
                                        </div>

                                        @*=====================         DROP DOWN               =================*@

                                        <div class="row mb-3">

                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="PaymentDate"></label>
                                            <div class="col-sm-4">
                                                <input asp-for="PaymentDate" class="form-control" disabled id="paymentdate_SEM">
                                            </div>

                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="Unit"></label>
                                            <div class="col-sm-4">
                                                <input asp-for="Unit" class="form-control" type="number" disabled>
                                            </div>
                                        </div>


                                        @*=====================         DROP DOWN               =================*@

                                        <div class="row mb-3">

                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="VendorCategory"></label>
                                            <div class="col-sm-4">
                                                <div class="position-relative" id="dropdown">
                                                    @Html.DropDownListFor(
                                               x => x.VendorCategory,
                                                new SelectList(ViewBag.Vendorcategory, "Value", "Text"),
                                              "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_Vendor_SEM", @style = "color:black;", @disabled = true })

                                                </div>
                                            </div>

                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="RemindAt"></label>
                                            <div class="col-sm-4">
                                                <input asp-for="RemindAt" class="form-control" disabled id="reminddate_SEM">
                                            </div>
                                        </div>

                                        @*=====================         DROP DOWN               =================*@

                                        <div class="row mb-3">

                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="DocName"></label>
                                            <div class="col-sm-4">
                                                <input asp-for="DocName" class="form-control" type="file" id="DocmentName" accept=".doc, .docx, .pdf, .jpeg, .jpg, .png, .gif">
                                                @{ if (Model != null && Model.DocNameEdit != "")
                                                    {
                                                        <input asp-for="DocNameEdit" class="form-control" type="text" readonly id="DocNameEdit" />

                                                    } }
                                            </div>

                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="Description"></label>
                                            <div class="col-sm-4">
                                                <textarea asp-for="Description" class="form-control" disabled rows="10" style="height: 85px; border: 1px solid #00000021;"></textarea>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>


                        </form>
















                        @*<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
                        @*<script src="~/lib/jquery/dist/jquery.js"></script>

                            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
                            @section Scripts {
                                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                            }*@
                        @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
                        <footer @*style=" filter: drop-shadow(2px 4px 6px black);"*@ style="margin-left:1px !important" id="footer">
                            <div>
                                <div>
                                    <div>
                                        <p style="margin-left: auto; background-color: #121451 !important; /* margin: 10px; */ padding: 20px; color: white; text-align: center; font-weight: 900;">Copyright 2023 © ADS SOFTEK Pvt.Ltd All rights reserved.</p>
                                    </div>
                                    @*<div class="col-md-6">
                                            <p class="pull-right mb-0">Hand crafted & made with <i class="fa fa-heart font-secondary"></i></p>
                                        </div>*@
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>




        </div>
        </div>

</body>
</html>
