@model Connect4m_Web.Models.Attendenceproperites.UserScreen.TemplateDetails_SMS
@{
    ViewData["Title"] = "CreateSmsNNotice_PostthisnoticeBtn";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="row mb-2">
        <div class="col-md-12 col-lg-12 mb-3">
            <span id="lblPostNoticeMsg" class="text-danger"></span>
            <div class="row">
                <div class="row">
                    <div class="col-4">
                        <div class="card mb-4">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">
                                    SMS CREDITS
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="row mb-3">
                                    <label class="control-label col-sm-6 col-form-label text-end space">Total Credits </label>
                                    <div class="col-sm-4">

                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="control-label col-sm-6 col-form-label text-end space">Used Credits</label>
                                    <div class="col-sm-4">

                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="control-label col-sm-6 col-form-label text-end space">Remaining Credits</label>
                                    <div class="col-sm-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card mb-4">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">
                                    SCHEDULE SMS
                                </h5>
                            </div>
                            <div class="card-body">
                                <span id="Scheduleerrormessage" class="text-danger"> </span>
                                <form id="SCHEDULESMSFORMID">
                                    <div class="row mb-3">
                                        <label class="control-label col-sm-4 col-form-label text-end space">Type</label>
                                        <div class="col-sm-6">
                                            <select class="form-select select2 form-select select2-hidden-accessible" id="OnceNdailydd_id">
                                                <option value="">--Select--</option>
                                                <option value="Daily">Daily</option>
                                                <option value="Once">Once</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3" id="Dailytxtdiv">
                                        @*Daily_div1*@
                                        <label class="control-label col-sm-4 col-form-label text-end space" id="Daily_div2">Date</label>
                                        <div class="col-sm-6" id="Daily_div3">
                                            <input type="date" id="datetxtid" class="form-control" />
                                            <input type="hidden" value="@ViewBag.StartDate" id="Startdatetxtid" />
                                            <input type="hidden" value="@ViewBag.EndDate" id="Enddatetxtid" />
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="control-label col-sm-4 col-form-label text-end space">Time</label>
                                        <div class="col-sm-6" style=" display: flex; column-gap: 10px;">
                                            <select class="form-select select2 form-select select2-hidden-accessible" id="TimeHoursdd_id">
                                                <option value="">--Select--</option>
                                            </select>
                                            <select class="form-select select2 form-select select2-hidden-accessible" id="Timeminutesdd_id">
                                                <option selected="selected" value="">----Select----</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row justify-content text-center">
                                        <div class="col-sm-12 BTNSCLASS">
                                            <button id="SchedulerClearbtn" class="btn btn-warning waves-effect waves-light">Clear</button>
                                            <button id="SchedulerSubmitbtn" type="button" class="btn btn-success waves-effect waves-light">Save</button>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="control-label col-sm-2 col-form-label text-end space">Note1</label>
                                        <div class="col-sm-10">
                                            <span class="text-danger">
                                                if you select Type as "Daily" the Date Field have no effect as the SMS
                                                will be sent to the users from the Notice Start Date to End Date
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="control-label col-sm-2 col-form-label text-end space">Note2</label>
                                        <div class="col-sm-10">
                                            <span class="text-danger">
                                                To send scheduled message to parents Please select Send SMS to Parents
                                                option given below
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">
                        POST NOTICE
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <label class="control-label col-sm-2 col-form-label text-end space">Selected Notice:</label>
                        <div class="col-sm-4">
                            <label class="control-label col-form-label" id="Lbl_Notificationmessageid">@ViewBag.Subject</label>
                            <input type="hidden" id="ENoticetxtid" value="@ViewBag.List.ENoticeId" />
                            <input type="hidden" id="TxtNoticetypeid" value="@ViewBag.ENoticetypeid" />
                            <input type="hidden" id="TxtNoticetypetext" value="@ViewBag.NoticeTypetext" />
                            <input type="hidden" id="TxtNoticetypedescription" value="@ViewBag.ENoticeDescription" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="control-label col-sm-2 col-form-label text-end space">Send Notice:</label>
                        <div class="col-sm-8">
                            <div class="radio radio-warning">
                                <input id="Subjectradio" type="radio" name="radio1" value="0"  checked>
                                <label for="Subjectradio">Subject</label>
                                <input id="Descriptionradio" type="radio" name="radio1" value="1" >
                                <label for="Descriptionradio">Description</label>
                                <input id="Bothradio" type="radio" name="radio1" value="2">
                                <label for="Bothradio">Both Subject and Description as SMS</label>
                            </div>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <label class="control-label col-sm-2 col-form-label text-end"></label>
                        <div class="col-sm-7">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="Sendsms_chk1" />
                                <label class="form-check-label" style="font: 12px arial; color: blue;">Send SMS</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="Sendsms_chk2" />
                                <label class="form-check-label" style="font: 12px arial; color: blue;">Send SMS to Parents</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="Sendsms_chk3" />
                                <label class="form-check-label" style="font: 12px arial; color: blue;">Send EMail</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="Sendsms_chk4" />
                                <label class="form-check-label" style="font: 12px arial; color: blue;">Send EMail to Parents</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="control-label col-sm-2 col-form-label text-end "></label>
                        <div class="col-sm-7">
                            <div class="form-check form-check-inline col-4">
                                <input class="form-check-input" type="checkbox" id="Selectallusers_Cbk" value="Select all users" />@*onclick="Selectalluserschkvalues()"*@
                                <label class="form-check-label" style="font: 12px arial; color: blue; ">Select all users</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="control-label col-sm-2 col-form-label  text-end space" style="margin: 6% 0%;">Role</label>
                        <div class="col-sm-10">

                            @{
                                var Rolesno = 0;
                                var Grpsno = 0;
                                var Cls = 0;
                                var Scl = 0;
                            }
                            @foreach (var item in ViewBag.List.IRoleList)
                            {
                                bool isChecked = false;
                                int instanceRoleId = @item.InstanceRoleId;
                                string instanceRoleIdString = instanceRoleId.ToString();

                                var targetTbl = ViewBag.List.ENoticeTargetTbl[1];
                                if (targetTbl != null && targetTbl.Count > 0)
                                {
                                    foreach (var Holidayitem in ViewBag.List.ENoticeTargetTbl[1])
                                    {
                                        string ComparingvalueString = @Holidayitem.Value;

                                        if (ComparingvalueString == instanceRoleIdString)
                                        {
                                            isChecked = true;
                                            break;
                                        }
                                    }
                                }

                                <div class="form-check form-check-inline col-4" style=" margin-right: -3rem;">
                                    <input id="chklstRole_@Rolesno" class="form-check-input checkbox-item checkbox-Name Role_checkbox" type="checkbox" name="rolecheckbox" value="@item.InstanceRoleId" @(isChecked ? "checked" : "") />
                                    <label style=" font: 11px arial; color: #333333; " class="Checkbox-Name-label" id="@item.RoleName">@item.RoleName</label>
                                </div>
                                @if (item.InstanceRoleId == 3)
                                {
                                    break;
                                }
                                Rolesno++;
                            }
                            <div class="form-check form-check-inline col-12" style=" margin-right: 0rem;">
                                <input class="form-check-input checkbox-item" id="Selectallstaffrolecbk" type="checkbox" />
                                <label style=" font: 12px arial; color: blue;">Select all Staff Role</label>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 text-center">
                        <label>AND</label>
                    </div>


                    <div class="row mb-3">
                        <label class="control-label col-sm-2 col-form-label  text-end space" style="margin: 6% 0%;">Group</label>
                        <div class="col-10 rowcol" style="margin-right: -3rem;">
                            @foreach (var item in ViewBag.List.GroupList)
                            {
                                bool isChecked = false;
                                int GroupId = @item.GroupId;
                                string GroupIdComparingvalueString = GroupId.ToString();

                                var targetTbl2 = ViewBag.List.ENoticeTargetTbl[2];
                                if (targetTbl2 != null && targetTbl2.Count > 0)
                                {
                                    foreach (var Holidaygroup in ViewBag.List.ENoticeTargetTbl[2])
                                    {

                                        string HolidaygroupComparingvaluestring = @Holidaygroup.Value;

                                        if (HolidaygroupComparingvaluestring == GroupIdComparingvalueString)
                                        {
                                            isChecked = true;
                                            break;
                                        }
                                    }
                                }
                                <div class="form-check form-check-inline col-4" style=" margin-right: 0rem;">
                                    <input id="Grplstchk_@Grpsno" class="form-check-input checkbox-item Grp_checkbox" type="checkbox" name="Grpcheckbox" value="@item.GroupId" @(isChecked ? "checked" : "") />
                                    <label style=" font: 11px arial; color: #333333; ">@item.GroupName</label>
                                </div>
                                @if (item.GroupId == 3)
                                {
                                    break;
                                }
                                Grpsno++;
                            }
                        </div>
                    </div>

                    <div class="col-12 text-center">
                        <label>AND</label>
                    </div>
                    <div class="row mb-3">
                        <label class="control-label col-sm-2 col-form-label  text-end space" style="margin: 6% 0%;">Department</label>
                        <div class="col-10 rowcol" style="margin-right: -3rem;">
                            @foreach (var item in ViewBag.List.ClassificationList)
                            {
                                bool isChecked = false;
                                int ComparingInstanceClassificationId = @item.InstanceClassificationId;
                                string ComparingInstanceClassificationIdstring = ComparingInstanceClassificationId.ToString();

                                var targetTbl3 = ViewBag.List.ENoticeTargetTbl[3];
                                if (targetTbl3 != null && targetTbl3.Count > 0)
                                {
                                    foreach (var Holidayclassification in ViewBag.List.ENoticeTargetTbl[3])
                                    {

                                        string HolidaygroupComparingvaluestring = @Holidayclassification.Value;

                                        if (HolidaygroupComparingvaluestring == ComparingInstanceClassificationIdstring)
                                        {
                                            isChecked = true;
                                            break;
                                        }
                                    }
                                }
                                <div class="form-check form-check-inline col-4" style=" margin-right: 0rem;">
                                    <input id="Clslstchk_@Cls" class="form-check-input checkbox-item Cls_checkbox" type="checkbox" name="Clscheckbox" value="@item.InstanceClassificationId" @(isChecked ? "checked" : "") />
                                    <label style=" font: 11px arial; color: #333333; ">@item.ClassificationName</label>
                                </div>
                                @if (item.InstanceClassificationId == 3)
                                {
                                    break;
                                }
                                Cls++;
                            }
                        </div>
                    </div>


                    <div class="col-12 text-center">
                        <label>AND</label>
                    </div>
                    <div class="row mb-3">
                        <label class="control-label col-sm-2 col-form-label  text-end space" style="margin: 6% 0%;">Class</label>

                        <div class="col-10" style="margin-right: -3rem;">
                            @foreach (var item in ViewBag.List.SubclassificationList)
                            {
                                bool isChecked = false;
                                int ComparingInstancesubClassificationId = @item.InstanceSubClassificationId;
                                string ComparingInstancesubClassificationIdstring = ComparingInstancesubClassificationId.ToString();

                                var targetTbl4 = ViewBag.List.ENoticeTargetTbl[4];
                                if (targetTbl4 != null && targetTbl4.Count > 0)
                                {
                                    foreach (var HolidaySubclassification in ViewBag.List.HolidayTargetTbl[4])
                                    {

                                        string HolidaygroupComparingvaluestring = @HolidaySubclassification.Value;

                                        if (HolidaygroupComparingvaluestring == ComparingInstancesubClassificationIdstring)
                                        {
                                            isChecked = true;
                                            break;
                                        }
                                    }
                                }

                                <div class="form-check form-check-inline col-4" style=" margin-right: -3rem;">
                                    <input id="Sclschk_@Scl" class="form-check-input checkbox-item Scl_Checkbox" type="checkbox" name="Sclcheckbox" value="@item.InstanceSubClassificationId" @(isChecked ? "checked" : "") />
                                    <label style=" font: 11px arial; color: #333333; ">@item.SubClassificationName</label>
                                </div>
                                @if (item.InstanceSubClassificationId == 3)
                                {
                                    break;
                                }
                                Scl++;
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div id="PostNoticeAddinguserstable_Div">

            </div>
            <div id="Adduserstopostnotice_Div">
                <a href="" onclick="Adduserstosms_notice(); return false;" class="">Search and add users to post this notice</a>
            </div>
            <div id="SearchUsers_Postnotice_DivId" style="display: none;">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            SEARCH USERS TO POST NOTICE
                        </h5>
                    </div>
                    <div class="card-body">
                        <form id="CNS_Searchformid">
                            <div class="row mb-3">
                                <label class="control-label col-sm-2 col-form-label text-end space">User Name</label>
                                <div class="col-sm-4">
                                    <input type="text" id="Ps_UserNametxt" asp-for="UserName" class="form-control" />
                                </div>
                                <label class="control-label col-sm-2 col-form-label text-end space">Role</label>
                                <div class="col-sm-4">
                                    <select asp-for="InstanceRoleId" id="Instancerole_id" class="form-select select2 form-select select2-hidden-accessible">
                                        <option value="">------Select------</option>
                                        @foreach (var Roleitem in ViewBag.List.roleList_byInstanceId)
                                        {
                                            <option id="@Roleitem.InstanceRoleId" value="@Roleitem.InstanceRoleId">@Roleitem.RoleName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="control-label col-sm-2 col-form-label text-end space">Reg. No</label>
                                <div class="col-sm-4">
                                    <input type="text" id="Ps_InstanceUsercode_txt" class="form-control" asp-for="InstanceUserCodes" />
                                </div>
                                <label class="control-label col-sm-2 col-form-label text-end space">Email ID</label>
                                <div class="col-sm-4">
                                    <input type="text" id="Ps_Emailtxt" class="form-control" asp-for="PortalEmail" />
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="control-label col-sm-2 col-form-label text-end space">First Name</label>
                                <div class="col-sm-4">
                                    <input type="text" id="Ps_Firstnametxt" class="form-control" asp-for="FirstName" />
                                </div>
                                <label class="control-label col-sm-2 col-form-label text-end space">Last Name</label>
                                <div class="col-sm-4">
                                    <input type="text" id="Ps_lastnametxt" class="form-control" asp-for="LastName" />
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="control-label col-sm-2 col-form-label text-end space">Department</label>
                                <div class="col-sm-4">
                                    <select id="Classificationddid" class="form-select select2 form-select select2-hidden-accessible" asp-for="InstanceClassificationId">
                                    </select>
                                </div>
                                <label class="control-label col-sm-2 col-form-label text-end space">Class</label>
                                <div class="col-sm-4">
                                    <select id="Subclassificationddid" class="form-select select2 form-select select2-hidden-accessible" asp-for="InstanceSubClassificationId">
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="control-label col-sm-2 col-form-label text-end space">Route Name</label>
                                <div class="col-sm-4">
                                    <select class="form-select select2 form-select select2-hidden-accessible" asp-for="RouteId" id="Route_id">
                                        <option value="">------Select------</option>
                                        @foreach (var Roleitem in ViewBag.List.RouteList)
                                        {
                                            <option id="@Roleitem.RouteId" value="@Roleitem.RouteId">@Roleitem.RouteName</option>
                                        }
                                    </select>
                                </div>
                                <label class="control-label col-sm-2 col-form-label text-end space">Staying in Hostel </label>
                                <div class="col-sm-4">
                                    <select class="form-select select2 form-select select2-hidden-accessible" asp-for="CollegeHostel" id="CollegeHostel_id">
                                        <option value="">------Select------</option>
                                        <option value="0">Yes</option>
                                        <option value="1">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row justify-content text-center">
                                <div class="col-sm-12">
                                    <button id="Searchbtn" class="btn btn-success waves-effect waves-light">Search</button>
                                    @*<button type="submit" id="Searchbtn" class="btn btn-success waves-effect waves-light">Search</button>*@
                                    @*<input type="button" id="Searchbtn" value="Search" class="btn btn-pill btn-outline-success btn-air-success" />*@
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div id="PostnoticeSearch_tabledata_Divid">

                    </div>
                </div>

            </div>
        </div>
        <div class="row justify-content text-center" id="PostnoticebtnDiv">
            <div class="col-sm-12 BTNSCLASS">
                <button id="createsmsbacktomanagenoticescr_btn" class="btn btn-dark waves-effect waves-light">Back</button>
                <button id="Postsmsbtn" class="btn btn-success waves-effect waves-light">Post</button>

                @*<input type="button" value="Back" id="createsmsbacktomanagenoticescr_btn" class="btn btn-pill btn-outline-light txt-dark btn-air-success" />
                    <input type="submit" value="Post" id="Postsmsbtn" class="btn btn-pill btn-outline-primary btn-air-success" />*@
            </div>
        </div>
    </div>
</body>
</html>

@*<script src="~/js/Notice_sms.js"></script>*@

<script src="~/js/Managenotice_3.js"></script>


<script>
    $(document).ready(function () {
        var SelectHours = $('#TimeHoursdd_id');
        for (var i = 1; i <= 23; i++) {
            var hour = i < 10 ? '0' + i : i;
            SelectHours.append($('<option>', {
                value: hour,
                text: hour
            }));
        }

        var SelectMinutes = $('#Timeminutesdd_id');
        for (var i = 0; i < 60; i++) {
            var minute = i < 10 ? '0' + i : i;
            SelectMinutes.append($('<option>', {
                value: minute,
                text: minute
            }));
        }

    });
</script>