@model Connect4m_Web.Models.Attendenceproperites.UserScreen.NoticeTypes
@{
    ViewData["Title"] = "ManageNotices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">


        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Admin Module /</span> Manage Notices</h4>

        <!-- Examples -->
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">
                <input type="hidden" value="@ViewBag.Instanceid" id="Instance_Txtid" />
                <input type="hidden" value="@ViewBag.LoginUserId" id="Loginuser_Txtid" />
                <a href="@Url.Action("ManageNotices_Create", new { InstanceId = ViewBag.Instanceid, Userid=ViewBag.LoginUserId})" id="ManageNotice_CreateNotice" class="btn btn-outline-primary btn-xs">Create Notice</a>
                |
                <a href="javascript:void(0);" id="ManageNotice_AddNewSMS" class="btn btn-outline-primary btn-xs">Create SMS</a>
                |
                <a href="javascript:void(0);" id="ManageNotice_AddNewSMSNNotices" class="btn btn-outline-primary btn-xs">Create Notice and SMS</a>
                <div class="card mb-4" id="Search_NoticeView">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span id="AddNewText_Span_CreatePage">
                                SEARCH NOTICES
                            </span>
                        </h5> <small class="text-muted float-end">Default label</small>
                    </div>
                    <div class="card-body" id="CreateNewSubjectsDiv">
                        <form id="FmSubjectSearch">
                            <div id="FmExamsCreate_Div">
                                <div class="row">
                                    <div class="col">
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name">Notice Type</label>
                                            <div class="col-sm-4">
                                                <div class="position-relative">
                                                    <input type="hidden" asp-for="InstanceId" value="@ViewBag.Instanceid" id="InstanceIdTXT" />
                                                    <input type="hidden" asp-for="UserId" value="@ViewBag.LoginUserId" />
                                                    @Html.DropDownListFor(Model => Model.CategoryName, (List<SelectListItem>)ViewBag.NoticeTypedd, "---Select----", new { @class = "NoticeTypedd form-select", @id = "ENoticeTypeIdTXT" })


                                                </div>
                                            </div>

                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-company">Notice Subject</label>
                                            <div class="col-sm-4">
                                                <input type="text" id="SubjectTXT" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name">Start Date</label>
                                            <div class="col-sm-4">
                                                <input type="date" id="StartDateTXT" class="form-control" />

                                            </div>
                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-company">End Date</label>
                                            <div class="col-sm-4">
                                                <input type="date" id="EndDateTXT" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-2">
                                                <div class="form-check">
                                                    <input type="checkbox" id="checkbox-primary" name="IsSMSTemplate" class="form-check-input" />
                                                    <label class="form-check-label" for="showallsubjects">SMS Template</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-sm-12">
                                                <button type="button" id="Clearcoollink_Btn" class="btn btn-primary waves-effect waves-light">Clear</button>
                                                <button type="submit" id="SearchNotice_Btn" class="btn btn-success waves-effect waves-light">Search</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>



            </div>

        </div>
        <div id="SearchNoticetableview">
            <div style="color:red;font-size:13px;"><span id="ErrorMessage"></span></div>
            <div id="Noticetabledata_div">


            </div>
        </div>
    </div>



    <div class="card">
        <div class="spinner-container" id="loadingSpinnerContainer">
            <div class="overlay">
                <div id="loadingSpinner">
                    <div class="spinner"></div>
                    <div class="spinner"></div>
                    <div class="spinner"></div>
                </div>
                <div class="loading-text">Loading....</div>
            </div>
        </div>



        <div id="Create_NoticeView">


        </div>



        <div id="Edit_NoticeView">
            <div style="color:red;font-size:13px;">
                <span id="UpdateErrorMessage"></span>
                <span id="Updatevalidation"></span>
                <span id="UpdatevalidationMessage"></span>
            </div>
            <div class="default-according style-1" id="accordionoc4">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header bg-primary">
                        <h5 class="mb-0">
                            <button class="collapsed  btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#collapseicon4" aria-expanded="true" aria-controls="collapse11" style="width:99%;">
                                <span class="Header_text_span">
                                    UPDATE NOTICE
                                </span>
                            </button>
                        </h5>
                    </div>
                    <div class="collapse show" id="collapseicon4" aria-labelledby="collapseicon4" data-bs-parent="#accordionoc4" style="">
                        <div class="card-body">
                            <form id="Notice_UpdateForm">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-3"></div>
                                        <div class="form-group col-2" style=" text-align: right;"><label class="form-grop required space">Notice Type </label></div>
                                        <div class="form-group col-4">
                                            <input type="hidden" asp-for="InstanceId" id="InstanceId_UTXT" />
                                            <input type="hidden" asp-for="UserId" id="CreatedBy_UTXT" />
                                            <input type="hidden" asp-for="ENoticeId" id="ENoticeId_UTXT" />
                                            <select id="ENoticeTypeId_UTXT" asp-for="ENoticeTypeId" class="form-select">
                                                <option value="">---Select----</option>
                                            </select>
                                        </div>
                                        <div class="col-3"></div>
                                        <div class="col-3"></div>
                                        <div class="form-group col-2"><label class="form-grop required space">Notice Subject  </label>                                    </div>
                                        <div class="form-group col-4"><textarea id="Subject_UTXT" asp-for="Subject" style="height: 60px; width: 300px;"></textarea></div>
                                        <div class="col-3"></div>


                                        <div class="col-3"></div>
                                        <div class=" col-2"></div>
                                        <div class=" col-6" style=" margin: -22px 0px 0px 0px;">
                                            <span style=" font: 13px arial;">
                                                NOTE: Invalid Characters in sending SMS: <span class="spantext_">% & < ></span><br />
                                                Some Characters like<span class="spantext_"> ` ~ ^ + $</span> may not deliver properly to all mobiles.<br />
                                                <span class="spantext_"> Messages sent between 9PM and 9AM will be delivered after 9AM</span>
                                            </span>
                                        </div>
                                        <div class=""></div>


                                        <div class="col-3"></div>
                                        <div class="form-group col-2"><label class="form-grop  space">Description  </label></div>
                                        <div class="form-group col-4">  <textarea id="ENoticeDescription_UTXT" asp-for="ENoticeDescription" style="height: 60px; width: 300px;"></textarea></div>
                                        <div class="col-3"></div>
                                        <div class="col-3"></div>
                                        <div class="form-group col-2"><label class="form-grop required space">Start Date  </label></div>
                                        <div class="form-group col-4">  <input type="date" id="StartDate_UTXT" asp-for="StartDate" class="form-control" /></div>
                                        <div class="col-3"></div>
                                        <div class="col-3"></div>
                                        <div class="form-group col-2"><label class="form-grop required space">End Date(Expiry Date)  </label></div>
                                        <div class="form-group col-4">  <input type="date" id="EndDate_UTXT" asp-for="ExpiryDate" class="form-control" /></div>
                                        <div class="col-3"></div>
                                        <div class="col-3"></div>
                                        <div class="form-group col-2"><label class="space" style="margin: 0px 0px 0px -57px;">Upload Notice document  </label></div>
                                        <div class="form-group col-4">
                                            <label for="NoticeDocument_UTxtFile" class="custom-file-upload">
                                                <span id="currentFileName"></span>
                                                <input type="file" id="NoticeDocument_UTxtFile" name="noticeDocument" style="display:none;">
                                                <input type="button" id="deleteFileBtn" value="Delete" />
                                            </label>
                                        </div>
                                        <div class="col-3"></div>
                                        <div id="NoticeDisplaylogin" class="col-12" style="display: flex;">
                                            <div class="col-3"></div>
                                            <div class="form-group col-2" style=" text-align: right; margin-top: 7px;"><label class="form-grop required space">Display this Notice in Login   </label></div>
                                            <div class="form-group col-4" style=" margin: 8px;">
                                                <div class="radio radio-primary">
                                                    <input id="radioinline1" type="radio" asp-for="ShowInLogin" name="radio1" value="0" checked>
                                                    <label class="mb-0" for="radioinline1">No</label>
                                                    <input id="radioinline2" type="radio" asp-for="ShowInLogin" name="radio1" value="1">
                                                    <label class="mb-0" for="radioinline2">Yes</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3"></div>
                                        <div class="col-12" style="text-align: center; margin-top: 12px; ">
                                            <input type="button" id="DeleteNotice_UpBtn" class="btn btn-pill btn-outline-warning btn-air-warning" value="Delete" />
                                            <input type="button" id="BacktosearchNotice_Btn" class="btn btn-pill btn-outline-primary btn-air-primary" value="Back To Search" />
                                            <input type="button" id="" class="btn btn-pill btn-outline-primary btn-air-primary" value="Post this Notice" />
                                            <input type="button" id="UpdateNotice_Btn" class="btn btn-pill btn-outline-success btn-air-success" value="Update" />
                                            <input type="button" id="" class="btn btn-pill btn-outline-success btn-air-success" value="Update and Post" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ManageNotices_CreateSMS_ViewDivid">

    </div>
    <div id="ManageNotices_CreateSMSNNotice_ViewDivid">

    </div>
    <div id="ManageNotices_CreateSMS_SaveandPostbtnclick_PostNoticeDiv_id">

    </div>




</body>
</html>

<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>

@*<script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>*@
<script src="~/js/ManageNotices.js"></script>

<script>

    $(document).ready(function () {

        managenotice_tabledata();
        $('#Search_NoticeView').show();
        $('#Edit_NoticeView').hide();
        var Instanceid = $('#Instance_Txtid').val();
        var Loginuser = $('#Loginuser_Txtid').val();

        NoticeDropdown_UpdateNotice_In_View();


        @*$('#ManageNotice_CreateNotice').on("click", function () {
            var Instanceid = $('#Instance_Txtid').val();
            var Loginuser = $('#Loginuser_Txtid').val();
             $.ajax({
            url: "@Url.Action("ManageNotices_Create")",
            type: "POST",
                 data: { InstanceId: Instanceid, Userid: Loginuser },
                success: function (data) {
                    debugger;
                    $("#ManageNotices_CreateSMS_ViewDivid").append(data);
                },
                error: function (error) {
                    console.log("Error: " + error);
                }
            });
        });*@


        $('#ManageNotice_AddNewSMS').on("click", function () {
           //var Instanceid = $('#Instance_Txtid').val();
           //var Loginuser = $('#Loginuser_Txtid').val();
            $.ajax({
                url: "@Url.Action("ManageNotices_CreateSMS")",
                type: "GET",
                data: { InstanceId: Instanceid, Userid: Loginuser },
                success: function (data) {
                    $("#Create_NoticeView").empty();
                    $("#ManageNotices_CreateSMSNNotice_ViewDivid").empty();
                    $("#ManageNotices_CreateSMS_SaveandPostbtnclick_PostNoticeDiv_id").empty();
                    $("#ManageNotices_CreateSMS_ViewDivid").html(data);
                },
                error: function (error) {
                    console.log("Error: " + error);
                }
            });
        });

        $('#ManageNotice_AddNewSMSNNotices').on("click", function () {
            //var Instanceid = $('#Instance_Txtid').val();
            //var Loginuser = $('#Loginuser_Txtid').val();
            $.ajax({
                url: "@Url.Action("CreateSmsNNotice")",
                type: "GET",
                data: { InstanceId: Instanceid, Userid: Loginuser },
                success: function (data) {
                    $("#Create_NoticeView").empty();
                    $("#ManageNotices_CreateSMS_ViewDivid").empty();
                    $("#ManageNotices_CreateSMS_SaveandPostbtnclick_PostNoticeDiv_id").empty();
                    $("#ManageNotices_CreateSMSNNotice_ViewDivid").html(data);
                },
                error: function (error) {
                    console.log("Error: " + error);
                }
            });

        });
    });


    $('#SearchNotice_Btn').click(function () {

        $('#ErrorMessage').text("");

        var InstanceId = $('#InstanceIdTXT').val();                         //1
        var Subject = $("#SubjectTXT").val();                               //2
        var startDate = $("#StartDateTXT").val();                           //3
        var ExpiryDate = $("#EndDateTXT").val();                            //4
        var ENoticeTypeId = $("#ENoticeTypeIdTXT").val();                   //5
        var IsSMSTemplate = $("#checkbox-primary").prop("checked") ? 1 : 0; //6


        if (!Subject && !startDate && !ExpiryDate && !ENoticeTypeId && !IsSMSTemplate) {
            managenotice_tabledata();
        } else {
            managenotice_tabledata(Subject, startDate, ExpiryDate, ENoticeTypeId, IsSMSTemplate);
        }
    });

    function managenotice_tabledata(Subject, startDate, ExpiryDate, ENoticeTypeId, IsSMSTemplate) {

        var InstanceId = $('#InstanceIdTXT').val();

        $("#loadingSpinnerContainer").show();

        $.ajax({
            url: "/Admin/ManageNotices_TableData",
            data: {
                InstanceId: InstanceId,
                Subject: Subject,
                StartDate: startDate,
                ExpiryDate: ExpiryDate,
                ENoticeTypeId: ENoticeTypeId,
                IsSMSTemplate: IsSMSTemplate
            },
            type: "GET",
            success: function (response) {


                $("#loadingSpinnerContainer").hide();

                $('#Noticetabledata_div').html(response);
            }
        });
    }


    /*--------CREATE NOTICE VIEWS CODE START-----------*/

    $("a.btn-outline-primary").on("click", function (e) {
        e.preventDefault();
        $("#loadingSpinnerContainer").show();
        $('#Search_NoticeView').hide();
        $('#Edit_NoticeView').hide();
        $('#ErrorMessage').text("");

        $('#Managenotice_CreateSMS_Divid').remove();

        $("#Create_NoticeView").load($(this).attr("href"));

        $("#loadingSpinnerContainer").hide();
    });


    /*--------CREATE NOTICE VIEWS CODE END-----------*/






    /*-----------------------------------------------------------------#######   Update Table Notice Data Function Code Start  #######---------------------------------------------------------------------------------*/


    function NoticeDropdown_UpdateNotice_In_View() {
        var InstanceIds = $('#Instance_STxt').val();
        var InstanceIdSS = $('#InstanceIdTXT').val();

        $.ajax({
            type: "GET",
            url: "@Url.Action("NoticeTypedd", "Admin")",
            data: { InstanceId: InstanceIdSS },
            success: function (data) {
                $.each(data, function (index, item) {
                    $("#ENoticeTypeId_UTXT").append($('<option>', {
                        value: item.value,
                        text: item.text
                    }));
                });
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });
    }

    function ENoticeedit(ENoticeId) {
        debugger;
        $('#UpdateErrorMessage').text('');
        $('#UpdatevalidationMessage').text('');
        $('#Updatevalidation').text('');

        NoticeDropdown_UpdateNotice_In_View();
        $('#Search_NoticeView').hide();
        $('#Edit_NoticeView').show();
        $('#ErrorMessage').text("");

        $("#loadingSpinnerContainer").show();

        $.ajax({
            url: "/Admin/Edit_ENotices_ById",
            data: { ENoticeId: ENoticeId },
            type: "GET",
            success: function (response) {

                $("#loadingSpinnerContainer").hide();
                debugger;

                $("#InstanceId_UTXT").val(response[0].instanceId);
                $("#CreatedBy_UTXT").val(response[0].createdBy);
                $("#ENoticeId_UTXT").val(response[0].eNoticeId);

                var eNoticeTypeId = response[0].eNoticeTypeId;

                $('#ENoticeTypeId_UTXT option').each(function () {
                    var ENoticeTypeValue=$(this).val();

                    if (parseInt(ENoticeTypeValue) === parseInt(eNoticeTypeId)) {
                        $(this).prop("selected", true);
                    }
                    else {
                        $(this).prop("Selected",false);
                    }
                });
                $("#Subject_UTXT").val(response[0].subject);
                $("#ENoticeDescription_UTXT").val(response[0].eNoticeDescription);



                var originalstartDate = response[0].startDate;
                var startdateParts = originalstartDate.split(' ')[0].split('-');
                var formattedstartDate = startdateParts[2] + '-' + startdateParts[1] + '-' + startdateParts[0];

                document.getElementById("StartDate_UTXT").value = formattedstartDate;

                var originalendtDate = response[0].expiryDate;
                var enddateParts = originalendtDate.split(' ')[0].split('-');
                var formattedendDate = enddateParts[2] + '-' + enddateParts[1] + '-' + enddateParts[0];

                document.getElementById("EndDate_UTXT").value = formattedendDate;

                var FileName = response[0].noticeDocument;

                var characterCount = FileName.length;
                if (characterCount > 0) {
                    $("#currentFileName").text(FileName);
                    $("#NoticeDocument_UTxtFile").hide();
                    $("#deleteFileBtn").show();
                    debugger;
                    $("#NoticeDocument_UTxtFile").on("change click", function () {
                        debugger;
                        var fileName = $(this).val().split("\\").pop() || "";
                        $("#currentFileName").text(fileName);
                    });

                    $("#currentFileName").on("click", function () {
                        debugger;
                        $("#NoticeDocument_UTxtFile").click();
                    });
                }
                else {
                    $("#NoticeDocument_UTxtFile").show();
                    $("#currentFileName").text('');
                    $("#deleteFileBtn").hide();
                }

                //$('#Noticetabledata_div').html(response);
            }
        });

    }

    $("#deleteFileBtn").on("click", function () {

        $('#UpdateErrorMessage').text('');
        $('#UpdatevalidationMessage').text('');
        $('#Updatevalidation').text('');

        $("#currentFileName").text(" ");
        $("#NoticeDocument_UTxtFile").val("");
        $("#deleteFileBtn").hide();
        $("#NoticeDocument_UTxtFile").show();
    });


    function DeleteNotice(ENoticeId) {

        $.ajax({
            url: "/Admin/Delete_ENotices_ById",
            data: { ENoticeId: ENoticeId },
            type: "GET",
            success: function (response) {
                managenotice_tabledata();
                $('#ErrorMessage').text("Record deleted successfully.");
            }
        });
    }


    $('#BacktosearchNotice_Btn').click(function () {


        $('#UpdateErrorMessage').text('');
        $('#UpdatevalidationMessage').text('');
        $('#Updatevalidation').text('');

        $('#Search_NoticeView').show();
        $('#ErrorMessage').text("");

        managenotice_tabledata();
        $('#Edit_NoticeView').hide();
        $('#NoticeDocument_UTxtFile').val('');


    });


    /*----------- NOTICE DATA FUNCTION UPDATING CODE IS START -----------*/

    $('#UpdateNotice_Btn').click(function () {
        $('#UpdateErrorMessage').text('');
        debugger;
        if (UpdateValidation()) {
            $('#UpdateErrorMessage').text('');
            $('#UpdatevalidationMessage').text('');
            $('#Updatevalidation').text('');

            var NoticeUpdatedata = $('#Notice_UpdateForm').serialize();
            $.ajax({
                url: "/Admin/Edit_ENotices_ById",
                data: NoticeUpdatedata,
                type: "POST",
                success: function (response) {
                    if (response == "1") {
                        $('#UpdateErrorMessage').text("Record updated successfully.");
                    } else if (response == "0") {
                        $('#UpdateErrorMessage').text("Record update not success.");
                    } else if (response == "1890142") {
                        $('#UpdateErrorMessage').text("You Dont have any permission in this screen.");
                    }
                }
            });
        }

    });

    function UpdateValidation() {

        debugger;
        var Subject = $('#Subject_UTXT').val();
        var ENoticeTypeId = $('#ENoticeTypeId_UTXT').val();
        var StartDate = $('#StartDate_UTXT').val();
        var ExpiryDate = $('#EndDate_UTXT').val();

        var validationMessage = "";
        var hasError = false;

        if (Subject === "") {
            validationMessage += "Notice Subject<br>";
            hasError = true;
        }

        if (ENoticeTypeId === "") {
            validationMessage += "Notice Type<br>";
            hasError = true;
        }

        if (StartDate === "") {
            validationMessage += " Start date can not be left blank. <br>";
            hasError = true;
        }
        if (ExpiryDate === "") {
            validationMessage += " End date can not be left blank. <br>";
            hasError = true;
        }

        if (StartDate > ExpiryDate) {
            validationMessage += "Start date can not be greater than end date.<br>";
            hasError = true;
        }
        var currentDate = new Date();
        if (StartDate < currentDate) {
            validationMessage += "Start Date can not be less than today.<br>";
            hasError = true;
        }

        var allowedExtensions = [".doc", ".xls", ".ppt", ".docx", ".xlsx", ".pptx", ".txt", ".jpeg", ".jpg", ".pjpeg", ".gif", ".png", ".pdf"];
        var fileInput = $("#NoticeDocument_UTxtFile")[0]; // Get the DOM element

        if (fileInput.files.length > 0) {
            var fileName = fileInput.files[0].name;
            var fileExtension = fileName.split('.').pop().toLowerCase();

            if (allowedExtensions.indexOf("." + fileExtension) === -1) {

                validationMessage += "Uploaded file extension is invalid. Only " + allowedExtensions.join(", ") + " are supported.";
                event.preventDefault();
                hasError = true;
            }
        }

        if (hasError) {
            $('#Updatevalidation').html("Following fields have invalid data :<br>");
            $("#UpdatevalidationMessage").html(validationMessage);
            return false;
        } else {
            $("#UpdatevalidationMessage").html("");
            return true;
        }
    }

    /*----------- NOTICE DATA FUNCTION UPDATING CODE IS END -----------*/

    /*----------- DELETE NOTICE TYPE IN UPDATE SCREEN THIS METHOD CODE IS START -----------*/

    $('#DeleteNotice_UpBtn').click(function () {

        $('#Search_NoticeView').show();
        $('#Edit_NoticeView').hide();

        var ENoticeId = $('#ENoticeId_UTXT').val();
        DeleteNotice(ENoticeId);

    });

    /*----------- DELETE NOTICE TYPE IN UPDATE SCREEN THIS METHOD CODE IS END -----------*/


    /*-----------------------------------------------------------------####### Update Table Notice Data Function Code End #######---------------------------------------------------------------------------------*/


</script>