@model IEnumerable<Connect4m_Web.Models.Attendenceproperites.UserScreen.Postnoticetabledate>
@{
    //ViewData["Title"] = "ManageNotices_PostNoticeSearchtabledata";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <!-- Include necessary libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</head>
<body>

    <div class="col-md-12 col-lg-12 mb-3">
        <span class="text-danger" id="ErrorMessage"></span>
        <div class="">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">
                    <input type="hidden" id="PostnoticeSearchTabledatacount_txt" value="@ViewBag.SMSTemplateScount" />
                    YOUR SEARCH RESULTED  <span id="Search_result_count">@ViewBag.SMSTemplateScount</span> RECORDS.
                </h5>
            </div>

            @*<div class="default-according style-1" id="accordionoc1">
                <div class="card-header bg-primary">
                    <h5 class="mb-0">
                        <input type="hidden" id="PostnoticeSearchTabledatacount_txt" value="@ViewBag.SMSTemplateScount" />
                        <button class="Headers_Btn btn btn-link text-white collapsed" data-bs-toggle="collapse" data-bs-target="#collapseicon12" aria-expanded="true" aria-controls="collapse1" style="width:99.5%;">
                            YOUR SEARCH RESULTED  <span id="Search_result_count">@ViewBag.SMSTemplateScount</span> RECORDS.
                        </button>
                    </h5>
                </div>*@
            @*<div class="collapse show" id="collapseicon12" aria-labelledby="collapseicon12" data-bs-parent="#accordionoc7">*@
            <div class="card-body">
                <div style="display:flex;">
                    <div class="form-check form-check-inline col-4" style=" margin-right: -3rem;" id="twentyusersonlydiv">
                        <input class="form-check-input" type="checkbox" id="selecttwentyusersonly" onclick="Onlytwenty_users_addpostnotice('@ViewBag.ExcludeUserIds');">
                        <label style=" font: 12px arial; color: #333333; " class="Checkbox-Name-label" value="Select the below 20 user(s).">Select the below 20 user(s).</label>
                    </div>
                    <div class="form-check form-check-inline col-6" style=" margin-right: -3rem;" id="alladdusers_addpostnoticediv">
                        <input class="form-check-input" type="checkbox" id="Selectealladdusers_addpostnotice_Id" onclick="Selectealladdusers_addpostnotice('@ViewBag.SMSTemplateScount','@ViewBag.ExcludeUserIds')" value="@ViewBag.SMSTemplateScount">
                        <label id="" style=" font: 12px arial; color: #333333; " class="Checkbox-Name-label" value="@ViewBag.SMSTemplateScount">Select all the  @ViewBag.SMSTemplateScount user(s) resulted with my search criteria.</label>
                    </div>
                    <div class="form-check form-check-inline col-6" style=" margin-right: -3rem;" id="SelectCurrentPageUsersdiv">
                        <input class="form-check-input" type="checkbox" id="chkSelectCurrentPageUsers_Id" onclick="chkSelectCurrentPageUsers('@ViewBag.SMSTemplateScount','@ViewBag.ExcludeUserIds')" value="@ViewBag.SMSTemplateScount">
                        <label id="chkSelectCurrentPageUserslbl" style=" font: 12px arial; color: #333333; " class="Checkbox-Name-label" value="@ViewBag.SMSTemplateScount"> Select the below @ViewBag.SMSTemplateScount user(s).</label>
                    </div>
                </div>
                @*<table id="PostNoticetblid_searchandadduserspostthisnotice" class="display" style="width: 100%;">*@
                <div class="table-responsive text-nowrap">
                    <table id="PostNoticetblid_searchandadduserspostthisnotice" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Select User</th>
                                <th>Name</th>
                                <th>Admission Number</th>
                                <th>Role</th>
                                <th>Department</th>
                                <th>Class</th>
                                <th>Email</th>
                                <th>Student/Staff Mobile No.</th>
                                <th>Parent Mobile No.</th>
                                <th>Father Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int Rowno = 0;}
                            @if (Model != null && Model.Any())
                            {
                                @foreach (var tblitemvalue in Model)
                                {
                                    <tr id="@Rowno">
                                        <td align="center">
                                            <div class="form-check form-check-inline col-4" style=" margin-right: 0rem;">
                                                <input class="form-check-input" type="checkbox" value="@tblitemvalue.UserId" name="Usercheckboxes" id="User_checkbox_@Rowno" onclick="AddUsertopostnotice(@tblitemvalue.UserId, '@Rowno','@ViewBag.ExcludeUserIds');">
                                                <label style=" font: 12px arial; color: #333333; " class="Checkbox-Name-label" value="@tblitemvalue.UserId"></label>
                                            </div>
                                        </td>
                                        <td> @tblitemvalue.FirstName</td>
                                        <td>@tblitemvalue.AdmissionNumber</td>
                                        <td>@tblitemvalue.RoleName</td>
                                        <td>@tblitemvalue.ClassificationName</td>
                                        <td>@tblitemvalue.SubClassificationName</td>
                                        <td>@tblitemvalue.PortalEmail</td>
                                        <td></td>
                                        <td></td>
                                        <td>@tblitemvalue.FatherName</td>
                                    </tr>
                                    Rowno++;
                                }
                            }
                            else
                            {
                                <tr style="text-align: center; border: 1px solid #DC5 !important;">
                                    <td colspan="10">No records found</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                    <div id="Postnoticetable_pagination">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/jquery/dist/jquery.min.js"></script>
@*<script src="~/js/ManageNotices.js"></script>*@


<script>
 $(document).ready(function () {
     Pagination_Tabledata();
  });
    function Pagination_Tabledata() {

        var rowsPerPage = 20;
        var totalItems = @Model.Count();

        var Twentyuserschk_div= document.getElementById('twentyusersonlydiv');
        var Alluserschk_div = document.getElementById('alladdusers_addpostnoticediv');
        var CurrentPagechk_div = document.getElementById('SelectCurrentPageUsersdiv');
        //var chkSelectCurrentPageUserslbl = document.getElementById('chkSelectCurrentPageUserslbl');


        if (totalItems >= 0) {
            if (totalItems > rowsPerPage) {

                Twentyuserschk_div.style.display = "block";
                Alluserschk_div.style.display = "block";
                CurrentPagechk_div.style.display = "none";

                var numPages = Math.ceil(totalItems / rowsPerPage);
                var currentPage = 1;

                var pagination = $('#Postnoticetable_pagination');
                pagination.empty();

                var startIndex = 1;
                var endIndex = Math.min(numPages, 10);

                for (var i = startIndex; i <= endIndex; i++) {
                    var link = $('<a class="Postnoticetable_pagination" style="margin: 0 2px;color: black;" href="#">' + i + '</a>');
                    pagination.append(link);
                }

                if (endIndex < numPages) {
                    pagination.append($('<span style="margin: 0 2px;">&hellip;</span>'));
                    var lastPageLink = $('<a class="Postnoticetable_pagination" style="margin: 0 2px;color: black;" href="#">>>></a>');
                    pagination.append(lastPageLink);
                }

                showPage(currentPage);

                pagination.css('text-align', 'center');

                pagination.on('click', '.Postnoticetable_pagination', function (e) {
                    e.preventDefault();
                    var linkText = $(this).text();
                    if (linkText === ">>>") {
                        currentPage = numPages;
                    } else {
                        currentPage = parseInt(linkText);
                    }
                    showPage(currentPage);
                });

                function showPage(page) {
                    var start = (page - 1) * rowsPerPage;
                    var end = Math.min(start + rowsPerPage, totalItems);

                    $("#PostNoticetblid_searchandadduserspostthisnotice tbody tr").hide();
                    $("#PostNoticetblid_searchandadduserspostthisnotice tbody tr").slice(start, end).show();

                    var newStartIndex = Math.max(1, page - 4);
                    var newEndIndex = Math.min(newStartIndex + 9, numPages);

                    if (newEndIndex === numPages) {
                        newStartIndex = Math.max(1, numPages - 9);
                    }

                    pagination.empty();

                    for (var i = newStartIndex; i <= newEndIndex; i++) {
                        var link = $('<a class="Postnoticetable_pagination" style="margin: 0 2px;color: black;" href="#">' + i + '</a>');
                        pagination.append(link);
                    }

                    if (newEndIndex < numPages) {
                        pagination.append($('<span style="margin: 0 2px;">&hellip;</span>'));
                        var lastPageLink = $('<a class="Postnoticetable_pagination" style="margin: 0 2px;color: black;" href="#">>>></a>');
                        pagination.append(lastPageLink);
                    }

                    $('.Postnoticetable_pagination').removeClass('active');
                    $('.Postnoticetable_pagination').eq(page - newStartIndex).addClass('active')
                        .css({
                            'cursor': 'unset',
                            'background-color': 'yellow',
                            'padding': '2px',
                            'border-radius': '16px',
                            'color': 'black'
                        });
                }

            }
            else {

                //chkSelectCurrentPageUserslbl.style.display = "block";
                Twentyuserschk_div.style.display = "none";
                Alluserschk_div.style.display = "none";
                CurrentPagechk_div.style.display = "block";
            }
        } else {
            Twentyuserschk_div.style.display = "none";
            Alluserschk_div.style.display = "none";
            CurrentPagechk_div.style.display = "none";
        }
    }

</script>



