@model Connect4m_Web.Models.Attendenceproperites.UserScreen.Manageholidays
@{
    ViewData["Title"] = "Update_Holiday";
    Layout = null;
}


<span id="Errormessage" class="text-danger" style="position: fixed; margin: -20px 10px 0px 5px; "></span>

<div class="col-12" id="accordionoc1">
    <div class="card-header bg-primary">
        <h5 class="mb-0">
            <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#collapseicon1" aria-expanded="true" aria-controls="collapse11" id="FlassNewsbtn"><span id="HolidaymethodName"></span> HOLIDAYS</button>
        </h5>
    </div>
    <div class="collapse show" id="collapseicon1" aria-labelledby="collapseicon1" data-bs-parent="#accordionoc1">
        <form id="UpdateHoliday" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="padding-search row">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="form-group col-2">
                        <label class="form-grop control-label required  space">Start Date </label>
                    </div>
                    <div class="form-group col-4">
                        <input type="hidden" asp-for="HolidayId" id="HolidayId" />
                        <input type="date" asp-for="Sdate" id="StartDate_txtid" class="form-control" />
                        <span asp-validation-for="Sdate" class="text-danger"></span>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                    <div class="form-group col-2">
                        <label class="form-grop control-label required  space">End Date </label>
                    </div>
                    <div class="form-group col-4">
                        <input type="date" asp-for="Edate" id="EndDate_txtid" class="form-control" />
                        <span asp-validation-for="Edate" class="text-danger" id="Error_Sp"></span>
                        <span class="text-danger" id="Error_Sp"></span>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                    <div class="form-group col-2">
                        <label class="form-grop control-label required  space">Holiday Name  </label>
                    </div>
                    <div class="form-group col-4">
                        <input type="text" asp-for="HolidayName" id="Holidaytxtid" class="form-control" />
                        <span asp-validation-for="HolidayName" class="text-danger"></span>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                    <div class="form-group col-2">
                        <label class="form-grop control-label required  space">Holiday Type </label>

                    </div>
                    <div class="form-group col-6 radio radio-success mji">
                        <input id="radio55" type="radio" name="radio1" value="1" asp-for="HType" title="Holiday Type: Holidays">
                        <label for="radio55">Holidays</label>
                        <input id="radio54" type="radio" name="radio1" value="2" asp-for="HType" title="Holiday Type: Week-Ends">
                        <label for="radio54">Week-Ends</label>
                        <input id="radio53" type="radio" name="radio1" value="3" asp-for="HType" title="Holiday Type: Restricted Holidays">
                        <label for="radio53">Restricted Holidays</label>
                    </div>
                    <span asp-validation-for="HolidayType" id="HolidaySpid" class="text-danger"></span><div class="col-3"></div>
                    <div class="form-group col"></div>
                    <div class="form-group col-9">
                        <input type="button" id="Dltbtn" name="Delete" value="Delete" class="btn btn-pill btn-outline-danger btn-air-danger">
                        <input type="button" id="BackToSearchUbtn" name="BackToSearch" value="BackToSearch" class="btn btn-pill btn-outline-primary btn-aprimary">
                        <input type="button" id="CEFTHbtn" name="CEFTH" value="Create Exception for this Holiday" class="btn btn-pill btn-outline-info btn-air-info">
                        <input type="submit" id="Updatebtn" name="Update" value="Update" class="btn btn-pill btn-outline-success btn-air-success">
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </form>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Datatable/jquery.dataTables.min.js"></script>

<script src="~/js/Manageholiday.js"></script>
<script>

        $(document).ready(function () {
            debugger;
        var originalstartDate = '@ViewBag.Items.StartDate';
        var startdateParts = originalstartDate.split(' ')[0].split('-');
        var formattedstartDate = startdateParts[2] + '-' + startdateParts[1] + '-' + startdateParts[0];
        document.getElementById("StartDate_txtid").value = formattedstartDate;

        var originalEndDate = '@ViewBag.Items.EndDate';
        var enddateParts = originalEndDate.split(' ')[0].split('-');
        var formattedendDate = enddateParts[2] + '-' + enddateParts[1] + '-' + enddateParts[0];
        document.getElementById("EndDate_txtid").value = formattedendDate;

        $('#HolidayId').val('@ViewBag.Items.HolidayId');
        $('#Holidaytxtid').val('@ViewBag.Items.HolidayName');
        var holidayType = '@ViewBag.Items.HolidayType';
        $("input[name='radio1'][value='" + holidayType + "']").prop('checked', true);

    });

</script>