@model Connect4m_Web.Models.LMSproperties.PayRollproperties

@{
    ViewData["Title"] = "CreateSalaryAttribute";
    Layout = null;
}

<h5 class="mb-3">
    <span id="updatesalaryattribute">CREATE</span> INSTANCE SALARY ATTRIBUTES 

</h5>
<div class="card-body mb-2">

    @*=============================  Form Start ================================*@
    <form id="Insert_CSA" class="needs-validation was-validated" novalidate>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="text" asp-for="InstanceSalaryAttributeId" name="InstanceSalaryAttributeId" hidden style="display:none" readonly />

        <div>
            <div class="row">
                <div class="col">
                    @*=====================        Drop Down                =================*@

                    <div class="row mb-3">

                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="SalaryAttributeMasterId"></label>
                        <div class="col-sm-4">
                            <div class="position-relative" id="Drop_Format_SEM_3">

                                @Html.DropDownListFor(
                           x => x.SalaryAttributeMasterId,
                            new SelectList(ViewBag.SalaryAttributeMasterId, "Value", "Text"),
                           "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_SalaryAttributeMasterId_CSA", @style = "color:black;", @required = "required" })
                                <span asp-validation-for="SalaryAttributeMasterId" class="text-danger"></span>

                            </div>
                        </div>
                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="SalaryAttributeName"></label>
                        <div class="col-sm-4 form-group">
                            <input class="form-control" asp-for="SalaryAttributeName" required>
                            @if (Model?.DISPLAYICON_ATTRIBUTENAME == 1)
                            {
                                <div>
                                    <img src="~/Images_IMP/AuditIcon.png" style="width: 16px;" onclick="ShowUserChangeActivityAmount(@Model?.InstanceSalaryAttributeId,'SalaryAttributeName','InstanceSalaryAttributes');" />

                                </div>
                            }
                            <span asp-validation-for="SalaryAttributeName" class="text-danger"></span>

                        </div>
                    </div>
                    @*=====================        Drop Down                =================*@

                    <div class="row mb-3">

                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="SalaryAttributeType"></label>
                        <div class="col-sm-4">
                            <div class="position-relative" id="Drop_Format_SEM_3">

                                @Html.DropDownListFor(
                           x => x.SalaryAttributeType,
                            new SelectList(ViewBag.SalaryAttributeType, "Value", "Text"),
                           "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_SalaryAttributeType_CSA", @style = "color:black;", @required = "required" })
                                @if (Model?.DISPLAYICON_ATTRIBUTETYPE == 1)
                                {
                                    <div>
                                        <img src="~/Images_IMP/AuditIcon.png" style="width: 16px;" onclick="ShowUserChangeActivityAmount(@ViewBag.InstanceSalaryAttributeId,'SalaryAttributeType','InstanceSalaryAttributes');" />

                                    </div>
                                }

                                <span asp-validation-for="SalaryAttributeType" class="text-danger"></span>

                            </div>
                        </div>



                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="IsActive"></label>
                        <div class="col-sm-4 form-group">
                            <input class="form-check-input" asp-for="IsActive" type="checkbox">

                            @if (Model?.DISPLAYICON_ISACTIVE == 1)
                            {
                                <div>
                                    <img src="~/Images_IMP/AuditIcon.png" style="width: 16px;" onclick="ShowUserChangeActivityAmount(@ViewBag.InstanceSalaryAttributeId,'IsActive','InstanceSalaryAttributes');" />

                                </div>
                            }

                        </div>
                    </div>
                    @*=====================        Drop Down                =================*@

                    <div class="row mb-3">

                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="SalDependsOn"></label>
                        <div class="col-sm-4">
                            <div class="position-relative" id="Drop_Format_SEM_3">

                                @Html.DropDownListFor(
                           x => x.SalDependsOn,
                            new SelectList(ViewBag.SalDependsOn, "Value", "Text"),
                           "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_SalDependsOn_CSA", @style = "color:black;", @required = "required" })
                                @if (Model?.DISPLAYICON_SALARYDEPENDSON == 1)
                                {
                                    <div>
                                        <img src="~/Images_IMP/AuditIcon.png" style="width: 16px;" onclick="ShowUserChangeActivityAmount(@ViewBag.InstanceSalaryAttributeId,'SalaryDependsOn','InstanceSalaryAttributes');" />

                                    </div>
                                }

                                <span asp-validation-for="SalDependsOn" class="text-danger"></span>

                            </div>

                        </div>
                        <div id="appendislossofpay" style="display: @(Model?.SalDependsOn == 1 ? "contents" : "none");">


                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="isLossofpaydedication"></label>
                            <div class="col-sm-4">

                                <input type="checkbox" asp-for="isLossofpaydedication" class="form-check-input" />

                                @if (Model?.DISPLAYICON_ISLOSSOFPAY == 1)
                                {
                                    <div>
                                        <img src="~/Images_IMP/AuditIcon.png" style="width: 16px;" onclick="ShowUserChangeActivityAmount(@ViewBag.InstanceSalaryAttributeId,'LossOfPay','InstanceSalaryAttributes');" />

                                    </div>
                                }

                            </div>

                        </div>
                    </div>
                    @*=====================        TEXT BOX               =================*@

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="StartDate"></label>
                        <div class="col-sm-4 form-group">
                            <input asp-for="StartDate" class="form-control" id="StartDate" required />
                            @if (Model?.DISPLAYICON_STARTDATE == 1)
                            {
                                <div>
                                    <img src="~/Images_IMP/AuditIcon.png" style="width: 16px;" onclick="ShowUserChangeActivityAmount(@ViewBag.InstanceSalaryAttributeId,'StartDate','InstanceSalaryAttributes');" />

                                </div>
                            }
                            <span asp-validation-for="StartDate" class="text-danger"></span>

                        </div>
                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="EndDate"></label>
                        <div class="col-sm-4 form-group">
                            <input asp-for="EndDate" class="form-control" id="EndDate" required />
                            @if (Model?.DISPLAYICON_ENDDATE == 1)
                            {
                                <div>
                                    <img src="~/Images_IMP/AuditIcon.png" style="width: 16px;" onclick="ShowUserChangeActivityAmount(@ViewBag.InstanceSalaryAttributeId,'EndDate','InstanceSalaryAttributes');" />

                                </div>
                            }
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                            <span class="compare"></span>
                        </div>
                    </div>


                    @*=====================         BUTTONS                =================*@

                    <div class="row justify-content">
                        <div class="col-sm-3">
                        </div>

                        <div class="col-sm-9">
                            <button type="button" class="btn btn-info waves-effect waves-light" id="backtosearch_CSA">Back To Search</button>
                            <button type="reset" class="btn btn-warning waves-effect waves-light" id="clearform">Clear</button>
                            <button type="submit" class="btn btn-success waves-effect waves-light" id="Save_CSA">Save</button>

                            <button type="button" class="btn btn-primary waves-effect waves-light" id="Nextpage_CSA" onclick="nextpage('SearchSalaryAttributesForRoles',null)">Next Page</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

    @*=============================  Form End ================================*@


</div>






<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/PayRoll_1.js"></script>
