@model Connect4m_Web.Models.LMSproperties.ManageEmployeessearch
@{
    ViewData["Title"] = "SearchManageEmployees";
    Layout = null;
}



<style>
    #appendinsertmanagecategory {
        display: none
    }
</style>
@*<link href="~/css/CommonStyle.css" rel="stylesheet" />*@





<h4 class="py-3 mb-4"><span class="text-muted fw-light"> Admin Module/</span>Manage Employees</h4>

<div class="row mb-2">
    <div class="col-md-12 col-lg-12 mb-3">

        <div class="card mb-4">
            @*<div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">
                    <span id="AddNewText_Span_CreatePage">
                        MANAGE EMPLOYEES
                    </span>
                </h5>
            </div>*@
            <div class="demo-inline-spacing text-end">

                <button type="button" class="btn rounded-pill btn-info waves-effect waves-light" id="addnewmanageemployeesbtn">  Create New Employee</button>
            </div>
            <div id="appendsearchmanageemployees">
                <h5><label>EMPLOYEE DETAILS</label></h5>

                <div class="card-body mb-2">

                    @*=============================  Form Start ================================*@
                    <form id="Serach_ME">
                        <div>
                            <div class="row">
                                <input type="text" value="@ViewBag.instancceidME" class="form-control" id="InstanceidforME" hidden />

                                <div class="col">
                                    @*=====================        TEXT BOX                 =================*@

                                    <div class="row mb-3">

                                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name">User Name</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="UserNamesearch">
                                        </div>
                                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name">Role</label>
                                        <div class="col-sm-4">
                                            <div class="position-relative" id="Drop_Format_SEM_3">

                                                @Html.DropDownListFor(
                                           x => x.RoleId,
                                            new SelectList(ViewBag.RoleId, "Value", "Text"),
                                           "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_RoleId_MEsearch", @style = "color:black;" })

                                            </div>
                                        </div>

                                    </div>
                                    @*=====================        TEXT BOX                 =================*@

                                    <div class="row mb-3">

                                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name">First Name</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="FirstNamesearch">
                                        </div>
                                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name">Last Name</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="LastNamesearch">
                                        </div>

                                    </div>
                                    @*=====================        TEXT BOX                 =================*@

                                    <div class="row mb-3">

                                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name">Designation</label>

                                        <div class="col-sm-4">
                                            <div class="position-relative" id="Drop_Format_SEM_3">

                                                @Html.DropDownListFor(
                                           x => x.DesignationId,
                                            new SelectList(ViewBag.DesignationId, "Value", "Text"),
                                           "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_DesignationId_MEsearch", @style = "color:black;" })

                                            </div>
                                        </div>
                                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name">Employee.No</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="AdmissionNumbersearch">
                                        </div>

                                    </div>
                                    @*=====================        TEXT BOX                 =================*@

                                    <div class="row mb-3">

                                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name">Category</label>

                                        <div class="col-sm-4">
                                            <div class="position-relative" id="Drop_Format_SEM_3">

                                                @Html.DropDownListFor(
                                           x => x.Category,
                                            new SelectList(ViewBag.Category, "Value", "Text"),
                                           "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_Category_MEsearch", @style = "color:black;" })

                                            </div>
                                        </div>
                                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name">Sub Category</label>
                                        <div class="col-sm-4">
                                            <div class="position-relative" id="Drop_Format_SEM_3">

                                                @Html.DropDownListFor(
                                           x => x.SubCategory,
                                            new SelectList(ViewBag.SubCategory, "Value", "Text"),
                                           "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_SubCategory_MEsearch", @style = "color:black;opacity:0.5;", @disabled = true })

                                            </div>
                                        </div>

                                    </div>
                                    @*=====================        TEXT BOX                 =================*@

                                    <div class="row mb-3">

                                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name">Department</label>

                                        <div class="col-sm-4">
                                            <div class="position-relative" id="Drop_Format_SEM_3">

                                                @Html.DropDownListFor(
                                           x => x.Department,
                                            new SelectList(ViewBag.Department, "Value", "Text"),
                                           "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_Department_MEsearch", @style = "color:black;" })

                                            </div>
                                        </div>
                                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name"></label>
                                        <div class="col-sm-4">

                                        </div>

                                    </div>

                                    @*=====================         BUTTONS                =================*@

                                    <div class="row justify-content">
                                        <div class="col-sm-4">
                                        </div>

                                        <div class="col-sm-8">
                                            <button type="button" class="btn btn-info waves-effect waves-light" id="backtopage_ME" onclick="nextpage('SearchManageSubCatogory',null)">Previous Page</button>


                                            <button type="reset" class="btn btn-warning waves-effect waves-light" id="clearform">Clear</button>
                                            <button type="button" class="btn btn-success waves-effect waves-light" id="sub_tblME">Search</button>

                                            <button type="button" class="btn btn-primary waves-effect waves-light" id="Nextpage_ME" onclick="nextpage('SearchEmployeeAttendence',null)">Next Page</button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                    @*=============================  Form End ================================*@

                </div>
                @*=============================  TABLE START ================================*@


                <div class="card">

                    <h6 class="card-title mb-0">
                        <span>YOUR SEARCH RESULTS <span id="totalrecords_Tranctions_ME" class="badge badge-center rounded-pill bg-primary bg-glow">0</span> RECORD(S).</span>
                    </h6>
                    <div class="table-responsive text-nowrap">
                        <table id="tblMEsearchresults" class="link table table-hover table-bordered ">
                            <thead class="table-dark">
                                <tr>
                                    <th>
                                        S.No
                                    </th>
                                    <th>
                                        S.No
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Emp.No
                                    </th>
                                    <th>
                                        Category
                                    </th>
                                    <th>
                                        Sub Category
                                    </th>
                                    <th>
                                        Department
                                    </th>
                                    <th>
                                        Gross Salary
                                    </th>
                                    <th>
                                        Date of Joining
                                    </th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                @*=============================  TABLE END ================================*@
            </div>
            <div id="appendinsertmanageemployees">

            </div>

        </div>
    </div>

</div>

                                                
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>*@
@*<script src="~/lib/jquery/dist/jquery.js"></script>*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

<script src="~/js/PayRoll_5.js"></script>



