@model Connect4m_Web.Models.LMSproperties.SEMtblGovFundRecieved

@{
    ViewData["Title"] = "AddExpenditure";
    Layout = null;
}

<!--<link href="~/css/Managesubjecttools.css" rel="stylesheet" />-->
@*<link href="~/css/pagination.css" rel="stylesheet" />*@
<!--<link href="~/css/texts.css" rel="stylesheet" />-->

<style>
    #bankDetails, #ChequeDetails {
        display: none;
    }
/*
    #InsertSEM .col-2 label::after {
        content: " : ";
        display: inline-block;
        font-weight:900;
    }*/

    #InsertSEM .col-2 {
        text-align: end;
    }
    #radioaddexpenditure input[type="radio"]:checked {
        background-color: #fd2d63;
    }

    /*#InsertSEM .col-4 {
        left: 8px !important;
    }*/
</style>

<div class="card">
    <div class="card-body" id="checksall">
     
        <div class="col-sm-4" style="display:flex" id="radioaddexpenditure">

            @{ if (ViewBag?.radiobutton == "0")
                {
                    <div class="form-check form-check-primary ">
                        <input class="form-check-input" name="ExpenditureType" type="radio" value="0" checked>
                        <label class="form-check-label">
                            Credits (Income)
                        </label>
                    </div>
                    <div class="form-check form-check-primary ">
                        <input class="form-check-input" name="ExpenditureType" type="radio" value="1">
                        <label class="form-check-label">
                            Debits (Expenditure)
                        </label>
                    </div>
                }
                else
                {
                    <div class="form-check form-check-primary ">
                        <input class="form-check-input" name="ExpenditureType" type="radio" value="0">
                        <label class="form-check-label">
                            Credits (Income)
                        </label>
                    </div>
                    <div class="form-check form-check-primary ">
                        <input class="form-check-input" name="ExpenditureType" checked type="radio" value="1">
                        <label class="form-check-label">
                            Debits (Expenditure)
                        </label>
                    </div>
                } }
        </div>

        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">
                    <span id="AddNewText_Span_CreatePage">
                        ADD TYPE OF EXPENDITURE DETAILS
                    </span>
                </h5>
            </div>

            <div class="card-body">
                @*=============================  Form Start ================================*@
                <form id="InsertSEM" class="needs-validation was-validated" novalidate enctype="multipart/form-data">
                    <div>
                        <div class="row">
                            <div class="col">
                                <input asp-for="GovFundId" class="form-control" type="number" id="GovFundId_Sem" hidden />
                                @*=====================         DROP DOWN               =================*@

                                <div class="row mb-3">

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="TypeofExpenditure"></label>
                                    <div class="col-sm-4">
                                        <div class="position-relative" id="dropdown">
                                            @Html.DropDownListFor(
                                       x => x.TypeofExpenditure,
                                        new SelectList(ViewBag.FoundSource, "Value", "Text"),
                                      "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_FoundSource_SEM", @style = "color:black;", @required = "required" })
                                            <span asp-validation-for="TypeofExpenditure" class="text-danger"></span>

                                        </div>
                                    </div>

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="VendorName"></label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" asp-for="VendorName" id="VendorName_SEM">
                                    </div>
                                </div>
                                @*=====================         DROP DOWN               =================*@

                                <div class="row mb-3">

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="YearId"></label>
                                    <div class="col-sm-4">
                                        <div class="position-relative" id="dropdown">
                                            @Html.DropDownListFor(
                                       x => x.YearId,
                                        new SelectList(ViewBag.Years, "Value", "Text"),
                                      "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_Year_SEM", @style = "color:black;", @required = "required" })
                                            <span asp-validation-for="YearId" class="text-danger"></span>

                                        </div>
                                    </div>

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="MonthId"></label>
                                    <div class="col-sm-4">
                                        <div class="position-relative" id="dropdown">
                                            @Html.DropDownListFor(
                                       x => x.MonthId,
                                        new SelectList(ViewBag.Months, "Value", "Text"),
                                      "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_Month_SEM", @style = "color:black;", @required = "required" })
                                            <span asp-validation-for="MonthId" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>
                                @*=====================         DROP DOWN               =================*@

                                <div class="row mb-3">

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="Amount"></label>
                                    <div class="col-sm-4">
                                        <input asp-for="Amount" class="form-control" type="number" id="Amount_SEM" required>  <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="PaymentMode"></label>
                                    <div class="col-sm-4">
                                        <div class="position-relative" id="dropdown">
                                            @Html.DropDownListFor(
                                       x => x.PaymentMode,
                                        new SelectList(ViewBag.PaymentMode, "Value", "Text"),
                                      "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_PaymentMode_SEM", @style = "color:black;", @required = "required" })
                                            <span asp-validation-for="PaymentMode" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>
                               
                                @*=====================         DROP DOWN               =================*@
                                <div id="bankDetails">
                                <div class="row mb-3" >

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="BankName"></label>
                                    <div class="col-sm-4">
                                        <input asp-for="BankName" class="form-control" required>  <span asp-validation-for="BankName" class="text-danger"></span>
                                    </div>

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="BankAddress"></label>
                                    <div class="col-sm-4">
                                        <input asp-for="BankAddress" class="form-control" required>  <span asp-validation-for="BankAddress" class="text-danger"></span>
                                    </div>
                                    </div>
                                </div>  @*=====================         DROP DOWN               =================*@
                                <div id="ChequeDetails">
                                <div class="row mb-3" >

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="ChequeDDNo"></label>
                                    <div class="col-sm-4">
                                        <input asp-for="ChequeDDNo" class="form-control" required>  <span asp-validation-for="ChequeDDNo" class="text-danger"></span>
                                    </div>

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="ChequeDDDate"></label>
                                    <div class="col-sm-4">
                                        <input asp-for="ChequeDDDate" class="form-control" required>  <span asp-validation-for="ChequeDDDate" class="text-danger"></span>
                                    </div>
                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="ChequeDDBank"></label>
                                    <div class="col-sm-4">
                                        <input asp-for="ChequeDDBank" class="form-control" required>  <span asp-validation-for="ChequeDDBank" class="text-danger"></span>
                                    </div>

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="ChequeDDBranch"></label>
                                    <div class="col-sm-4">
                                        <input asp-for="ChequeDDBranch" class="form-control" required>  <span asp-validation-for="ChequeDDBranch" class="text-danger"></span>
                                    </div>

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="RoutingNumber"></label>
                                    <div class="col-sm-4">
                                        <input asp-for="RoutingNumber" class="form-control" required>  <span asp-validation-for="RoutingNumber" class="text-danger"></span>
                                    </div>

                                    <div class="col-sm-6">
                                    </div>
                                </div>
                                </div>
                                @*=====================         DROP DOWN               =================*@

                                <div class="row mb-3">

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="PaymentDate"></label>
                                    <div class="col-sm-4">
                                        <input asp-for="PaymentDate" class="form-control" required id="paymentdate_SEM">  <span asp-validation-for="PaymentDate" class="text-danger"></span>
                                    </div>

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="Unit"></label>
                                    <div class="col-sm-4">
                                        <input asp-for="Unit" class="form-control" type="number">  
                                    </div>
                                </div>
                                @*=====================         DROP DOWN               =================*@

                                <div class="row mb-3">

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="VendorCategory"></label>
                                    <div class="col-sm-4">
                                        <div class="position-relative" id="dropdown">
                                            @Html.DropDownListFor(
                                       x => x.VendorCategory,
                                        new SelectList(ViewBag.Vendorcategory, "Value", "Text"),
                                      "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_Vendor_SEM", @style = "color:black;" })

                                        </div>
                                    </div>

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="RemindAt"></label>
                                    <div class="col-sm-4">
                                        <input asp-for="RemindAt" class="form-control" required id="reminddate_SEM">  <span asp-validation-for="RemindAt" class="text-danger"></span>
                                    </div>
                                </div>
                                @*=====================         DROP DOWN               =================*@

                                <div class="row mb-3">

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="DocName"></label>
                                    <div class="col-sm-4">
                                        <input asp-for="DocName" class="form-control" type="file" id="DocmentName" accept=".doc, .docx, .pdf, .jpeg, .jpg, .png, .gif">
                                        @{ if (Model != null && Model.DocNameEdit != "")
                                            {
                                                <input asp-for="DocNameEdit" class="form-control" type="text" readonly id="DocNameEdit" />

                                            } }
                                    </div>

                                    <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="Description"></label>
                                    <div class="col-sm-4">
                                        <textarea asp-for="Description" class="form-control" rows="10" style="height:85px"></textarea>
                                    </div>
                                </div>


                                @*=====================         BUTTONS                =================*@

                                <div class="row justify-content">
                                    <div class="col-sm-4">
                                    </div>

                                    <div class="col-sm-8">
                                        <button type="button" class="btn btn-dark waves-effect waves-light" id="backtosearch_SEM">Back To Search</button>
                                        <button type="reset" class="btn btn-warning waves-effect waves-light" id="clearform">Clear</button>
                                        <button type="submit" class="btn btn-success waves-effect waves-light" id="Save_SEM">Save</button>

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>

                </form>
                @*=============================  Form End ================================*@
                <div id="appendprint_SEM" class="table-responsive text-nowrap">

                </div>
            </div>
        </div>
    </div>



</div>
                                           
                                           
                                    @*<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
                                    @*<script src="~/lib/jquery/dist/jquery.js"></script>

                                    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
                                    @section Scripts {
                                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                                    }*@
                                    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
                                    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
                                    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


                                    <script src="~/js/SEMscripts.js"></script>
