
@model Connect4m_Web.Models.LMSproperties.SEMproperitesSub

@{
    ViewData["Title"] = "AdminApprovals";

}
@*<link href="~/Datatable/jquery.dataTables.css" rel="stylesheet" />*@
@*<link href="~/css/Managesubjecttools.css" rel="stylesheet" />*@
@*<link href="~/css/CommonStyle.css" rel="stylesheet" />*@
@*<link href="~/css/pagination.css" rel="stylesheet" />*@
<link href="~/assets/css/vendors/font-awesome.css" rel="stylesheet" />

<style>
    /*.col-2 {
        text-align: right;
    }

    .form-control {
        height: 34px;
    }*/

    /*  #SerachSEM label::after {
        content: " : ";
        display: inline-block;
    }*/

    /*#tblSEMfees td:nth-child(1) {
        font-weight: 600;
        text-align: end;
    }

    tr:nth-child(even) {
        background-color: #fff !important;
    }

    #tblSEMfees {
        margin-bottom: 4px;
        margin-top: 4px;*/
    /*  border: 2px solid black;*/
    /*}

    .default-according.style-1 button {
        width: auto;
        text-align: left;
    }*/

    /* .buttons-pdf {
        background-color: green !important;
    }

    .buttons-print {
        background-color: black !important;
    }*/

    #tblSEMsearchresults_info {
        display: none;
    }

    #tblSEMsearchresults #SEMView_document {
        font-size: 27px;
        color: #500ef6;
        /*margin: 0px 0px 0px 27px;*/
        cursor: pointer;
        margin: 0px 0px 0px 8px;
    }

    #tblSEMsearchresults #SEM_Expendituredetails {
        font-size: 27px;
        color: green;
        /*margin: 0px 0px 0px 27px;*/
        cursor: pointer;
    }

    #tblSEMsearchresults .fa-eye:hover {
        background-color: #d5dee3;
        filter: drop-shadow(2px 4px 6px red);
        border-radius: 15px;
    }

    #tblSEMsearchresults .fa-trash-o:hover {
        background-color: black;
        cursor: pointer;
    }

    .dataTable td:nth-child(2) {
        color: #2B2B2B;
        /*  text-decoration: underline;*/
        font-weight: 600 !important;
    }

        .dataTable td:nth-child(2):hover {
            cursor: context-menu !important;
            color: #2B2B2B;
            text-decoration: none;
            font-weight: 600;
            background-color: antiquewhite;
        }

    .form-popupapprovals {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        overflow: auto;
    }

    /* Add styles to the form container */
    .form-containerapprovals {
        background-color: #fff;
        margin: 50px auto;
        padding: 20px;
        width: 80%;
        max-height: 80%;
        overflow-y: auto;
    }

    #close-popup {
        position: fixed;
        margin-left: 60%;
        padding: 6px;
        background-color: #fd2d63;
        color: white;
        z-index: 999;
        border-radius: 15px;
        border: 2px solid black;
    }

        #close-popup:hover {
            background-color: #2d830f;
            padding: 8px;
        }
    .SEMapprovals img, .SEMapprovalsafter img {
        height: 20px;
        width: 20px;
    }

    .SEMapprovalsafter {
        display: flex;
        gap: 5px;
    }
</style>

<div id="popupContainerapprovals" class="form-popupapprovals">

    <div class="form-containerapprovals" id="popupinnerapprovals">
        <span id="close-popup">Close</span>
        <form id="approvalsdiscrption">
        </form>
        <div class="row" id="newtextares">
            <div class="row" style="border: 1px solid; box-shadow: 0 0 0 0.25rem rgb(17 232 33 / 25%); padding: 7px; ">
                <div class="col-2"></div>

                <div class="form-group col-sm-2">
                    <label class="control-label  space">Approvals</label>
                </div>
               
                <div class="col-sm-4 form-group" style="display:flex">
                    <div class="form-check form-check-primary ">
                        <input class="form-check-input" name="Approvalsradio" type="radio" value="1" id="approva" checked>
                        <label class="form-check-label">
                            Approve
                        </label>
                    </div><div class="form-check form-check-primary ">
                        <input class="form-check-input" name="Approvalsradio" type="radio" value="0" id="reject">
                        <label class="form-check-label">
                            Reject
                        </label>
                    </div>
                    </div>




                    <div class="col-sm-4"></div>
                    <div class="col-sm-2"></div>
                    <div class="form-group col-sm-2">
                        <label class="control-label  space">Comments</label>
                    </div>
                    <div class="form-group col-sm-4">
                        <textarea></textarea>v
                        @*<textarea class="form-control" rows="10" style="height:85px"></textarea>*@
                    </div>
                    <div class="col-sm-4"></div>
                  
                   

                    <div class="row justify-content">
                        <div class="col-sm-6">
                        </div>

                        <div class="col-sm-6">
                      
                            <button type="button" class="btn btn-success waves-effect waves-light" id="submitapprovals">Submit</button>

                        </div>
                    </div>

                </div>
            </div>

        <footer @*style=" filter: drop-shadow(2px 4px 6px black);"*@ style="margin-left:1px !important">
            <div>
                <div>
                    <div>
                        <p style="margin-left: auto; background-color: #121451 !important; /* margin: 10px; */ padding: 20px; color: white; text-align: center; font-weight: 900;">Copyright 2023 © ADS SOFTEK Pvt.Ltd All rights reserved.</p>
                    </div>

                </div>
            </div>
        </footer>
    

</div>
</div>
<!DOCTYPE html>
<html>
<head>


</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">
        

        <h4 class="py-3 mb-4"><span class="text-muted fw-light">/</span>Expensive Admin Approvals</h4>

        <!-- Examples -->
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">
                @*<span class="ErrorMessageSpan"></span>*@
                @*<a id="BtnCreateNewSubjects" class="text-end" onclick="CreateNewSubjects()">Create Subject</a>*@
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div id="appendsearchexpansives">
                            <h5 class="mb-0">
                                <span id="AddNewText_Span_CreatePage">
                                    SEARCH TYPE OF EXPENDITURE
                                </span>
                            </h5> @*<small class="text-muted float-end">Default label</small>*@
                        </div>
                        </div>
                        <div class="card-body">
                            @*=============================  Form Start ================================*@
                            <form id="SerachSEM">
                                <div>
                                    <div class="row">
                                        <div class="col">

                                            @*=====================         DROP DOWN               =================*@

                                            <div class="row mb-3">

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="TypeofExpenditure"></label>
                                                <div class="col-sm-4">
                                                    <div class="position-relative" id="dropdown">
                                                        @Html.DropDownListFor(
                                                   x => x.TypeofExpenditure,
                                                    new SelectList(ViewBag.FoundSource, "Value", "Text"),
                                                  "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_FoundSource_SEM", @style = "color:black;" })

                                                    </div>
                                                </div>

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="PaymentMode"></label>
                                                <div class="col-sm-4">
                                                    <div class="position-relative" id="dropdown">
                                                        @Html.DropDownListFor(
                                                   x => x.PaymentMode,
                                                    new SelectList(ViewBag.PaymentMode, "Value", "Text"),
                                                  "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_PaymentMode_SEM", @style = "color:black;" })

                                                    </div>
                                                </div>
                                            </div>
                                            @*=====================         DROP DOWN               =================*@

                                            <div class="row mb-3">

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="YearId"></label>
                                                <div class="col-sm-4">
                                                    <div class="position-relative" id="dropdown">
                                                        @Html.DropDownListFor(
                                                   x => x.YearId,
                                                    new SelectList(ViewBag.Years, "Value", "Text"),
                                                  "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_Yearid_SEM", @style = "color:black;" })

                                                    </div>
                                                </div>

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="MonthId"></label>
                                                <div class="col-sm-4">
                                                    <div class="position-relative" id="dropdown">
                                                        @Html.DropDownListFor(
                                                   x => x.MonthId,
                                                    new SelectList(ViewBag.Months, "Value", "Text"),
                                                  "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_Monthid_SEM", @style = "color:black;" })

                                                    </div>
                                                </div>
                                            </div>
                                            @*=====================         DROP DOWN               =================*@

                                            <div class="row mb-3">

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="Amount"></label>
                                                <div class="col-sm-4">
                                                    <input class="form-control" asp-for="Amount" type="number" id="Amount_SEM">
                                                </div>
                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="Recipient"></label>
                                                <div class="col-sm-4">
                                                    <input class="form-control" asp-for="Recipient" id="Recipient_SEM">
                                                </div>


                                            </div>
                                            @*=====================         DROP DOWN               =================*@

                                            <div class="row mb-3">

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="VendorCategory"></label>
                                                <div class="col-sm-4">
                                                    <div class="position-relative" id="dropdown">
                                                        @Html.DropDownListFor(
                                                   x => x.VendorCategory,
                                                    new SelectList(ViewBag.Vendorcategory, "Value", "Text"),
                                                  "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_Vendor_SEM", @style = "color:black;" })

                                                    </div>
                                                </div>
                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="PaymentDate"></label>
                                                <div class="col-sm-4">
                                                    <input class="form-control" asp-for="PaymentDate" id="Date_SEM">
                                                </div>


                                            </div>
                                            @*=====================         DROP DOWN               =================*@

                                            <div class="row mb-3">

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="Approvals"></label>


                                                <div class="col-sm-4" style="display:flex">

                                                    <div class="form-check form-check-primary ">
                                                        <input class="form-check-input" asp-for="Approvals" type="radio" name="Approvals" value="1">
                                                        <label class="form-check-label">
                                                            Approve
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-primary ">
                                                        <input class="form-check-input" asp-for="Approvals" type="radio" name="Approvals" value="0">
                                                        <label class="form-check-label">
                                                            Reject
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-primary ">
                                                        <input class="form-check-input" asp-for="Approvals" type="radio" name="Approvals" value="undefined" checked>
                                                        <label class="form-check-label">
                                                            Both
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            @*=====================         BUTTONS                =================*@

                                            <div class="row justify-content">
                                                <div class="col-sm-5">
                                                </div>

                                                <div class="col-sm-7">
                                                    <button type="reset" class="btn btn-warning waves-effect waves-light" id="clearform">Clear</button>
                                                    <button type="submit" class="btn btn-success waves-effect waves-light" id="sub_tblSEM">Search</button>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </form>
                            @*=============================  Form End ================================*@
                        </div>

                        @*=============================  TABLE START ================================*@

                        <div class="card" id="dataforexpensivereport">
                            <h6 class="card-title mb-0">
                                <span>YOUR SEARCH RESULTED <span id="totalrecords_Tranctions_SEM" class="badge badge-center rounded-pill bg-primary bg-glow">0</span> RECORD(S).</span>
                            </h6>
                            <div class="table-responsive text-nowrap">
                                <table id="tblSEMsearchresults" class="table table-hover table-bordered ">
                                    <thead class="table-dark">
                                        <tr>


                                            <th>
                                                GovFundId
                                            </th>
                                            <th>
                                                S.No
                                            </th>
                                            <th>
                                                Type of Expenditure

                                            </th>
                                            <th>
                                                Amount

                                            </th>
                                            <th>
                                                Payment Mode

                                            </th>
                                            <th>
                                                Description

                                            </th>
                                            <th>
                                                Payment Date

                                            </th>
                                            <th>

                                                Status
                                            </th>
                                            <th>

                                                Credit/Debit
                                            </th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    



</body>
</html>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script src="~/Datatable/jquery.dataTables.js"></script>
<script src="~/Datatable/jquery.dataTables.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/CommonScripts.js"></script>

<script src="~/js/SEMscripts_admin.js"></script>

