@model IEnumerable<Connect4m_Web.Models.LMSproperties.ViewLectureDocsMain>

@{
    ViewData["Title"] = "ViewLectureDocs";
}


<link href="~/css/Viewlecturedocs.css" rel="stylesheet" />
<link href="~/css/progressbar.css" rel="stylesheet" />
<style>
    .accordion-button:not(.collapsed) {
        background-color: #24b364;
    }
</style>

<!DOCTYPE html>
<html>
<head>


</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">

        <h4 class="py-3 mb-4"><span class="text-muted fw-light">/</span>VIEW LECTURES / DOCS</h4>


        <!-- Examples -->
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">
                @*<span class="ErrorMessageSpan"></span>*@
                @*<a id="BtnCreateNewSubjects" class="text-end" onclick="CreateNewSubjects()">Create Subject</a>*@
                <div class="card mb-4">
                    <div class="row">
                        <div class="col">

                            @*=====================         DROP DOWN               =================*@
                            <div class="row mb-3">
                                @foreach (var item in Model)
                                {
                                    
                                <div class="col-sm-4">
                                    <div class="card-body">
                                        <div class="accordion">



                                            <div class="card accordion-item active">
                                                <h2 class="accordion-header" id="headingOne">
                                                    <button type="button" class="accordion-button btn btn-success waves-effect waves-light" data-bs-toggle="collapse" data-bs-target="#accordionWithIcon-@item.ViewLectureDocs[0].InstanceSubClassificationId" aria-expanded="true">
                                                        @item.ViewLectureDocs[0].ClassificationName
                                                    </button>
                                                </h2>

                                                <div id="accordionWithIcon-@item.ViewLectureDocs[0].InstanceSubClassificationId" class="accordion-collapse collapse show" style="">
                                                    <div class="accordion-body">
                                                        <div style="margin-top: 12%; margin-bottom: 12%;">


                                                            <img src="~/Images/Book.png" style="height: 70px; width: 60px; border-width: 0px;" />
                                                            <label style="margin-left: 19%;">   @item.ViewLectureDocs[0].ClassificationDescription</label>
                                                        </div>
                                                        @{

                                                            double progressbar = ((double)item.ViewLectureDocs[0].viewPoints / (double)item.ViewLectureDocs[0].TotalPoints) * 100;

                                                        }
                                                        <div class="progress-bar" style="background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(#500ef6 @Math.Round(ViewBag.GetallViewvideopoints)%,#bfbed5 0);margin-left:auto">
                                                            @Convert.ToInt32(ViewBag.GetallViewvideopoints)%
                                                        </div>

                                                    </div>
                                                </div>
                                                <div id="VLD_ProgressDetails">
                                                    <input type="text" value="@item.ViewLectureDocs[0].InstanceClassificationId" id="VLD_Instanceclassficationid" hidden style="display:none" />
                                                    <input type="text" value="@item.ViewLectureDocs[0].InstanceSubClassificationId" id="VLD_InstanceSubClassificationId" hidden style="display:none" />
                                                    <label id="ProgramDetails" class="btn">Program Details >></label>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
    </div>



</body>
</html>








<script src="~/lib/jquery/dist/jquery.js"></script>

<script src="~/js/ViewLecturedocs.js"></script>
@*<script>
      // JavaScript code to update the progress bar
      function updateProgressBar(progress) {
        var progressBar = document.getElementById('myProgressBar');
        progressBar.style.width = progress + '%';
        progressBar.setAttribute('aria-valuenow', progress);
      }

      // Example usage: Update the progress to 50%
      updateProgressBar(50);
    </script>*@



