@model Connect4m_Web.Models.LMSproperties.StaffAttendance
@{
    ViewData["Title"] = "AttendanceRegister";

}
@*<link href="~/css/CommonStyle.css" rel="stylesheet" />
    <link href="~/Datatable/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/assets/css/vendors/font-awesome.css" rel="stylesheet" />*@
<style>
    #appendstaffsearchatendance {
        display: none
    }

    /*.dataTable td:nth-child(2) {
        color: black;*/
    /*  text-decoration: underline;*/
    /*font-weight: 600 !important;
    }

    .dataTable td:nth-child(1) {
        text-align: center !important;
    }


    .dataTable td:nth-child(2):hover {
        cursor: auto !important;
        color: black;
        font-weight: 600;
        text-decoration: none;
        background-color: antiquewhite;
    }

    .dataTables_wrapper table.dataTable tbody td {
        text-align: center;
    }

    .table > thead {
        background-color: black;
        color: white;
    }

    .table > :not(:last-child) > :last-child > * {
        color: white;
        font-weight: 900;
        padding: 5px;
    }

    .dataTables_wrapper table.dataTable tbody td :hover {
        background-color: black !important;
        color: white;
        font-weight: 900
    }

    thead tr:hover {
        background-color: black !important;
    }

    #tblStaffattendancesearchresults tbody tr td:hover {
        background-color: #040404;
        color: white;
    }

    .dataTables_wrapper table.dataTable th {
        padding: 0px;
    }

    table.dataTable thead th {
        padding: 4px
    }

    thead {
        height: 36px;
    }

    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }*/
</style>


<!DOCTYPE html>
<html>
<head>


</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">


        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Reports /</span>Attendance Register</h4>

        <!-- Examples -->
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">
                @*<span class="ErrorMessageSpan"></span>*@
                @*<a id="BtnCreateNewSubjects" class="text-end" onclick="CreateNewSubjects()">Create Subject</a>*@
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span id="AddNewText_Span_CreatePage">
                                SEARCH
                            </span>
                        </h5> @*<small class="text-muted float-end">Default label</small>*@
                    </div>
                    <div id="appendsearchmanageemployees">
                        <div class="card-body">
                            @*=============================  Form Start ================================*@
                            <form id="Serach_Staffregister" class="needs-validation was-validated" novalidate>
                                <div>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" value="@ViewBag.instancceidME" class="form-control" id="InstanceidforSAR" disabled hidden />

                                            @*=====================      =================*@

                                            @*=====================         DROP DOWN               =================*@

                                            <div class="row mb-3">

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="InstanceUserCode"></label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" asp-for="InstanceUserCode">
                                                </div>

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="InstanceClassificationId"></label>
                                                <div class="col-sm-4">
                                                    <div class="position-relative" id="dropdown">
                                                        @Html.DropDownListFor(
                                                   x => x.InstanceClassificationId,
                                                    new SelectList(ViewBag.Department, "Value", "Text"),
                                                  "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_instanceclassficationstaff", @style = "color:black;" })

                                                    </div>
                                                </div>
                                            </div>
                                            @*=====================         DROP DOWN               =================*@

                                            <div class="row mb-3">

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="FirstName"></label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" asp-for="FirstName">
                                                </div>

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="LastName"></label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" asp-for="LastName">
                                                </div>

                                            </div>
                                            @*=====================         DROP DOWN               =================*@

                                            <div class="row mb-3">

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="Month"></label>
                                                <div class="col-sm-4">
                                                    <div class="position-relative" id="dropdown">
                                                        @Html.DropDownListFor(
                                                   x => x.Month,
                                                    new SelectList(ViewBag.Months, "Value", "Text"),
                                                  "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_staff_month", @style = "color:black;", @required = "required" })
                                                        <span asp-validation-for="Month" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="Year"></label>
                                                <div class="col-sm-4">
                                                    <div class="position-relative" id="dropdown">
                                                        @Html.DropDownListFor(
                                                   x => x.Year,
                                                    new SelectList(ViewBag.Years, "Value", "Text"),
                                                  "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_staff_Year", @style = "color:black;", @required = "required" })
                                                        <span asp-validation-for="Year" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            @*=====================         DROP DOWN               =================*@

                                            <div class="row mb-3">

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="PayrollCategory"></label>
                                                <div class="col-sm-4">
                                                    <div class="position-relative" id="dropdown">
                                                        @Html.DropDownListFor(
                                                   x => x.PayrollCategory,
                                                    new SelectList(ViewBag.PayrollCategory, "Value", "Text"),
                                                  "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_staff_PayrollCategory", @style = "color:black;" })

                                                    </div>
                                                </div>

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="PayrollSubCategory"></label>
                                                <div class="col-sm-4">
                                                    <div class="position-relative" id="dropdown">
                                                        @Html.DropDownListFor(
                                                   x => x.PayrollSubCategory,
                                                    new SelectList(ViewBag.PayRollSubCategory, "Value", "Text"),
                                                  "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_staff_PayRollSubCategory", @style = "color:black;", @multiple = "multiple" })

                                                    </div>
                                                </div>
                                            </div>
                                            @*=====================         DROP DOWN               =================*@

                                            <div class="row mb-3">

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="LMSCategory"></label>
                                                <div class="col-sm-4">
                                                    <div class="position-relative" id="dropdown">
                                                        @Html.DropDownListFor(
                                                   x => x.LMSCategory,
                                                    new SelectList(ViewBag.LMSCategory, "Value", "Text"),
                                                  "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_staff_LMSCategory", @style = "color:black;" })

                                                    </div>
                                                </div>

                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="LMSSubCategory"></label>
                                                <div class="col-sm-4">
                                                    <div class="position-relative" id="dropdown">
                                                        @Html.DropDownListFor(
                                                   x => x.LMSSubCategory,
                                                    new SelectList(ViewBag.LMSSubCategory, "Value", "Text"),
                                                  "-------select-------", new { @class = "select2 form-select select2-hidden-accessible", @id = "dropdown_staff_LMSSubCategory", @style = "color:black;", @multiple = "multiple" })

                                                    </div>
                                                </div>
                                            </div>

                                            @*=====================         BUTTONS                =================*@

                                            <div class="row justify-content">
                                                <div class="col-sm-5">
                                                </div>

                                                <div class="col-sm-7">
                                                    <button type="reset" class="btn btn-warning waves-effect waves-light" id="clearform">Clear</button>
                                                    <button type="submit" class="btn btn-success waves-effect waves-light" id="sub_tblPGE">Search</button>

                                                </div>
                                            </div>




                                        </div>
                                    </div>
                                </div>

                            </form>
                            @*=============================  Form End ================================*@
                        </div>
                    </div>
                </div>



            </div>

        </div>

        <div id="appendstaffsearchatendance"></div>
    </div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/Datatable/jquery.dataTables.js"></script>
<script src="~/Datatable/jquery.dataTables.min.js"></script>
@*
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>*@
@*
    <script src="~/lib/jquery/dist/jquery.js"></script>*@
@*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>*@

<script src="~/js/Staff_Attendance.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>






